<div class="container-fluid">
  <div class="row">
    <div class="col-lg-5">

      <div class="card card-primary card-outline">
        <div class="card-header">
          <h5 class="m-0">Robot Client List</h5>
        </div>
        <div class="card-body">
          <h6 class="card-title">List all enrolled robot clients</h6>

          <p class="card-text">Follow the link below to see the of list all enrolled robot clients
          </p>
          <a href="/client" class="btn btn-primary">Clients list</a>
        </div>
      </div>
      <div class="card card-outline">
        <div class="card-header">
          <h5 class="m-0">Conversation List</h5>
        </div>
        <div class="card-body">
          <h6 class="card-title">List all conversations</h6>

          <p class="card-text">Follow the link below to see the of list all conversations
          </p>
          <a href="/session" class="btn btn-primary">Conversation list</a>
        </div>
      </div>


    </div>
    <!-- /.col-md-6 -->
  </div>
  <!-- /.row -->
</div><!-- /.container-fluid -->
