<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center justify-content-between m-b-15">
            <h4 class="m-b-0">Customer List</h4>
            <div class="card-toolbar">
                <ul>
                    <!-- <li>
              <a class="text-gray" href="javascript:void(0)">
                <i class="anticon anticon-reload font-size-20"></i>
              </a>
            </li>-->
                    <li>
                        <a class="text-gray" href="javascript:void(0)">
                            <i class="anticon anticon-delete font-size-20"></i>
                        </a>
                    </li>
                    <li>
                        <a class="text-gray" (click)="addNew()">
                            <i class="anticon anticon-plus font-size-20"></i>
                            Add New
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <p-table #dt1 [value]="categories" editMode="row" dataKey="_id" selectionMode="single" [responsive]="true"
            [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10,25,50]" [globalFilterFields]="['categoryName']">
            <ng-template pTemplate="caption">
                <div class="p-d-flex">
                    <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                        (click)="clear(dt1)"></button>
                    <span class="p-input-icon-left p-ml-auto" style="float: right;">
                        <i class="pi pi-search"></i>
                        <input #search pInputText type="text" (input)="dt1.filterGlobal(search.value, 'contains')"
                            placeholder="Search keyword" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <!-- <th style="width: 3rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th> -->
                    <th pSortableColumn="categoryId">ID <p-sortIcon field="categoryId"></p-sortIcon>
                    </th>
                    <th pSortableColumn="categoryName">Name <p-sortIcon field="categoryName"></p-sortIcon>
                    </th>
                    <th pSortableColumn="categoryActive">Active <p-sortIcon field="categoryActive"></p-sortIcon>
                    </th>
                    <th style="width:8rem">Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="colgroup">
                <colgroup>
                    <col style="width:10%">
                    <col style="width:65%">
                    <col style="width:15%">
                    <col style="width:10%">
                </colgroup>
            </ng-template>
            <ng-template pTemplate="body" let-category let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="category">
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="category.categoryId" style="width: 100%;">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{category.categoryId}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="category.categoryName" style="width: 100%;">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{category.categoryName}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-inputSwitch [(ngModel)]="category.categoryActive"></p-inputSwitch>
                            </ng-template>
                            <ng-template pTemplate="output">
                                <p-inputSwitch [(ngModel)]="category.categoryActive" [disabled]="true"></p-inputSwitch>
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="text-align:center">
                        <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                            class="p-button-rounded p-button-text"></button>

                        <button *ngIf="!editing" pButton pRipple type="button" icon="pi pi-trash"
                            class="p-button-rounded p-button-text p-button-danger"
                            (click)="removeCategory(ri)"></button>

                        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                            class="p-button-rounded p-button-text p-button-success p-mr-2"
                            (click)="editCategory(ri)"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                            class="p-button-rounded p-button-text p-button-danger"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>


    </div>
</div>


<p-dialog [(visible)]="categoryDialog" [style]="{width: '450px'}" header="Add Category" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="name">ID</label>
            <input type="text" pInputText id="Id" [(ngModel)]="newCategory.categoryId" required />
            <small class="p-error" *ngIf="!newCategory.categoryId">Id is required.</small>
        </div>
        <div class="p-field">
            <label for="name">Name</label>
            <input type="text" pInputText id="name" [(ngModel)]="newCategory.categoryName" required autofocus />
            <small class="p-error" *ngIf="!newCategory.categoryName">Name is required.</small>
        </div>
        <div class="p-field">
            <label for="name">Active</label>
            <p-inputSwitch id="active" [style]="{'display':'block'}" [(ngModel)]="newCategory.categoryActive" required>
            </p-inputSwitch>
        </div>
        <button pButton label="Add" [style]="{'width': '6em'}" class="float-right btn btn-primary" icon="pi pi-plus"
            (click)="save()" [disabled]="!newCategory.categoryName || !newCategory.categoryId"></button>
    </ng-template>
</p-dialog>