<!-- blog-section -->
<section class="blog-section p-tb-100 bg-overlay-2">
  <div class="container">
    <div class="section-title">
      <small>Blog</small>
      <h2 class="color-white">Read Our Latest Food News</h2>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4 pb-30 wow animate__slideInUp" data-wow-duration="1s" data-wow-delay="0.1s">
        <div class="blog-card blog-card-white">
          <div class="blog-card-thumb">
            <a href="blog-details.html">
              <img src="assets/images/blog-1.jpg" alt="blog">
            </a>
          </div>
          <div class="blog-card-content">
            <ul class="blog-entry">
              <li><i class="flaticon-calendar-1"></i>20 Oct 2020</li>
              <li><i class="flaticon-man-user"></i>By Admin</li>
            </ul>
            <h3><a href="blog-details.html">Why Burger Made So Tasty In Recent Days</a></h3>
            <p>This Mexican Style Burger is pumped out with flavor</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 pb-30 wow animate__slideInUp" data-wow-duration="1s" data-wow-delay="0.3s">
        <div class="blog-card blog-card-white">
          <div class="blog-card-thumb">
            <a href="blog-details.html">
              <img src="assets/images/blog-2.jpg" alt="blog">
            </a>
          </div>
          <div class="blog-card-content">
            <ul class="blog-entry">
              <li><i class="flaticon-calendar-1"></i>15 Oct 2020</li>
              <li><i class="flaticon-man-user"></i>By Admin</li>
            </ul>
            <h3><a href="blog-details.html">What Is More Convenient? Dine In Or Take Away?</a></h3>
            <p>This Mexican Style Burger is pumped out with flavor</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4 pb-30 offset-md-3 offset-lg-0 wow animate__slideInUp" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="blog-card blog-card-white">
          <div class="blog-card-thumb">
            <a href="blog-details.html">
              <img src="assets/images/blog-1.jpg" alt="blog">
            </a>
          </div>
          <div class="blog-card-content">
            <ul class="blog-entry">
              <li><i class="flaticon-calendar-1"></i>12 Oct 2020</li>
              <li><i class="flaticon-man-user"></i>By Admin</li>
            </ul>
            <h3><a href="blog-details.html">What Is The Most Hived Pizza Among The Teen Agers?</a></h3>
            <p>This Mexican Style Burger is pumped out with flavor</p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <a href="blogs-grid-without-sidebar.html" class="btn">Explore Blog <i class="flaticon-right-arrow-2"></i></a>
    </div>
  </div>
</section>
<!-- .end blog-section -->
