<div class="card card-primary">
  <div class="card-header">
    <div class="d-flex align-items-center justify-content-between m-v-15">
      <h3 class="card-title">Table Details <span *ngIf="!newForm">T-{{table.tableId}}</span></h3>
      <div class="card-toolbar">
        <div class="d-flex">
          <button pButton pRipple type="button" label="Back" icon="pi pi-chevron-left" *ngIf="!editMode"
                  class="p-button-rounded p-button-success m-r-5 d-none d-sm-block"
                  [routerLink]="['../']"></button>

          <button pButton pRipple type="button" icon="pi pi-chevron-left" *ngIf="!editMode"
                  class="p-button-rounded p-button-success m-r-5  d-sm-none" [routerLink]="['../']"></button>

          <button pButton pRipple type="button" label="Delete" icon="pi pi-trash" *ngIf="editMode"
                  [disabled]="true" class="p-button-rounded p-button-danger m-r-5 d-none d-sm-block"></button>

          <button pButton pRipple type="button" label="Cancel" icon="pi pi-times"
                  class="p-button-rounded m-r-5 d-none d-sm-block" *ngIf="editMode"
                  (click)="disableEdit()"></button>

          <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded m-r-5  d-sm-none"
                  *ngIf="editMode" (click)="disableEdit()"></button>

          <button pButton pRipple type="button" label="Edit" icon="pi pi-pencil"
                  class="p-button-rounded m-r-5 d-none d-sm-block" *ngIf="!editMode"
                  (click)="enableEdit()"></button>

          <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded m-r-5  d-sm-none"
                  *ngIf="!editMode" (click)="enableEdit()"></button>

          <button pButton pRipple type="button" label="Save" icon="pi pi-save" *ngIf="editMode"
                  class="p-button-rounded p-button-secondary m-r-5 d-none d-sm-block"
                  (click)="onSubmit()"></button>

          <button pButton pRipple type="button" icon="pi pi-save" *ngIf="editMode"
                  class="p-button-rounded p-button-secondary m-r-5  d-sm-none" (click)="onSubmit()"></button>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body">
    <form [formGroup]="tableForm" (ngSubmit)="onSubmit()">
      <div class="p-fluid">
        <p-divider>
          <div class="p-d-inline-flex p-ai-center">
            <i class="pi pi-user p-mr-2 mr-2"></i>
            <b>Identification</b>
          </div>
        </p-divider>

        <div class="form-group">
          <label for="tableId" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 font-weight-bold">Table ID</label>
          <div class="p-col-12 p-md-10">
            <input autofocus pInputText type="text"  formControlName="tableId"
                   id="tableId" placeholder="Enter Table ID">
          </div>
        </div>
        <div class="form-group">
          <label for="tableSeats" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 font-weight-bold">Table Seats</label>
          <div class="p-col-12 p-md-10">
            <input pInputText type="text" formControlName="tableSeats" id="tableSeats" placeholder="Enter Seats">
          </div>
        </div>
        <div class="form-group">
          <label for="area" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 font-weight-bold">Area</label>
          <p-dropdown id="area" class="ml-2" [options]="areas" formControlName="area"
                      optionLabel="areaName" optionValue="_id"></p-dropdown>
          <!-- <input type="text" class="form-control form-control-border" formControlName="area" id="area"
              placeholder="Enter Area"> -->
        </div>

        <div class="form-group">
              <label for="tableOccupied" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 font-weight-bold">Table Occupied</label> <br>
              <p-inputSwitch id="tableOccupied" class="ml-2" formControlName="tableOccupied"></p-inputSwitch>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Action Processed</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Changes saved!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                [routerLink]="['../']">Close
        </button>
      </div>
    </div>
  </div>
</div>
