<app-customize-product-modal></app-customize-product-modal>
<app-spinner *ngIf="loader"></app-spinner>
<div  *ngIf="!loader" id="sectionId-product-detial-page" class="product-details-section pt-100 pb-70 bg-black">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-12 col-md-12 col-lg-5 pb-30">
        <div class="product-details-item">
          <div class="product-details-slider">
            <div class="product-details-for popup-gallery">
              <div class="product-for-item">
                <a href="assets/images/product-1.png"><img [src]="_helperService.resolveProductImage(product)"
                    alt="product"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 pb-30">
        <div class="product-details-item">
          <div class="product-details-caption">
            <div class="product-status product-status-danger mb-20">
              New
            </div>
            <h3 class="mb-20 color-white">{{product.productName}}</h3>
            <h4 class="mb-20 product-id">{{product.productSerialNo}}</h4>
            <div class="review-star mb-20">
              <ul>
                <li class="full-star"><i class="flaticon-star-1"></i></li>
                <li class="full-star"><i class="flaticon-star-1"></i></li>
                <li class="full-star"><i class="flaticon-star-1"></i></li>
                <li class="full-star"><i class="flaticon-star-1"></i></li>
                <li class="full-star"><i class="flaticon-star-2"></i></li>
              </ul>
              <p>(4 Reviews)</p>
            </div>
            <div class="product-details-price mb-20">
              <h4>$ {{product.productRate.standard}}</h4>
            </div>
            <div class="product-details-para mb-20">
              <p>{{product.productDesc}}</p>
            </div>
            <div class="product-action-info mb-20">
              <h4>Category: {{product.productCategoryName}}</h4>
            </div>
            <div class="product-action-info mb-20">
              <div class="d-flex flex-wrap align-items-center
                                    product-quantity">
                <button id="entityId-product-add-to-cart" (click)="addToCart(product)"
                  class="btn btn-icon product-quantity-item">
                  Add To Cart
                  <i class="flaticon-shopping-cart-black-shape"></i>
                </button>
              </div>
            </div>
            <div class="product-action-info">
              <div class="product-add-wishlist">
                <a href="#"><i class="flaticon-heart"></i>Add To Wishlist</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="related-product mt-50">
      <div class="sub-section-title">
        <h3 class="color-white">Related Items</h3>
      </div>
      <div class="receipe-grid receipe-grid-three">
        <div *ngFor="let item of relatedProduct" class="receipe-item receipe-item-black pb-30">
          <div class="receipe-item-inner">
            <div class="receipe-image">
              <img style="width:100px;height: 100px;border-radius: 10px"
                [src]="_helperService.resolveProductImage(item)" alt="receipe">
            </div>
            <div class="receipe-content">
              <div class="receipe-info">
                <h3><a href="/product-detail/?productId={{product.productId}}">{{item.productName}}</a></h3>
                <h4>${{item.productRate.standard}}</h4>
              </div>
              <div class="receipe-cart receipe-cart-main">
                <a (click)="addToCart(item)">
                  <i class="flaticon-supermarket-basket"></i>
                  <i class="flaticon-supermarket-basket"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
