<app-customize-product-modal></app-customize-product-modal>
<div id="sectionId-product-detial-page" class="product-details-section pt-100 pb-70 bg-black">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-12 col-md-12 col-lg-5 pb-30">
        <div class="product-details-item">
          <div class="product-details-slider">
            <div class="product-details-for popup-gallery">
              <div class="product-for-item">
                <a href="assets/images/product-1.png"><img [src]="resolveImages()" alt="product"></a>
              </div>
<!--              <div class="product-for-item">-->
<!--                <a href="assets/images/product-1.png"><img src="assets/images/product-1.png" alt="product"></a>-->
<!--              </div>-->
<!--              <div class="product-for-item">-->
<!--                <a href="assets/images/product-1.png"><img src="assets/images/product-1.png" alt="product"></a>-->
<!--              </div>-->
            </div>
<!--            <div class="product-details-nav">-->
<!--              <div class="product-nav-item">-->
<!--                <div class="product-nav-item-inner">-->
<!--                  <img src="assets/images/product-1.png" alt="product">-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="product-nav-item">-->
<!--                <div class="product-nav-item-inner">-->
<!--                  <img src="assets/images/product-1.png" alt="product">-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="product-nav-item">-->
<!--                <div class="product-nav-item-inner">-->
<!--                  <img src="assets/images/product-1.png" alt="product">-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 pb-30">
        <div class="product-details-item">
          <div class="product-details-caption">
            <div class="product-status product-status-danger mb-20">
              New
            </div>
            <h3 class="mb-20 color-white">{{product.productName}}</h3>
            <h4 class="mb-20 product-id">{{product.productSerialNo}}</h4>
            <div class="review-star mb-20">
              <ul>
                <li class="full-star"><i class="flaticon-star-1"></i></li>
                <li class="full-star"><i class="flaticon-star-1"></i></li>
                <li class="full-star"><i class="flaticon-star-1"></i></li>
                <li class="full-star"><i class="flaticon-star-1"></i></li>
                <li class="full-star"><i class="flaticon-star-2"></i></li>
              </ul>
              <p>(4 Reviews)</p>
            </div>
            <div class="product-details-price mb-20">
              <h4>$ {{product.productRate.standard}}</h4>
            </div>
            <div class="product-details-para mb-20">
              <p>{{product.productDesc}}</p>
            </div>
            <div class="product-action-info mb-20"><h4>Category: {{product.productCategoryName}}</h4></div>
<!--            <div class="product-action-info mb-20">-->
<!--              <h4>Sizes:</h4>-->
<!--              <ul class="product-size-list">-->
<!--                <li *ngFor="let item of product.productRate | keyvalue" class="active text-capitalize">-->
<!--                  <span *ngIf="item.value">{{item.key}} : {{item.value}}</span>-->
<!--                  <span *ngIf="!item.value">{{item.key}} : 0</span>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </div>-->
            <div class="product-action-info mb-20">
              <div class="d-flex flex-wrap align-items-center
                                    product-quantity">
                <button id="entityId-product-add-to-cart" (click)="addToCart(product)" class="btn btn-icon product-quantity-item">
                  Add To Cart
                  <i class="flaticon-shopping-cart-black-shape"></i>
                </button>
              </div>
            </div>
            <div class="product-action-info">
              <div class="product-add-wishlist">
                <a href="#"><i class="flaticon-heart"></i>Add To Wishlist</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--    <div class="product-details-tab below-border">-->
<!--      <ul class="product-details-tab-list">-->
<!--        <li class="active" data-product-tab-list="1">Description</li>-->
<!--&lt;!&ndash;        <li data-product-tab-list="2">Reviews <span>(2)</span></li>&ndash;&gt;-->
<!--      </ul>-->
<!--      <div class="product-tab-information">-->
<!--        <div class="product-tab-information-item active" data-product-details-tab="1">-->
<!--          <div class="product-description mb-30">-->
<!--            <p>{{product.productDesc}}</p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="product-tab-information-item" data-product-details-tab="2">-->
<!--          <div class="product-review-list">-->
<!--            <div class="testimonial-carousel-item bg-main product-review-item">-->
<!--              <p class="carousel-para">The Taste is still in my mouth and I can feel the depth of the taste of the every ingr edients used in the food. I really Love Fafo.</p>-->
<!--              <div class="carousel-info-grid">-->
<!--                <div class="carousel-thumb">-->
<!--                  <img [src]="resolveImages()" alt="client">-->
<!--                </div>-->
<!--                <div class="carousel-info text-right">-->
<!--                  <div class="review-star">-->
<!--                    <ul class="justify-content-end">-->
<!--                      <li class="full-star"><i class="flaticon-star-1"></i></li>-->
<!--                      <li class="full-star"><i class="flaticon-star-1"></i></li>-->
<!--                      <li class="full-star"><i class="flaticon-star-1"></i></li>-->
<!--                      <li class="full-star"><i class="flaticon-star-1"></i></li>-->
<!--                      <li class="full-star"><i class="flaticon-star-1"></i></li>-->
<!--                    </ul>-->
<!--                  </div>-->
<!--                  <h3 class="carousel-name">Angela Carter</h3>-->
<!--                  <h4 class="carousel-designation">CEO of Rockings</h4>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="testimonial-carousel-item bg-main product-review-item">-->
<!--              <p class="carousel-para">The Taste is still in my mouth and I can feel the depth of the taste of the every ingr edients used in the food. I really Love Fafo.</p>-->
<!--              <div class="carousel-info-grid">-->
<!--                <div class="carousel-thumb">-->
<!--                  <img src="assets/images/client-2.jpg" alt="client">-->
<!--                </div>-->
<!--                <div class="carousel-info text-right">-->
<!--                  <div class="review-star">-->
<!--                    <ul class="justify-content-end">-->
<!--                      <li class="full-star"><i class="flaticon-star-1"></i></li>-->
<!--                      <li class="full-star"><i class="flaticon-star-1"></i></li>-->
<!--                      <li class="full-star"><i class="flaticon-star-1"></i></li>-->
<!--                      <li class="full-star"><i class="flaticon-star-1"></i></li>-->
<!--                      <li class="full-star"><i class="flaticon-star-1"></i></li>-->
<!--                    </ul>-->
<!--                  </div>-->
<!--                  <h3 class="carousel-name">John Karahan</h3>-->
<!--                  <h4 class="carousel-designation">Food Bloger</h4>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="product-review-area">-->
<!--            <div class="sub-section-title">-->
<!--              <h3 class="color-white">Add Your Reviews</h3>-->
<!--            </div>-->
<!--            <form>-->
<!--              <div class="form-review mb-20">-->
<!--                <fieldset class="rating">-->
<!--                  <ul>-->
<!--                    <li>-->
<!--                      <input type="radio" id="star5" name="rating" value="5" />-->
<!--                      <label class="full" for="star5"></label>-->
<!--                      <input type="radio" id="star4half" name="rating" value="4 and a half" />-->
<!--                      <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                      <input type="radio" id="star4" name="rating" value="4" />-->
<!--                      <label class="full" for="star4"></label>-->
<!--                      <input type="radio" id="star3half" name="rating" value="3 and a half" />-->
<!--                      <label class="half" for="star3half"></label>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                      <input type="radio" id="star3" name="rating" value="3" />-->
<!--                      <label class="full" for="star3"></label>-->
<!--                      <input type="radio" id="star2half" name="rating" value="2 and a half" />-->
<!--                      <label class="half" for="star2half"></label>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                      <input type="radio" id="star2" name="rating" value="2" />-->
<!--                      <label class="full" for="star2"></label>-->
<!--                      <input type="radio" id="star1half" name="rating" value="1 and a half" />-->
<!--                      <label class="half" for="star1half"></label>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                      <input type="radio" id="star1" name="rating" value="1" />-->
<!--                      <label class="full" for="star1"></label>-->
<!--                      <input type="radio" id="starhalf" name="rating" value="half" />-->
<!--                      <label class="half" for="starhalf"></label>-->
<!--                    </li>-->
<!--                  </ul>-->
<!--                </fieldset>-->
<!--                <h4>Add Ratings</h4>-->
<!--              </div>-->
<!--              <div class="comment-input-area">-->
<!--                <div class="row">-->
<!--                  <div class="col-sm-12 col-md-6 col-lg-6">-->
<!--                    <div class="form-group mb-20">-->
<!--                      <div class="input-group">-->
<!--                        <input type="text" name="name" id="name" class="form-control" placeholder="Name*">-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="col-sm-12 col-md-6 col-lg-6">-->
<!--                    <div class="form-group mb-20">-->
<!--                      <div class="input-group">-->
<!--                        <input type="text" name="emal" id="emal" class="form-control" placeholder="Email*">-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="col-sm-12 col-md-12 col-lg-12">-->
<!--                    <div class="form-group mb-20">-->
<!--                      <div class="input-group">-->
<!--                        <textarea name="message" class="form-control" id="message" rows="5" placeholder="Your Comment*"></textarea>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="col-sm-12">-->
<!--                    <div class="custom-control custom-checkbox mb-20">-->
<!--                      <input type="checkbox" class="custom-control-input" id="review1">-->
<!--                      <label class="custom-control-label" for="review1">Save my name and website in this browser for the next time I comment.</label>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="col-sm-12 col-md-12 col-lg-12">-->
<!--                    <button class="btn full-width">Post Your Review</button>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </form>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="related-product mt-50">-->
<!--      <div class="sub-section-title">-->
<!--        <h3 class="color-white">Related Items</h3>-->
<!--      </div>-->
<!--      <div class="receipe-grid receipe-grid-three">-->
<!--        <div *ngFor="let item of relatedProduct" class="receipe-item receipe-item-black pb-30">-->
<!--          <div class="receipe-item-inner">-->
<!--            <div class="receipe-image">-->
<!--              <img style="width:100px;height: 100px;border-radius: 10px" [src]="cartService.resolveImages(item)" alt="receipe">-->
<!--            </div>-->
<!--            <div class="receipe-content">-->
<!--              <div class="receipe-info">-->
<!--                <h3><a href="/product-detail/?productId={{product.productId}}">{{item.productName}}</a></h3>-->
<!--                <h4>${{item.productRate.standard}}</h4>-->
<!--              </div>-->
<!--              <div class="receipe-cart receipe-cart-main">-->
<!--                <a (click)="addToCart(item)">-->
<!--                  <i class="flaticon-supermarket-basket"></i>-->
<!--                  <i class="flaticon-supermarket-basket"></i>-->
<!--                </a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</div>
