<div class="main-content">
    <div class="page-header">
        <h2 class="header-title"></h2>
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a href="/home" class="breadcrumb-item"><i class="anticon anticon-dashboard m-r-5 "></i>Dashboard</a>
                <span class="breadcrumb-item"  *ngFor="let breadcrumb of breadcrumbs">
                    {{breadcrumb}}
                </span>
            </nav>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>