<!-- special-section -->
<div class="special-section bg-overlay-2 pt-100 pb-70 bg-black">
  <div class="container">
    <div class="section-title">
      <small>Speciality</small>
      <h2 class="color-white">Our Special Ingridients</h2>
    </div>
    <div class="row align-items-center">
      <div class="col-sm-12 col-md-4 col-lg-4 text-end wow animate__slideInUp" data-wow-duration="1.5s" data-wow-delay="0.1s">
        <div class="info-item info-item-right info-item-white">
          <h3>Falafel  <span>Sandwich</span></h3>
          <p>6 pieces of falafel served with lettuce, tomato, pickle, turnip.</p>
        </div>
        <div class="info-item info-item-right info-item-white">
          <h3>Shish <span>Kaboob Plate</span></h3>
          <p>Two kabob skewers, pickle, hummus, garlic sauce served with fattoush</p>
        </div>
        <div class="info-item info-item-right info-item-white">
          <h3>Nacho <span>Burger</span></h3>
          <p>A simple burger with lettuce and nachos with single patty.</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 wow animate__zoomIn" data-wow-duration="1.5s" data-wow-delay="0.3s">
        <div class="info-image">
          <img src="assets/images/special-food.png" alt="special-food">
          <div class="info-shape">
            <div class="info-shape-item">
              <img src="assets/images/arrow-1.png" alt="shape">
            </div>
            <div class="info-shape-item">
              <img src="assets/images/arrow-2.png" alt="shape">
            </div>
            <div class="info-shape-item">
              <img src="assets/images/arrow-3.png" alt="shape">
            </div>
            <div class="info-shape-item">
              <img src="assets/images/arrow-4.png" alt="shape">
            </div>
            <div class="info-shape-item">
              <img src="assets/images/arrow-5.png" alt="shape">
            </div>
            <div class="info-shape-item">
              <img src="assets/images/arrow-6.png" alt="shape">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 wow animate__slideInUp" data-wow-duration="1.5s" data-wow-delay="0.2s">
        <div class="info-item info-item-left info-item-white">
          <h3>Pure <span>Butter</span></h3>
          <p>This Mexican Style Burger is pumped out with flavor from chilli powder, cilantro & jalapeno pepper. Served on buns topped with lettuce.</p>
        </div>
        <div class="info-item info-item-left info-item-white">
          <h3>Mushroom <span>Swiss Burger</span></h3>
          <p>Burger with Lettuce, tomato, garlic, onion, mushroom, ketchup, mayo an...</p>
        </div>
        <div class="info-item info-item-left info-item-white">
          <h3>Kafta <span>Sandwich</span></h3>
          <p>Combination of onion, parsley and fresh mint with dried spices and mix...</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- .end special-section -->
