<body class="login-page" style="min-height: 512.8px;">

<div class="container-fluid p-h-0 p-v-20 bg full-height d-flex"
     style="background-image: url('assets/images/others/login-3.png')">
  <div class="d-flex flex-column justify-content-between w-100">
    <div class="container d-flex h-100">
      <div class="row align-items-center w-100">
        <div class="col-md-7 col-lg-5 m-h-auto">
          <div class="card shadow-lg">
            <div class="card-body">
              <div>
                <h3 class="text-center">Forgot your password ?</h3>
              </div>
              <p class="font-size-13 text-muted text-center m-b-5" >Enter your email address to retrieve your password</p>
              <form >
                <div class="form-group">
                  <label class="font-weight-semibold" style="margin-top: 18px" >Enter Email:</label>
                  <div class="input-affix">
                    <i class="prefix-icon anticon anticon-mail"></i>
                    <input type="text" class="form-control" placeholder="Email" name="email" style="background-color: #E8F0FE">
                  </div>
                  <div class="text-center" >
                    <button class="btn btn-primary mt-4">Reset Password</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
