<!-- booking-section -->
<div *ngIf="!reservation.isReservationCompleted" class="booking-section pt-100 pb-70 bg-black">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-12 col-md-12 col-lg-12 pb-30">
        <div class="reservation-form-area reservation-item">
          <form [formGroup]="reservationForm" id="sectionId-reservation-form">
            <div class="reservation-form reservation-form-two reservation-form-white">
              <div class="form-group">
                <div [class.high-light-field]="_socketService.getFocusOnField('entityId-name')"
                     class="input-group mb-2">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <i class="flaticon-user-2"></i>
                    </div>
                  </div>
                  <input (click)="setFocusOnField('entityId-name')" formControlName="customerName" type="text" id="entityId-name" placeholder="Name"
                         class="form-control">
                </div>
                <span *ngIf="validations.customerName" style="color: red;text-align: justify">Name is required!</span>
              </div>

              <div class="form-group">
                <div [class.high-light-field]="_socketService.getFocusOnField('entityId-number-of-persons')"
                     class="input-group mb-2">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <i class="flaticon-add-user"></i>
                    </div>
                  </div>
                  <input (click)="setFocusOnField('entityId-number-of-persons')" formControlName="reservationSeats" id="entityId-number-of-persons" type="number"
                         placeholder="Number of persons" class="form-control">
                </div>
                <span *ngIf="validations.reservationSeats"
                      style="color: red;text-align: justify">Seats are required!</span>
              </div>
              <div class="form-group">
                <div [class.high-light-field]="_socketService.getFocusOnField('entityId-date')"
                     class="input-group mb-2">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <i class="flaticon-calendar-1"></i>
                    </div>
                  </div>
                  <input (click)="setFocusOnField('entityId-date')" formControlName="reservationDate" id="entityId-date" type="date" placeholder="Date"
                         class="form-control">
                </div>
                <span *ngIf="validations.reservationDate"
                      style="color: red;text-align: justify">Date is required!</span>
              </div>
              <div class="form-group">
                <div [class.high-light-field]="_socketService.getFocusOnField('entityId-time')"
                     class="input-group mb-2">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <i class="flaticon-clock"></i>
                    </div>
                  </div>
                  <input (click)="setFocusOnField('entityId-time')" formControlName="reservationTime" id="entityId-time" type="text"
                         class="form-control" placeholder="e.g 12:30 AM"/>
                </div>
                <span *ngIf="validations.reservationTime"
                      style="color: red;text-align: justify">Time is required!</span>
                <span *ngIf="!validations.reservationTime && validations.isValidTime" style="color: red;text-align: justify">Please enter time in valid format!</span>
              </div>
            </div>
            <button id="entityId-book-now" (click)="addReservation()" class="btn full-width" type="button">Book Now
              <div *ngIf="reservationLoader" class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- .end booking-section -->

<div *ngIf="reservation.isReservationCompleted" class="contact-us-section pt-100 pb-70 bg-black">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 pb-30">
        <div class="contact-item">
          <div class="contact-item-title text-center">
            <h3 class="color-white">Reservation Completed</h3>
            <h5 class="mt-2" style="color:#E7272D">Redirecting you to home page after 1 minute....</h5>
          </div>
          <div class="contact-item-info">
            <div class="contact-info-list">
              <h3>Table Number</h3>
              <p>{{reservation.tableNumber}}</p>
            </div>
            <div class="contact-info-list">
              <h3>Name</h3>
              <p>{{reservation.name}}</p>
            </div>
            <div class="contact-info-list">
              <h3>Number of person</h3>
              <p>{{reservation.reservationSeats}}</p>
            </div>
            <div class="contact-info-list">
              <h3>Date</h3>
              <p>{{reservation.reservationDate}}</p>
            </div>
            <div class="contact-info-list">
              <h3>Time</h3>
              <p>{{reservation.reservationTime}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--    <button id="entityId-create-new-reservation" (click)="createNewReservation()" class="btn full-width" type="button">Create New Reservation</button>-->
  </div>
</div>
