<!-- booking-section -->
<div *ngIf="!reservation.isReservationCompleted" class="booking-section pt-100 pb-70 bg-black">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-12 col-md-12 col-lg-12 pb-30">
        <div class="reservation-form-area reservation-item">
          <form [formGroup]="_reservationService.reservationForm" id="sectionId-reservation-form">
            <div class="reservation-form reservation-form-two reservation-form-white">
              <div class="form-group">
                <div [class.high-light-field]="_reservationService.reservationFormFocus.customerNameFocus"
                     class="input-group mb-2">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <i class="flaticon-user-2"></i>
                    </div>
                  </div>
                  <input (click)="_reservationService.setFocusOnField('customerNameFocus')" formControlName="customerName" type="text" id="entityId-name" placeholder="Name"
                         class="form-control">
                </div>
                <span style="color: red;text-align: justify" *ngIf="!_reservationService.reservationForm.controls['customerName'].valid && _reservationService.reservationForm.controls['customerName'].touched">{{_reservationService.getError('customerName')}}</span>
              </div>

              <div class="form-group">
                <div [class.high-light-field]="_reservationService.reservationFormFocus.reservationSeatsFocus"
                     class="input-group mb-2">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <i class="flaticon-add-user"></i>
                    </div>
                  </div>
                  <input (click)="_reservationService.setFocusOnField('reservationSeatsFocus')" formControlName="reservationSeats" id="entityId-number-of-persons" type="number"
                         placeholder="Number of persons" class="form-control">
                </div>
                <span style="color: red;text-align: justify" *ngIf="!_reservationService.reservationForm.controls['reservationSeats'].valid && _reservationService.reservationForm.controls['reservationSeats'].touched">{{_reservationService.getError('reservationSeats')}}</span>
              </div>
              <div class="form-group">
                <div [class.high-light-field]="_reservationService.reservationFormFocus.reservationDateFocus"
                     class="input-group mb-2">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <i class="flaticon-calendar-1"></i>
                    </div>
                  </div>
                  <input  (click)="_reservationService.setFocusOnField('reservationDateFocus')" formControlName="reservationDate" id="entityId-date" type="date" placeholder="Date"
                         class="form-control">
                </div>
                <span style="color: red;text-align: justify" *ngIf="!_reservationService.reservationForm.controls['reservationDate'].valid && _reservationService.reservationForm.controls['reservationDate'].touched">{{_reservationService.getError('reservationDate')}}</span>
              </div>
              <div class="form-group">
                <div [class.high-light-field]="_reservationService.reservationFormFocus.reservationTimeFocus"
                     class="input-group mb-2">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <i class="flaticon-clock"></i>
                    </div>
                  </div>
                  <input (click)="_reservationService.setFocusOnField('reservationTimeFocus')"  formControlName="reservationTime" id="entityId-time" type="text"
                         class="form-control" placeholder="e.g 12:30 AM"/>
                </div>
                <span style="color: red;text-align: justify" *ngIf="!_reservationService.reservationForm.controls['reservationTime'].valid && _reservationService.reservationForm.controls['reservationTime'].touched">{{_reservationService.getError('reservationTime')}}</span>
              </div>
            </div>
            <button id="ctaId-book-now" [disabled]="!_reservationService.reservationForm.valid" (click)="addReservation()" class="btn full-width" type="button">Book Now
              <div *ngIf="reservationLoader" class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- .end booking-section -->

<div *ngIf="reservation.isReservationCompleted" class="contact-us-section pt-100 pb-70 bg-black">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 pb-30">
        <div class="contact-item">
          <div class="contact-item-title text-center">
            <h3 class="color-white">Reservation Completed</h3>
            <h5 class="mt-2" style="color:#E7272D">Redirecting you to home page after 1 minute....</h5>
          </div>
          <div class="contact-item-info">
            <div class="contact-info-list">
              <h3>Reservation Label</h3>
              <p>{{reservation.reservationLabel}}</p>
            </div>
            <div class="contact-info-list">
              <h3>Table Number</h3>
              <p>{{reservation.tableNumber}}</p>
            </div>
            <div class="contact-info-list">
              <h3>Name</h3>
              <p>{{reservation.name}}</p>
            </div>
            <div class="contact-info-list">
              <h3>Number of person</h3>
              <p>{{reservation.reservationSeats}}</p>
            </div>
            <div class="contact-info-list">
              <h3>Date</h3>
              <p>{{reservation.reservationDate}}</p>
            </div>
            <div class="contact-info-list">
              <h3>Time</h3>
              <p>{{reservation.reservationTime}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--    <button id="entityId-create-new-reservation" (click)="createNewReservation()" class="btn full-width" type="button">Create New Reservation</button>-->
  </div>
</div>
