<!-- booking-section -->
<div class="booking-section pt-100 pb-70 bg-black">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-12 col-md-12 col-lg-12 pb-30">
        <div class="reservation-form-area reservation-item">
          <form [formGroup]="reservationForm" id="sectionId-reservation-form">
            <div class="reservation-form reservation-form-two reservation-form-white">
              <div class="form-group">
                <div class="input-group mb-2">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <i class="flaticon-user-2"></i>
                    </div>
                  </div>
                  <input formControlName="customerName" type="text" id="entityId-name" placeholder="Name" class="form-control">
                </div>
                <span *ngIf="validations.customerName" style="color: red;text-align: justify">Name is required!</span>
              </div>

              <div class="form-group">
                <div class="input-group mb-2">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <i class="flaticon-add-user"></i>
                    </div>
                  </div>
                  <input  formControlName="reservationSeats" id="entityId-number-of-persons" type="number" placeholder="Number of persons" class="form-control">
                </div>
                <span *ngIf="validations.reservationSeats" style="color: red;text-align: justify">Seats are required!</span>
              </div>
              <div class="form-group">
                <div class="input-group mb-2">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <i class="flaticon-calendar-1"></i>
                    </div>
                  </div>
                  <input formControlName="reservationDate"  id="entityId-date" type="date" placeholder="Date" class="form-control">
                </div>
                <span *ngIf="validations.reservationDate" style="color: red;text-align: justify">Date is required!</span>
              </div>
              <div class="form-group">
                <div class="input-group mb-2">
                  <div class="input-group-append">
                    <div class="input-group-text">
                      <i class="flaticon-clock"></i>
                    </div>
                  </div>
                  <input formControlName="reservationTime" id="entityId-time" type="time" name="startTime" class="form-control" placeholder="Time" />
                </div>
                <span *ngIf="validations.reservationTime" style="color: red;text-align: justify">Time is required!</span>
              </div>
            </div>
            <button id="entityId-book-now" (click)="addReservation()" class="btn full-width" type="button">Book Now</button>
          </form>
        </div>
      </div>
<!--      <div class="col-sm-12 col-md-12 col-lg-5 pb-30">-->
<!--        <div class="reservation-item text-center text-lg-start">-->
<!--          <iframe src="/assets/chatbot.html" width="100%" height="450px" title="Chat Bot">-->

<!--          </iframe>-->

<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
</div>
<!-- .end booking-section -->
