<div class="authentication-body container w-75 p-5">
  <div class="contact-item">
    <h4 class="text-white text-center">Customer Signup</h4>
    <ul class="authentication-tab">

    </ul>
    <div class="authentication-details">

      <!-- Login Form -->
      <div class="authentication-details-item active"
           data-authentication-details="1">
        <form [formGroup]="signupForm">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="form-group mb-20">
                <div class="input-group mb-1">
                  <input required type="text" formControlName="clientName" class="form-control"
                         placeholder="Customer Name*"/>
                </div>
                <span style="color: red;margin-left: 20px;"
                      *ngIf="!signupForm.controls['clientName'].valid && signupForm.controls['clientName'].touched">{{_helperService.getRequiredCheckError(signupForm, 'clientName', _helperService.fieldErrorsCheckTypes.required, ['Client name is required.'])}}</span>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="form-group mb-20">
                <div class="input-group mb-1">
                  <input required type="text" formControlName="clientID" class="form-control"
                         placeholder="Customer Id*"/>
                </div>
                <span style="color: red;margin-left: 20px;"
                      *ngIf="!signupForm.controls['clientID'].valid && signupForm.controls['clientID'].touched">{{_helperService.getRequiredCheckError(signupForm, 'clientID', _helperService.fieldErrorsCheckTypes.required, ['Client Id is required.'])}}</span>
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="form-group mb-20">
                <div class="input-group">
                  <input required type="password" formControlName="clientSecret" class="form-control"
                         placeholder="Customer Secret*"/>
                </div>
                <span style="color: red;margin-left: 20px;"
                      *ngIf="!signupForm.controls['clientSecret'].valid && signupForm.controls['clientSecret'].touched">{{_helperService.getRequiredCheckError(signupForm, 'clientSecret', _helperService.fieldErrorsCheckTypes.required, ['Client Secret is required.'])}}</span>
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="form-group mb-20">
                <div class="input-group">
                  <input required type="password" formControlName="confirmClientSecret" class="form-control"
                         placeholder="Confirm Customer Secret*"/>
                </div>
                <span style="color: red;margin-left: 20px;"
                      *ngIf="!signupForm.controls['confirmClientSecret'].valid && signupForm.controls['clientSecret'].touched">{{_helperService.getRequiredCheckError(signupForm, 'confirmClientSecret', _helperService.fieldErrorsCheckTypes.required, ['Confirm Client Secret is required.'])}}</span>
              </div>
            </div>
            <div class="col-sm-12 col-md-4">
              <div class="form-group mb-20">
                <div class="input-group">
                  <input required type="text" formControlName="clientEmail" class="form-control"
                         placeholder="Customer Email*"/>
                </div>
                <span style="color: red;margin-left: 20px;"
                      *ngIf="!signupForm.controls['clientEmail'].valid && signupForm.controls['clientEmail'].touched">{{_helperService.getRequiredCheckError(signupForm, 'clientEmail', _helperService.fieldErrorsCheckTypes.required, ['Client Email is required.'])}}</span>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="form-group mb-20">
                <div class="input-group">
                  <input required type="text" formControlName="confirmClientEmail" class="form-control"
                         placeholder="Confirm Customer Email*"/>
                </div>
                <span style="color: red;margin-left: 20px;"
                      *ngIf="!signupForm.controls['confirmClientEmail'].valid && signupForm.controls['confirmClientEmail'].touched">{{_helperService.getRequiredCheckError(signupForm, 'confirmClientEmail', _helperService.fieldErrorsCheckTypes.required, ['Confirm Client Email is required.'])}}</span>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="form-group mb-20">
                <div class="input-group">
                  <input required type="text" formControlName="clientSecretHint" class="form-control"
                         placeholder="Customer Secret Hint*"/>
                </div>
                <span style="color: red;margin-left: 20px;"
                      *ngIf="!signupForm.controls['clientSecretHint'].valid && signupForm.controls['clientSecretHint'].touched">{{_helperService.getRequiredCheckError(signupForm, 'clientSecretHint', _helperService.fieldErrorsCheckTypes.required, ['Client Secret Hint is required.'])}}</span>
              </div>
            </div>
          </div>
          <div class="authentication-btn">
            <button (click)="signUp()" class="btn full-width btn-border mb-20">Sign Up
              <div *ngIf="loader" class="spinner-border spinner-border-sm ml-3 text-warning" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </button>
          </div>
          <p class="text-white text-center">Already have an account? <a routerLink="/customer-login"
                                                                        style="color:#E7272D;font-weight: bold;cursor: pointer">Customer Sign
            In</a></p>
        </form>
      </div>

    </div>
  </div>
</div>
