<div class="card card-primary">
    <div class="card-header">
        <div class="d-flex align-items-center justify-content-between m-b-15">
            <h3 class="card-title">Product Details</h3>
            <div class="card-toolbar">
                <button pButton pRipple type="button" label="Back" icon="pi pi-chevron-left" *ngIf="!editMode"
                    class="p-button-rounded p-button-success m-r-5" [routerLink]="['../']"></button>
                <button pButton pRipple type="button" label="Delete" icon="pi pi-trash" *ngIf="editMode"
                    [disabled]="true" class="p-button-rounded p-button-danger m-r-5"></button>
                <button pButton pRipple type="button" label="Cancel" icon="pi pi-times" class="p-button-rounded m-r-5"
                    *ngIf="editMode" (click)="disableEdit()"></button>
                <button pButton pRipple type="button" label="Edit" icon="pi pi-pencil" class="p-button-rounded m-r-5"
                    *ngIf="!editMode" (click)="enableEdit()"></button>
                <button pButton pRipple type="button" label="Save" icon="pi pi-save" *ngIf="editMode"
                    class="p-button-rounded p-button-secondary m-r-5" (click)="onSubmit()"></button>
            </div>
        </div>
    </div>

    <div class="card-body">
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">

            <div class="p-fluid">
                <p-divider>
                    <div class="p-d-inline-flex p-ai-center">
                        <i class="pi pi-user p-mr-2 mr-2"></i>
                        <b>Identification</b>
                    </div>
                </p-divider>
                <div class="form-row m-b-50">
                    <div class="form-group col-md-6">
                        <label for="form-productName" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 font-weight-bold">
                            Name
                        </label>
                        <div class="p-col-12 p-md-10">
                            <input type="text" pInputText formControlName="productName" id="form-productName"
                                [ngClass]="{'ng-invalid ng-dirty ': validationError.productName}" placeholder="Enter Name">
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="form-productDesc" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 font-weight-bold">
                            Description
                        </label>
                        <div class="p-col-12 p-md-10">
                            <input type="text" pInputText formControlName="productDesc" id="form-productDesc"
                                placeholder="Enter Description">
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="form-productSerialNo" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 font-weight-bold">
                            Serial No
                        </label>
                        <div class="p-col-12 p-md-10">
                            <input type="text" pInputText formControlName="productSerialNo" id="form-productSerialNo"
                                placeholder="Enter Serial No">
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="form-productBarcode" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 font-weight-bold">
                            Barcode
                        </label>
                        <div class="p-col-12 p-md-10">
                            <input type="text" pInputText formControlName="productBarcode" id="form-productBarcode"
                                placeholder="Enter Barcode">
                        </div>
                    </div>
                </div>

                <p-divider>
                    <div class="p-d-inline-flex p-ai-center">
                        <i class="pi pi-user p-mr-2 mr-2"></i>
                        <b>Classification</b>
                    </div>
                </p-divider>
                <div class="form-row m-b-50">
                    <div class="form-group col-md-6">
                        <label for="form-productType" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 font-weight-bold">
                            Type
                        </label>
                        <div *ngIf="productForm.controls['productType']?.errors"></div>
                        <div class="p-col-12 p-md-10">
                            <p-dropdown id="form-productType" [options]="productType" formControlName="productType"
                                placeholder="Select a Type" [ngClass]="{'ng-invalid ng-dirty is-invalid': validationError.productType}">
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="form-productCategory" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 font-weight-bold">
                            Category
                        </label>
                        <div class="p-col-12 p-md-10">
                            <p-dropdown id="form-productCategory" [options]="categories"
                                formControlName="productCategory" optionLabel="categoryName" optionValue="categoryName"
                                [ngClass]="{'ng-invalid ng-dirty is-invalid':validationError.productCategory}">
                                placeholder="Select a Category">
                            </p-dropdown>
                        </div>
                    </div>
                </div>

                <p-divider>
                    <div class="p-d-inline-flex p-ai-center">
                        <i class="pi pi-user p-mr-2 mr-2"></i>
                        <b>Rates</b>
                    </div>
                </p-divider>
                <div formGroupName="productRate" class="form-row m-b-50">
                    <div class="form-group col-md-4">
                        <label for="form-productRate" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 font-weight-bold">
                            Standard Rate </label>
                        <div class="p-col-12 p-md-10">
                            <input type="text" pInputText formControlName="standard" id="form-productRate"
                            [ngClass]="{'ng-invalid ng-dirty ': validationError.standard}" 
                                placeholder="Enter productRate">
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="form-productRate" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 font-weight-bold"> Meal
                            Rate </label>
                        <div class="p-col-12 p-md-10">
                            <input type="text" pInputText formControlName="meal" id="form-productRate"
                                placeholder="Enter productRate">
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="form-productRate" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 font-weight-bold"> Addon
                            Rate </label>
                        <div class="p-col-12 p-md-10">
                            <input type="text" pInputText formControlName="addon" id="form-productRate"
                                placeholder="Enter productRate">
                        </div>
                    </div>
                </div>

                <p-divider>
                    <div class="p-d-inline-flex p-ai-center">
                        <i class="pi pi-user p-mr-2 mr-2"></i>
                        <b>Details</b>
                    </div>
                </p-divider>
                <div class="form-row m-b-50">
                    <div class="form-group col-md-6">
                        <label for="form-productIngredients" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 font-weight-bold">
                            Ingredients
                        </label>
                        <div class="p-col-12 p-md-10">
                            <p-chips id="form-productIngredients" formControlName="productIngredients"
                                placeholder="Write about Ingredients"></p-chips>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="form-productFlavor" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 font-weight-bold">
                            Flavors
                        </label>
                        <div class="p-col-12 p-md-10">
                            <p-chips id="form-productFlavor" formControlName="productFlavor"
                                placeholder="Add one or more Flavors"></p-chips>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="form-productProportion" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 font-weight-bold">
                            Proportions
                        </label>
                        <div class="p-col-12 p-md-10">
                            <p-chips id="form-productProportion" formControlName="productProportion"
                                placeholder="Add one or more Proportions"></p-chips>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="form-productToppings" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 font-weight-bold">
                            Toppings
                        </label>
                        <div class="p-col-12 p-md-10">
                            <p-chips id="form-productToppings" formControlName="productToppings"
                                placeholder="Add one or more Toppings"></p-chips>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="form-productAddons" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 font-weight-bold">
                            Addons
                        </label>
                        <div class="p-col-12 p-md-10">
                            <p-multiSelect id="form-productAddons" [options]="addons" formControlName="productAddons"
                                defaultLabel="Select one or more Addons" optionLabel="productName" display="chip">
                            </p-multiSelect>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="form-productVariant" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 font-weight-bold">
                            Variants
                        </label>
                        <div class="p-col-12 p-md-10">
                            <p-multiSelect id="form-productVariant" [options]="variants"
                                formControlName="productVariant" defaultLabel="Select one or more Variants"
                                optionLabel="productName" display="chip">
                            </p-multiSelect>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="form-productTags" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 font-weight-bold">
                            Tags
                        </label>
                        <div class="p-col-12 p-md-10">
                            <p-chips id="form-productTags" formControlName="productTags"
                                placeholder="Add one or more Tags"></p-chips>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="form-offeringTime" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 font-weight-bold">
                            Offering Times
                        </label>
                        <div class="p-col-12 p-md-10">
                            <p-chips id="form-offeringTime" formControlName="offeringTime"
                                placeholder="Add one or more Offering Times"></p-chips>
                        </div>
                    </div>

                    <div formGroupName="productNutrition" class="form-group col-md-6">
                        <label for="form-productNutrition" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 font-weight-bold">
                            Nutrition
                        </label>
                        <div class="p-col-12 p-md-10">
                            <div class="row">
                                <div class="input-group mb-3 col-md-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Calories</span>
                                    </div>
                                    <input class="form-control" type="text" formControlName="calories"
                                        placeholder="Calories" aria-label="Calories" aria-describedby="basic-addon1">
                                </div>
                                <div class="input-group mb-3 col-md-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon2">Fats</span>
                                    </div>
                                    <input class="form-control" type="text" formControlName="fats" placeholder="Fats"
                                        aria-label="Fats" aria-describedby="basic-addon2">
                                </div>
                                <div class="input-group mb-3 col-md-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon3">Proteins</span>
                                    </div>
                                    <input class="form-control" type="text" formControlName="proteins"
                                        placeholder="Proteins" aria-label="Proteins" aria-describedby="basic-addon3">
                                </div>
                            </div>

                        </div>
                    </div>


                    <div formGroupName="productAttributes" class="form-group col-md-6">
                        <label for="form-productAttributes" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 font-weight-bold">
                            Attributes
                        </label>
                        <div class="p-col-12 p-md-10">
                            <div class="row">
                                <div class="col">
                                    <h6>Halal</h6>
                                    <p-inputSwitch formControlName="halal"></p-inputSwitch>
                                </div>
                                <div class="col">
                                    <h6>Vegan</h6>
                                    <p-inputSwitch formControlName="vegan"></p-inputSwitch>
                                </div>
                                <div class="col">
                                    <h6>Vegetarian</h6>
                                    <p-inputSwitch formControlName="vegetarian"></p-inputSwitch>
                                </div>
                                <div class="col">
                                    <h6>Gluten Free</h6>
                                    <p-inputSwitch formControlName="glutenFree"></p-inputSwitch>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="form-productImage" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 font-weight-bold">
                            Images
                        </label>
                        <div class="p-col-12 p-md-10">
                            <p-chips id="form-productImage" formControlName="productImage"></p-chips>
                        </div>
                    </div>
                </div>

                <p-divider>
                    <div class="p-d-inline-flex p-ai-center">
                        <i class="pi pi-user p-mr-2 mr-2"></i>
                        <b>Meta</b>
                    </div>
                </p-divider>
                <div class="form-row m-b-50">
                    <div class="form-group col-md-6">
                        <label for="form-productHistory" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 font-weight-bold">
                            History
                        </label>
                        <div class="p-col-12 p-md-10">
                            <textarea id="form-productHistory" class="form-control"
                                formControlName="productHistory"></textarea>
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="form-productActive" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 font-weight-bold">
                            Active
                        </label>
                        <div class="p-col-12 p-md-10">
                            <p-toggleButton id="form-productActive" formControlName="productActive" onLabel="Enabled"
                                offLabel="Disabled" onIcon="pi pi-check" offIcon="pi pi-times"
                                [style]="{'width': '10em'}">
                            </p-toggleButton>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>