<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center justify-content-between m-b-15">
            <h4 class="m-b-0">Devices List</h4>
            <div class="card-toolbar">
                <ul>
                    <!-- <li>
              <a class="text-gray" href="javascript:void(0)">
                <i class="anticon anticon-reload font-size-20"></i>
              </a>
                </li>-->

                    <li>
                        <a class="text-gray" [routerLink]="['detail']">
                            <i class="anticon anticon-plus font-size-20"></i>
                            Add New
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <p-table #dt1 [value]="devices" [responsive]="true" [paginator]="true" [rows]="5" [loading]="loading"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10,25,50]"
            [globalFilterFields]="['deviceName','deviceType', 'deviceDescription','userActive']">
            <ng-template pTemplate="caption">
                <div class="p-d-flex">
                    <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                        (click)="clear(dt1)"></button>
                    <span class="p-input-icon-left p-ml-auto" style="float: right;">
                        <i class="pi pi-search"></i>
                        <input #search pInputText type="text" (input)="dt1.filterGlobal(search.value, 'contains')"
                            placeholder="Search keyword" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>

                    <th pSortableColumn="userName">Name <p-sortIcon field="deviceName"></p-sortIcon>
                    </th>
                    <th pSortableColumn="userFullName">Type <p-sortIcon field="deviceType"></p-sortIcon>
                    </th>
                    <th pSortableColumn="userComment">Description <p-sortIcon field="deviceDescription"></p-sortIcon>
                    </th>
                    <th pSortableColumn="userActive">Active <p-sortIcon field="deviceActive"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-device>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="device"></p-tableCheckbox>
                    </td>
                    <td>
                        <button class="btn btn-primary btn-tone m-r-5" [routerLink]="['detail']"
                            [queryParams]="{ deviceId: device.deviceId }">{{device.deviceName}}</button>
                    </td>
                    <td>{{device.deviceType}}</td>
                    <td>{{device.deviceDescription}}</td>
                    <td><span *ngIf="device.userActive === true" class="badge badge-success">{{device.userActive}}</span>
                        <span *ngIf="device.userActive === false" class="badge badge-danger">{{device.userActive}}</span>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
                <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
            </ng-template>
            <ng-template pTemplate="paginatorright">
                <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
            </ng-template>
        </p-table>

    </div>
</div>
