<body class="login-page" style="min-height: 512.8px;">

    <div class="container-fluid p-h-0 p-v-20 bg full-height d-flex"
         style="background-image: url('assets/images/others/login-3.png')">
      <div class="d-flex flex-column justify-content-between w-100">
        <div class="container d-flex h-100">
          <div class="row align-items-center w-100">
            <div class="col-md-7 col-lg-5 m-h-auto">
              <div class="card shadow-lg">
                <div class="card-body">
                  <div class="d-flex align-items-center justify-content-between m-b-30">
                    <h2 style="padding-left: 140px">Sign Up</h2>
                  </div>
                  <p class="font-size-13 text-muted" style="padding-left: 50px; margin-top: -20px">Please fill in this form to create an account.</p>
                  <form >
                    <div class="form-group" style="padding-top: 10px;">
                      <div class="input-affix">
                        <i class="prefix-icon anticon anticon-user"></i>
                        <input type="text" class="form-control" placeholder="User Name" name="username" style="background-color: #E8F0FE">
                      </div>
                      <div class="input-affix" style="padding-top: 10px;">
                        <i class="prefix-icon fa fa-id-card" style="padding-top: 10px;"></i>
                        <input type="text" class="form-control" placeholder="User Id" name="userid" style="background-color: #E8F0FE">
                      </div>
                      <div class="input-affix" style="padding-top: 10px;">
                        <i class="prefix-icon anticon anticon-mail" style="padding-top: 10px;"></i>
                        <input type="text" class="form-control" placeholder="Email Address" name="email" style="background-color: #E8F0FE">
                      </div>
                      <div class="input-affix" style="padding-top: 10px;">
                        <i class="prefix-icon fa fa-solid fa-utensils" style="padding-top: 10px;"></i>
                        <input type="text" class="form-control" placeholder="Restaurant Name" name="restaurantname" style="background-color: #E8F0FE">
                      </div>
                      <div class="input-affix" style="padding-top: 10px;">
                        <i class="prefix-icon anticon anticon-lock" style="padding-top: 10px;"></i>
                        <input type="text" class="form-control" placeholder="Password" name="password" style="background-color: #E8F0FE">
                      </div>
                      <div class="input-affix" style="padding-top: 10px;">
                        <i class="prefix-icon anticon anticon-lock" style="padding-top: 10px;"></i>
                        <input type="text" class="form-control" placeholder="Confirm Password" name="confirmpassword" style="background-color: #E8F0FE">
                      </div>
                      <div style="margin-top: 20px; padding-left: 140px" >
                        <button class="btn btn-primary ">Sign Up</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    </body>
