<div class="contact-us-section pt-100 pb-70 bg-black">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 pb-30">
        <div class="contact-item">
          <div class="contact-item-title text-center">
            <h3 class="color-white">Order Types</h3>
          </div>
          <div class="container order-types-main">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-12">
                <div (click)="selectOrderType('dine_in')" [class.active-order-type]="_orderService.selectedOrderButtons['dine_in']" class="card text-center">
                  <div class="card-body">
                    <i class="fas fa-utensils"></i>
                    <h5 class="card-title">Dine In</h5>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12">
                <div (click)="selectOrderType('pick_up')" [class.active-order-type]="_orderService.selectedOrderButtons['pick_up']" class="card text-center">
                  <div class="card-body">
                    <i class="fas fa-truck-pickup"></i>
                    <h5 class="card-title">Pick Up</h5>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12">
                <div (click)="selectOrderType('delivery')" [class.active-order-type]="_orderService.selectedOrderButtons['delivery']" class="card text-center">
                  <div class="card-body">
                    <i class="fas fa-truck"></i>
                    <h5 class="card-title">Delivery</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
