<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a routerLink="/home" class="brand-link">
    <img src="../../../../assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
      style="opacity: .8">
    <span class="brand-text font-weight-light">Sofia Bot Console</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="../../../../assets/img/avatar2.png" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a routerLink="/home" class="d-block">Sofia Admin</a>
      </div>
    </div>

    <!--    &lt;!&ndash; SidebarSearch Form &ndash;&gt;-->
    <!--    <div class="form-inline">-->
    <!--      <div class="input-group" data-widget="sidebar-search">-->
    <!--        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">-->
    <!--        <div class="input-group-append">-->
    <!--          <button class="btn btn-sidebar">-->
    <!--            <i class="fas fa-search fa-fw"></i>-->
    <!--          </button>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
       with font-awesome or any other icon font library -->
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon pi pi-tablet"></i>
            <p> Clients
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a class="nav-link" routerLink="/client" routerLinkActive="activebutton">
                <i class="far fa-circle nav-icon"></i>
                <p>Client List</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-tablet-alt"></i>
            <p> Sessions
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a class="nav-link" routerLink="/session" routerLinkActive="activebutton">
                <i class="far fa-circle nav-icon"></i>
                <p>Sessions List</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <i class="nav-icon pi pi-briefcase"></i>
            <p> Corpus
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a class="nav-link" routerLink="/corpus" routerLinkActive="activebutton">
                <i class="far fa-circle nav-icon"></i>
                <p>Corpus List</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item menu-open">
          <a href="#" class="nav-link">
            <i class="nav-icon pi pi-check"></i>
            <p> Restaurant
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a class="nav-link" routerLink="/restaurant/reservation" routerLinkActive="activebutton">
                <i class="pi pi-book nav-icon"></i>
                <p>Reservations</p>
              </a>
            </li>
          </ul>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a class="nav-link" routerLink="/restaurant/customer" routerLinkActive="activebutton">
                <i class="pi pi-users nav-icon"></i>
                <p>Customers</p>
              </a>
            </li>
          </ul>
        </li>
        <!--        <li class="nav-item">-->
        <!--          <a href="#" class="nav-link">-->
        <!--            <i class="nav-icon fas fa-th"></i>-->
        <!--            <p>-->
        <!--              Simple Link-->
        <!--              <span class="right badge badge-danger">New</span>-->
        <!--            </p>-->
        <!--          </a>-->
        <!--        </li>-->
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>