<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            <li class="nav-item dropdown">
                <a routerLink="/home">
                    <span class="icon-holder">
                        <i class="anticon anticon-dashboard"></i>
                    </span>
                    <span class="title">Home</span>
                </a>
            </li>
            <li [class]="robotsToggleObj.addClass" class="nav-item dropdown">
                <a (click)="robotsDropdownToggle()" class="dropdown-toggle pointer">
                    <span class="icon-holder">
                        <i class="anticon anticon-robot"></i>
                    </span>
                    <span class="title">Robots</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/client" routerLinkActive="activebutton">
                            <p>Bots</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/session" routerLinkActive="activebutton">
                            <p>Sessions</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/corpus" routerLinkActive="activebutton">
                            <p>Corpus</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li [class]="restaurantToggleObj.addClass" class="nav-item dropdown pointer">
                <a (click)="restaurantDropdownToggle()" class="dropdown-toggle">
                    <span class="icon-holder">
                        <i class="anticon anticon-shopping"></i>
                    </span>
                    <span class="title">Restaurant</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/restaurant/reservation" routerLinkActive="activebutton">
                            <p>Reservations</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/restaurant/customer" routerLinkActive="activebutton">
                            <p>Customers</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/restaurant/menu" routerLinkActive="activebutton">
                            <p>Menus</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/restaurant/order" routerLinkActive="activebutton">
                            <p>Orders</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/restaurant/table" routerLinkActive="activebutton">
                            <p>Tables</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/restaurant/category" routerLinkActive="activebutton">
                            <p>Categories</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/restaurant/product" routerLinkActive="activebutton">
                            <p>Products</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/restaurant/restaurant" routerLinkActive="activebutton">
                            <p>Restaurants</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li [class]="dictionaryToggleObj.addClass" class="nav-item dropdown pointer">
                <a (click)="dictionaryDropdownToggle()" class="dropdown-toggle">
                    <span class="icon-holder">
                        <i class="anticon anticon-database"></i>
                    </span>
                    <span class="title">Dictionary DB</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/dictionary/category" routerLinkActive="activebutton">
                            <p>Categories</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/dictionary/product" routerLinkActive="activebutton">
                            <p>Products</p>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- <li class="nav-item dropdown">
                <a class="dropdown-toggle" >
                    <span class="icon-holder">
                        <i class="anticon anticon-file"></i>
                    </span>
                    <span class="title">Multi Level</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li class="nav-item dropdown">
                        <a >
                            <span>Level 1</span>
                            <span class="arrow">
                                <i class="arrow-icon"></i>
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="">Level 2.1</a>
                            </li>
                            <li>
                                <a href="">Level 2.2</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li> -->
        </ul>
    </div>
</div>