<!-- testimonial-section -->
<section class="testimonial-section p-tb-100 bg-black bg-overlay-1">
  <div class="container">
    <div class="section-title">
      <small>Review</small>
      <h2 class="color-white">Clients Review About Our Food</h2>
    </div>
    <div class="testimonial-carousel owl-carousel owl-theme">
      <div class="item">
        <div class="testimonial-carousel-item bg-main">
          <p class="carousel-para">The Taste is still in my mouth and I can feel the depth of the taste of the every ingr edients used in the food. I really Love Fafo.</p>
          <div class="carousel-info-grid">
            <div class="carousel-thumb">
              <img src="assets/images/client-1.jpg" alt="client">
            </div>
            <div class="carousel-info text-end">
              <div class="review-star">
                <ul class="justify-content-end">
                  <li class="full-star"><i class="flaticon-star-1"></i></li>
                  <li class="full-star"><i class="flaticon-star-1"></i></li>
                  <li class="full-star"><i class="flaticon-star-1"></i></li>
                  <li class="full-star"><i class="flaticon-star-1"></i></li>
                  <li class="full-star"><i class="flaticon-star-1"></i></li>
                </ul>
              </div>
              <h3 class="carousel-name">Angela Carter</h3>
              <h4 class="carousel-designation">CEO of Rockings</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="testimonial-carousel-item bg-main">
          <p class="carousel-para">The Taste is still in my mouth and I can feel the depth of the taste of the every ingr edients used in the food. I really Love Fafo.</p>
          <div class="carousel-info-grid">
            <div class="carousel-thumb">
              <img src="assets/images/client-2.jpg" alt="client">
            </div>
            <div class="carousel-info text-end">
              <div class="review-star">
                <ul class="justify-content-end">
                  <li class="full-star"><i class="flaticon-star-1"></i></li>
                  <li class="full-star"><i class="flaticon-star-1"></i></li>
                  <li class="full-star"><i class="flaticon-star-1"></i></li>
                  <li class="full-star"><i class="flaticon-star-1"></i></li>
                  <li class="full-star"><i class="flaticon-star-1"></i></li>
                </ul>
              </div>
              <h3 class="carousel-name">John Karahan</h3>
              <h4 class="carousel-designation">Food Bloger</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="testimonial-carousel-item bg-main">
          <p class="carousel-para">The Taste is still in my mouth and I can feel the depth of the taste of the every ingr edients used in the food. I really Love Fafo.</p>
          <div class="carousel-info-grid">
            <div class="carousel-thumb">
              <img src="assets/images/client-3.jpg" alt="client">
            </div>
            <div class="carousel-info text-end">
              <div class="review-star">
                <ul class="justify-content-end">
                  <li class="full-star"><i class="flaticon-star-1"></i></li>
                  <li class="full-star"><i class="flaticon-star-1"></i></li>
                  <li class="full-star"><i class="flaticon-star-1"></i></li>
                  <li class="full-star"><i class="flaticon-star-1"></i></li>
                  <li class="full-star"><i class="flaticon-star-1"></i></li>
                </ul>
              </div>
              <h3 class="carousel-name">Anthony Artan</h3>
              <h4 class="carousel-designation">Restaurant Owner</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="testimonial-carousel-item bg-main">
          <p class="carousel-para">The Taste is still in my mouth and I can feel the depth of the taste of the every ingr edients used in the food. I really Love Fafo.</p>
          <div class="carousel-info-grid">
            <div class="carousel-thumb">
              <img src="assets/images/client-1.jpg" alt="client">
            </div>
            <div class="carousel-info text-end">
              <div class="review-star">
                <ul class="justify-content-end">
                  <li class="full-star"><i class="flaticon-star-1"></i></li>
                  <li class="full-star"><i class="flaticon-star-1"></i></li>
                  <li class="full-star"><i class="flaticon-star-1"></i></li>
                  <li class="full-star"><i class="flaticon-star-1"></i></li>
                  <li class="full-star"><i class="flaticon-star-1"></i></li>
                </ul>
              </div>
              <h3 class="carousel-name">Angela Carter</h3>
              <h4 class="carousel-designation">CEO of Rockings</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="testimonial-carousel-item bg-main">
          <p class="carousel-para">The Taste is still in my mouth and I can feel the depth of the taste of the every ingr edients used in the food. I really Love Fafo.</p>
          <div class="carousel-info-grid">
            <div class="carousel-thumb">
              <img src="assets/images/client-2.jpg" alt="client">
            </div>
            <div class="carousel-info text-end">
              <div class="review-star">
                <ul class="justify-content-end">
                  <li class="full-star"><i class="flaticon-star-1"></i></li>
                  <li class="full-star"><i class="flaticon-star-1"></i></li>
                  <li class="full-star"><i class="flaticon-star-1"></i></li>
                  <li class="full-star"><i class="flaticon-star-1"></i></li>
                  <li class="full-star"><i class="flaticon-star-1"></i></li>
                </ul>
              </div>
              <h3 class="carousel-name">John Karahan</h3>
              <h4 class="carousel-designation">Food Bloger</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="testimonial-carousel-item bg-main">
          <p class="carousel-para">The Taste is still in my mouth and I can feel the depth of the taste of the every ingr edients used in the food. I really Love Fafo.</p>
          <div class="carousel-info-grid">
            <div class="carousel-thumb">
              <img src="assets/images/client-3.jpg" alt="client">
            </div>
            <div class="carousel-info text-end">
              <div class="review-star">
                <ul class="justify-content-end">
                  <li class="full-star"><i class="flaticon-star-1"></i></li>
                  <li class="full-star"><i class="flaticon-star-1"></i></li>
                  <li class="full-star"><i class="flaticon-star-1"></i></li>
                  <li class="full-star"><i class="flaticon-star-1"></i></li>
                  <li class="full-star"><i class="flaticon-star-1"></i></li>
                </ul>
              </div>
              <h3 class="carousel-name">Anthony Artan</h3>
              <h4 class="carousel-designation">Restaurant Owner</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="testimonial-carousel-item bg-main">
          <p class="carousel-para">The Taste is still in my mouth and I can feel the depth of the taste of the every ingr edients used in the food. I really Love Fafo.</p>
          <div class="carousel-info-grid">
            <div class="carousel-thumb">
              <img src="assets/images/client-1.jpg" alt="client">
            </div>
            <div class="carousel-info text-end">
              <div class="review-star">
                <ul class="justify-content-end">
                  <li class="full-star"><i class="flaticon-star-1"></i></li>
                  <li class="full-star"><i class="flaticon-star-1"></i></li>
                  <li class="full-star"><i class="flaticon-star-1"></i></li>
                  <li class="full-star"><i class="flaticon-star-1"></i></li>
                  <li class="full-star"><i class="flaticon-star-1"></i></li>
                </ul>
              </div>
              <h3 class="carousel-name">Angela Carter</h3>
              <h4 class="carousel-designation">CEO of Rockings</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="testimonial-carousel-item bg-main">
          <p class="carousel-para">The Taste is still in my mouth and I can feel the depth of the taste of the every ingr edients used in the food. I really Love Fafo.</p>
          <div class="carousel-info-grid">
            <div class="carousel-thumb">
              <img src="assets/images/client-2.jpg" alt="client">
            </div>
            <div class="carousel-info text-end">
              <div class="review-star">
                <ul class="justify-content-end">
                  <li class="full-star"><i class="flaticon-star-1"></i></li>
                  <li class="full-star"><i class="flaticon-star-1"></i></li>
                  <li class="full-star"><i class="flaticon-star-1"></i></li>
                  <li class="full-star"><i class="flaticon-star-1"></i></li>
                  <li class="full-star"><i class="flaticon-star-1"></i></li>
                </ul>
              </div>
              <h3 class="carousel-name">John Karahan</h3>
              <h4 class="carousel-designation">Food Bloger</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="testimonial-carousel-item bg-main">
          <p class="carousel-para">The Taste is still in my mouth and I can feel the depth of the taste of the every ingr edients used in the food. I really Love Fafo.</p>
          <div class="carousel-info-grid">
            <div class="carousel-thumb">
              <img src="assets/images/client-3.jpg" alt="client">
            </div>
            <div class="carousel-info text-end">
              <div class="review-star">
                <ul class="justify-content-end">
                  <li class="full-star"><i class="flaticon-star-1"></i></li>
                  <li class="full-star"><i class="flaticon-star-1"></i></li>
                  <li class="full-star"><i class="flaticon-star-1"></i></li>
                  <li class="full-star"><i class="flaticon-star-1"></i></li>
                  <li class="full-star"><i class="flaticon-star-1"></i></li>
                </ul>
              </div>
              <h3 class="carousel-name">Anthony Artan</h3>
              <h4 class="carousel-designation">Restaurant Owner</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- .end testimonial-section -->
