<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md">
        <div class="card">
          <div class="d-flex align-items-center justify-content-between m-b-15">
            <h4 class="m-t-15 ml-4">Client List</h4>
            <div class="card-toolbar">
                <ul>
                    <li>
                        <a class="p-button p-button-icon-left m-t-15 mr-4 " [routerLink]="['/client/single']" style="color: white;">
                            <i class="anticon anticon-plus font-size-20"></i>
                            Add New
                        </a>
                    </li>
                </ul>
            </div>
        </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table class="table table-bordered" >
              <thead>
              <tr>
                <th>#</th>
                <th>Client Name</th>
                <th>Client ID</th>
                <th>Client Device ID</th>
                <th>Created</th>
                <th>Comment</th>
                <th style="width: 40px">Active</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let client of clients; let i = index" (click)="onSelect(client)"
                  [class.selected]="client === selectedClient" >
                <button type="button" class="btn btn-default m-t-15"
                        [routerLink]="['/client/single']" [queryParams]="{ clientId: client.clientID}">View
                </button>
                <!--                                    <td>{{i}}</td>-->
                <td>{{client.clientName}}</td>
                <td>{{client.clientID}}</td>
                <td>{{client.clientDeviceId}}</td>
                <td>{{client.clientCreated}}</td>
                <td>{{client.clientComment}}</td>
                <td><span *ngIf="client.clientActive === true"
                          class="badge bg-success">{{client.clientActive}}</span>
                  <span *ngIf="client.clientActive === false"
                        class="badge bg-danger">{{client.clientActive}}</span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
          <div class="card-footer clearfix">
            <ul class="pagination pagination-sm m-0 float-right">
              <li class="page-item"><a class="page-link" href="#">«</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">»</a></li>
            </ul>
          </div>
        </div>
        <!-- /.card -->
      </div>
    </div>
  </div>
</section>
