<!-- step-section -->
<section class="step-section p-tb-100 bg-black">
  <div class="container">
    <div class="section-title">
      <h2 class="color-white">3 Easy Steps To Enjoy</h2>
    </div>
    <div class="steps-box">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="steps-item">
            <h3>1. Choose</h3>
            <p>Choose Your Best Combos From The Thousands Of Exciting Items.</p>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="steps-item">
            <h3>2. Pay</h3>
            <p>Pay Through Online Easily. We Use The Most Safe way In Payment.</p>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 offset-md-3 offset-lg-0">
          <div class="steps-item">
            <h3>3. Enjoy</h3>
            <p>Enjoy Your Meal From The Core Of Heart & Feel The Taste Inside.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- .end step-section -->
