<!-- footer-section -->
<footer class="bg-overlay-1 bg-black">
  <div class="footer-upper pt-100 pb-80">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 order-2 order-lg-1">
          <div class="footer-content-list footer-content-item">
            <div class="footer-content-title">
              <h3>Our Offer</h3>
            </div>
            <div class="d-flex justify-content-between flex-wrap flex-lg-nowrap desk-pad-right-30">
              <ul class="footer-details footer-list">
                <li><a href="about-us">About Us</a></li>
                <li><a href="blogs-grid-without-sidebar">Blogs</a></li>
                <li><a href="faqs">FAQ's</a></li>
                <li><a href="reservation">Reservation</a></li>
                <li><a href="contact-us">Contact Us</a></li>
                <li><a href="cart">Cart</a></li>
              </ul>
              <ul class="footer-details footer-list">
                <li><a href="our-team">Teams</a></li>
                <li><a href="wishlist">Wishlist</a></li>
                <li><a href="privacy-policy">Privacy Policy</a></li>
                <li><a href="terms-conditions">Terms & Conditions</a></li>
                <li><a href="services">Services</a></li>
                <li><a href="my-account">My Account</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 order-1 order-lg-2">
          <div class="footer-content-item text-start text-lg-center">
            <div class="footer-logo">
              <a href="index"><img src="assets/images/logo/web-logo.png" alt="logo" class="blue-logo"></a>
            </div>
            <ul class="footer-details footer-address">
              <li>12 Poor Street, New York, USA</li>
              <li><span>Hotline:</span><a href="tel:001-964-565-87652">+1 964 565 87652</a></li>
              <li><span>Email:</span><a href="mailto:hello@fafo.com">hello@fafo.com</a></li>
            </ul>
            <div class="footer-follow">
              <p>Follow Us:</p>
              <ul class="social-list social-list-white">
                <li><a href="#"><i class="flaticon-facebook"></i></a></li>
                <li><a href="#"><i class="flaticon-twitter"></i></a></li>
                <li><a href="#"><i class="flaticon-linkedin"></i></a></li>
                <li><a href="#"><i class="flaticon-youtube"></i></a></li>
                <li><a href="#"><i class="flaticon-instagram-1"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 order-3">
          <div class="footer-content-list footer-content-item desk-pad-left-30">
            <div class="footer-content-title">
              <h3>Open Hours</h3>
            </div>
            <ul class="footer-details footer-time">
              <li>Saturday: <span>08:00 - 23.00</span></li>
              <li>Sunday: <span>08:00 - 23.00</span></li>
              <li>Monday: <span>08:00 - 21.00</span></li>
              <li>Tuesday: <span>09:00 - 23.00</span></li>
              <li>Wednesday: <span>08:00 - 23.00</span></li>
              <li>Thursday: <span>08:00 - 23.00</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-lower">
    <div class="container">
      <div class="d-flex justify-content-center">
        <div class="footer-lower-item">
          <div class="footer-copyright-text footer-copyright-text-red">
            <p>Copyright ©2021 Matacs Technologies Inc.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- .end footer-section -->
