<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center justify-content-between m-b-15">
            <h4 class="m-b-0">Notification List</h4>
            <div class="card-toolbar">
                <ul>
                    <!-- <li>
              <a class="text-gray" href="javascript:void(0)">
                <i class="anticon anticon-reload font-size-20"></i>
              </a>
                </li>-->

                    <li>
                        <p-dropdown placeholder="Select a City" optionLabel="name" ></p-dropdown>
                    </li>
                </ul>
            </div>
        </div>