<!-- header-bg -->
<div class="header-bg">
  <div class="container">
    <div class="rev_slider_wrapper">
      <!-- the ID here will be used in the JavaScript below to initialize the slider -->
      <div id="rev_slider_1" class="rev_slider" data-version="5.4.5" style="display:none">
        <!-- start slides -->
        <ul>
          <!-- slides item -->
          <li data-index="rs-1" id="4731852b-aabb-42b5-99cf-22447903f79e" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide">
            <!-- layer no. 1 -->
            <div class="tp-caption LandingPage-Title tp-resizeme"
                 id="slide-1-layer-1"
                 data-x="['left','center','center','center']" data-hoffset="none"
                 data-y="['top','top','top','top']" data-voffset="['170','50','70','45']"
                 data-fontsize="['60','60','45','35']"
                 data-lineheight="['85','85','55','40']"
                 data-letterspacing="4"
                 data-type="text"
                 data-responsive_offset="on"
                 data-frames='[{"from":"x:-50px;opacity:0;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                 data-textAlign="['left','center','center','center']"
                 data-fontweight="400"
                 style="z-index: 5; white-space: nowrap;">{{corusalProductList[0].productName}}</div>
            <!-- layer no. 2 -->
            <div class="tp-caption LandingPage-SubTitle   tp-resizeme"
                 id="slide-1-layer-2"
                 data-x="['left','center','center','center']" data-hoffset="none"
                 data-y="['top','top','top','top']" data-voffset="['250','240','215','140']"
                 data-fontsize="['25','25','17','17']"
                 data-lineheight="['30','30','25','25']"
                 data-width="['450','450','450','450']"
                 data-fontweight="500"
                 data-type="text"
                 data-responsive_offset="on"
                 data-frames='[{"from":"x:-50px;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                 data-textAlign="['left','left','center','center']"
                 style="z-index: 7;white-space: normal;font-style:normal;">{{corusalProductList[0].productDescription}}
            </div>
            <!-- layer no. 3 -->
            <div class="tp-caption LandingPage-SubTitle tp-resizeme"
                 id="slide-1-layer-3"
                 data-x="['left','center','center','center']" data-hoffset="none"
                 data-y="['top','top','top','top']" data-voffset="['350','300','270','185']"
                 data-fontsize="['20','20','17','17']"
                 data-lineheight="['30','30','25','25']"
                 data-width="['380','380','380','380']"
                 data-height="none"
                 data-whitespace="normal"
                 data-type="text"
                 data-responsive_offset="on"
                 data-frames='[{"from":"x:-50px;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                 data-textAlign="['left','center','center','center']"
                 style="z-index: 7;white-space: normal;font-style:normal; display: flex;align-items: center; max-width: 300px;">
              <a href="/product-detail/?productId={{corusalProductList[0].productId}}" id="ctaId-order-now" class="btn">Order Now <i class="flaticon-shopping-cart-black-shape"></i>
              </a>
              <p class="header-product-price color-white">${{corusalProductList[0].productPrice}}</p>
            </div>
            <!-- layer no. 4 -->
            <div class="tp-caption tp-resizeme"
                 id="slide-1-layer-4"
                 data-x="['right','center','center','center']" data-hoffset="['0','0','0','0']"
                 data-y="['top','top','top','top']" data-voffset="['87','380','370','270']"
                 data-type="image"
                 data-responsive_offset="on"
                 data-frames='[{"from":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.75;sY:0.75;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                 style="z-index: 8;border-width:0px;border-radius: 10px"><img style="border-radius: 10px" [src]="resolveImages(corusalProductList[0])" alt="" data-ww="['550px','550px','550px','550px']" data-hh="['520px','520px','520px','520px']" width="650" height="615" data-no-retina> </div>
          </li>
          <!-- slides item -->
          <li id="8a676882-6173-49b4-b123-866899b796eb" data-index="rs-2" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide">
            <!-- layer no. 1 -->
            <div class="tp-caption LandingPage-Title tp-resizeme"
                 id="slide-2-layer-1"
                 data-x="['left','center','center','center']" data-hoffset="none"
                 data-y="['top','top','top','top']" data-voffset="['170','50','70','45']"
                 data-fontsize="['60','60','45','35']"
                 data-lineheight="['85','85','55','40']"
                 data-letterspacing="4"
                 data-type="text"
                 data-responsive_offset="on"
                 data-frames='[{"from":"x:-50px;opacity:0;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                 data-textAlign="['left','center','center','center']"
                 data-fontweight="400"
                 style="z-index: 5; white-space: nowrap;">{{corusalProductList[1].productName}}</div>
            <!-- layer no. 2 -->
            <div class="tp-caption LandingPage-SubTitle   tp-resizeme"
                 id="slide-2-layer-2"
                 data-x="['left','center','center','center']" data-hoffset="none"
                 data-y="['top','top','top','top']" data-voffset="['250','240','215','140']"
                 data-fontsize="['25','25','17','17']"
                 data-lineheight="['30','30','25','25']"
                 data-width="['450','450','450','450']"
                 data-fontweight="500"
                 data-type="text"
                 data-responsive_offset="on"
                 data-frames='[{"from":"x:-50px;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                 data-textAlign="['left','left','center','center']"
                 style="z-index: 7;white-space: normal;font-style:normal;">{{corusalProductList[1].productDescription}}
            </div>
            <!-- layer no. 3 -->
            <div class="tp-caption LandingPage-SubTitle tp-resizeme"
                 id="slide-2-layer-3"
                 data-x="['left','center','center','center']" data-hoffset="none"
                 data-y="['top','top','top','top']" data-voffset="['350','300','270','185']"
                 data-fontsize="['20','20','17','17']"
                 data-lineheight="['30','30','25','25']"
                 data-width="['380','380','380','380']"
                 data-height="none"
                 data-whitespace="normal"
                 data-type="text"
                 data-responsive_offset="on"
                 data-frames='[{"from":"x:-50px;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                 data-textAlign="['left','center','center','center']"
                 style="z-index: 7;white-space: normal;font-style:normal; display: flex;align-items: center; max-width: 300px;">
              <a id="ctaId-order-now" href="/product-detail/?productId={{corusalProductList[1].productId}}" class="btn">Order Now <i class="flaticon-shopping-cart-black-shape"></i>
              </a>
              <p class="header-product-price color-white">${{corusalProductList[1].productPrice}}</p>
            </div>
            <!-- layer no. 4 -->
            <div class="tp-caption tp-resizeme"
                 id="slide-2-layer-4"
                 data-x="['right','center','center','center']" data-hoffset="['0','0','0','0']"
                 data-y="['top','top','top','top']" data-voffset="['87','380','370','270']"
                 data-type="image"
                 data-responsive_offset="on"
                 data-frames='[{"from":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.75;sY:0.75;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                 style="z-index: 8;border-width:0px;"><img style="border-radius: 10px" [src]="resolveImages(corusalProductList[1])" alt="" data-ww="['550px','550px','550px','550px']" data-hh="['520px','520px','520px','520px']" width="650" height="615" data-no-retina> </div>
          </li>
          <!-- slides item -->
          <li id="ba0b7491-3431-4884-bfae-b0f6faef7cda" data-index="rs-3" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide">
            <!-- layer no. 1 -->
            <div class="tp-caption LandingPage-Title tp-resizeme"
                 id="slide-3-layer-1"
                 data-x="['left','center','center','center']" data-hoffset="none"
                 data-y="['top','top','top','top']" data-voffset="['170','50','70','45']"
                 data-fontsize="['60','60','45','35']"
                 data-lineheight="['85','85','55','40']"
                 data-letterspacing="4"
                 data-type="text"
                 data-responsive_offset="on"
                 data-frames='[{"from":"x:-50px;opacity:0;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                 data-textAlign="['left','center','center','center']"
                 data-fontweight="400"
                 style="z-index: 5; white-space: nowrap;">{{corusalProductList[2].productName}}</div>
            <!-- layer no. 2 -->
            <div class="tp-caption LandingPage-SubTitle   tp-resizeme"
                 id="slide-3-layer-2"
                 data-x="['left','center','center','center']" data-hoffset="none"
                 data-y="['top','top','top','top']" data-voffset="['250','240','215','140']"
                 data-fontsize="['25','25','17','17']"
                 data-lineheight="['30','30','25','25']"
                 data-width="['450','450','450','450']"
                 data-fontweight="500"
                 data-type="text"
                 data-responsive_offset="on"
                 data-frames='[{"from":"x:-50px;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                 data-textAlign="['left','left','center','center']"
                 style="z-index: 7;white-space: normal;font-style:normal;">{{corusalProductList[2].productDescription}}
            </div>
            <!-- layer no. 3 -->
            <div class="tp-caption LandingPage-SubTitle tp-resizeme"
                 id="slide-3-layer-3"
                 data-x="['left','center','center','center']" data-hoffset="none"
                 data-y="['top','top','top','top']" data-voffset="['350','300','270','185']"
                 data-fontsize="['20','20','17','17']"
                 data-lineheight="['30','30','25','25']"
                 data-width="['380','380','380','380']"
                 data-height="none"
                 data-whitespace="normal"
                 data-type="text"
                 data-responsive_offset="on"
                 data-frames='[{"from":"x:-50px;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                 data-textAlign="['left','center','center','center']"
                 style="z-index: 7;white-space: normal;font-style:normal; display: flex;align-items: center; max-width: 300px;">
              <a id="ctaId-order-now" href="/product-detail/?productId={{corusalProductList[2].productId}}" class="btn">Order Now <i class="flaticon-shopping-cart-black-shape"></i>
              </a>
              <p class="header-product-price color-white">${{corusalProductList[2].productPrice}}</p>
            </div>
            <!-- layer no. 4 -->
            <div class="tp-caption tp-resizeme"
                 id="slide-3-layer-4"
                 data-x="['right','center','center','center']" data-hoffset="['0','0','0','0']"
                 data-y="['top','top','top','top']" data-voffset="['87','380','370','270']"
                 data-type="image"
                 data-responsive_offset="on"
                 data-frames='[{"from":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.75;sY:0.75;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                 style="z-index: 8;border-width:0px;"><img style="border-radius: 10px" [src]="resolveImages(corusalProductList[2])" alt="" data-ww="['550px','550px','550px','550px']" data-hh="['520px','520px','520px','520px']" width="650" height="615" data-no-retina> </div>
          </li>
        </ul><!-- END SLIDES LIST -->
        <!-- .end slides -->
      </div>
    </div>
  </div>
</div>
<!-- .end header-bg -->
