<!-- header-bg -->
<div class="header-bg">
  <div class="container">
    <div class="rev_slider_wrapper">
      <!-- the ID here will be used in the JavaScript below to initialize the slider -->
      <div id="rev_slider_1" class="rev_slider" data-version="5.4.5" style="display:none">
        <!-- start slides -->
        <ul>
          <!-- slides item -->
          <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide">
            <!-- layer no. 1 -->
            <div class="tp-caption LandingPage-Title tp-resizeme"
                 id="slide-1-layer-1"
                 data-x="['left','center','center','center']" data-hoffset="none"
                 data-y="['top','top','top','top']" data-voffset="['170','50','70','45']"
                 data-fontsize="['60','60','45','35']"
                 data-lineheight="['85','85','55','40']"
                 data-letterspacing="4"
                 data-type="text"
                 data-responsive_offset="on"
                 data-frames='[{"from":"x:-50px;opacity:0;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                 data-textAlign="['left','center','center','center']"
                 data-fontweight="400"
                 style="z-index: 5; white-space: nowrap;">The Best Place To <br> Satisfy Your Tummy</div>
            <!-- layer no. 2 -->
            <div class="tp-caption LandingPage-SubTitle   tp-resizeme"
                 id="slide-1-layer-2"
                 data-x="['left','center','center','center']" data-hoffset="none"
                 data-y="['top','top','top','top']" data-voffset="['355','240','215','140']"
                 data-fontsize="['25','25','17','17']"
                 data-lineheight="['30','30','25','25']"
                 data-width="['450','450','450','450']"
                 data-fontweight="500"
                 data-type="text"
                 data-responsive_offset="on"
                 data-frames='[{"from":"x:-50px;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                 data-textAlign="['left','left','center','center']"
                 style="z-index: 7;white-space: normal;font-style:normal;">Special Mashroom Fry Pizza Only At
            </div>
            <!-- layer no. 3 -->
            <div class="tp-caption LandingPage-SubTitle tp-resizeme"
                 id="slide-1-layer-3"
                 data-x="['left','center','center','center']" data-hoffset="none"
                 data-y="['top','top','top','top']" data-voffset="['415','300','270','185']"
                 data-fontsize="['20','20','17','17']"
                 data-lineheight="['30','30','25','25']"
                 data-width="['380','380','380','380']"
                 data-height="none"
                 data-whitespace="normal"
                 data-type="text"
                 data-responsive_offset="on"
                 data-frames='[{"from":"x:-50px;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                 data-textAlign="['left','center','center','center']"
                 style="z-index: 7;white-space: normal;font-style:normal; display: flex;align-items: center; max-width: 300px;">
              <a href="shop-details.html" class="btn">Order Now <i class="flaticon-shopping-cart-black-shape"></i>
              </a>
              <p class="header-product-price color-white">$10.99 <del>$18.99</del></p>
            </div>
            <!-- layer no. 4 -->
            <div class="tp-caption tp-resizeme"
                 id="slide-1-layer-4"
                 data-x="['right','center','center','center']" data-hoffset="['0','0','0','0']"
                 data-y="['top','top','top','top']" data-voffset="['87','380','370','270']"
                 data-type="image"
                 data-responsive_offset="on"
                 data-frames='[{"from":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.75;sY:0.75;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                 style="z-index: 8;border-width:0px;"><img src="assets/images/header-carousel-1.png" alt="" data-ww="['550px','550px','550px','550px']" data-hh="['520px','520px','520px','520px']" width="650" height="615" data-no-retina> </div>
            <!-- layer no. 5 -->
            <div class="tp-caption tp-resizeme"
                 id="slide-1-layer-5"
                 data-x="['left','left','left','left']"
                 data-y="['top','top','top','top']" data-voffset="['30','30','30','30']"
                 data-type="image"
                 data-responsive_offset="on"
                 data-frames='[{"from":"x:-50px;rZ: -120deg;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                 style="z-index: 8;border-width:0px;"><img src="assets/images/header-shape-1.png" alt="" data-ww="['42px','42px','42px','42px']" data-hh="['43px','43px','43px','43px']" width="42" height="43" data-no-retina> </div>
            <!-- layer no. 6 -->
            <div class="tp-caption tp-resizeme"
                 id="slide-1-layer-6"
                 data-x="['center','center','center','center']"
                 data-y="['top','top','top','top']" data-voffset="['50','-10','10','-20']"
                 data-type="image"
                 data-responsive_offset="on"
                 data-frames='[{"from":"y:-50px;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                 style="z-index: 8;border-width:0px;"><img src="assets/images/header-shape-2.png" alt="" data-ww="['90px','90px','90px','90px']" data-hh="['81px','81px','81px','81px']" width="90" height="81" data-no-retina> </div>
            <!-- layer no. 7 -->
            <div class="tp-caption tp-resizeme"
                 id="slide-1-layer-7"
                 data-x="['right','right','right','right']"
                 data-y="['top','top','top','top']" data-voffset="['-45','-45','-45','-75']"
                 data-type="image"
                 data-responsive_offset="on"
                 data-frames='[{"from":"x:50px;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                 style="z-index: 8;border-width:0px;"><img src="assets/images/header-shape-3.png" alt="" data-ww="['110px','110px','110px','110px']" data-hh="['143px','143px','143px','143px']" width="110" height="143" data-no-retina> </div>
            <!-- layer no. 8 -->
            <div class="tp-caption tp-resizeme"
                 id="slide-1-layer-8"
                 data-x="['right','right','right','right']"
                 data-y="['top','top','top','top']" data-voffset="['150','150','150','150']"
                 data-type="image"
                 data-responsive_offset="on"
                 data-frames='[{"from":"x:-50px;rZ: -120deg;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                 style="z-index: 8;border-width:0px;"><img src="assets/images/header-shape-1.png" alt="" data-ww="['42px','42px','42px','42px']" data-hh="['43px','43px','43px','43px']" width="42" height="43" data-no-retina> </div>
            <!-- layer no. 9 -->
            <div class="tp-caption tp-resizeme"
                 id="slide-1-layer-9"
                 data-x="['center','center','center','center']"
                 data-y="['center','center','center','center']" data-voffset="['150','150','150','150']"
                 data-type="image"
                 data-responsive_offset="on"
                 data-frames='[{"from":"x:50px;rZ: -120deg;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                 style="z-index: 8;border-width:0px;"><img src="assets/images/header-shape-1.png" alt="" data-ww="['42px','42px','42px','42px']" data-hh="['43px','43px','43px','43px']" width="42" height="43" data-no-retina> </div>
            <!-- layer no. 10 -->
            <div class="tp-caption tp-resizeme"
                 id="slide-1-layer-10"
                 data-x="['left','left','left','left']"
                 data-y="['bottom','bottom','bottom','bottom']"
                 data-type="image"
                 data-responsive_offset="on"
                 data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                 style="z-index: 8;border-width:0px;"><img src="assets/images/header-shape-3.png" alt="" data-ww="['110px','110px','110px','110px']" data-hh="['143px','143px','143px','143px']" width="110" height="143" data-no-retina> </div>
            <!-- layer no. 11 -->
            <div class="tp-caption tp-resizeme"
                 id="slide-1-layer-11"
                 data-x="['right','right','right','right']"
                 data-y="['bottom','bottom','bottom','bottom']"
                 data-type="image"
                 data-responsive_offset="on"
                 data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                 style="z-index: 8;border-width:0px;"><img src="assets/images/header-shape-4.png" alt="" data-ww="['318px','318px','318px','318px']" data-hh="['209px','209px','209px','209px']" width="318" height="209" data-no-retina> </div>
          </li>
          <!-- slides item -->
          <li data-index="rs-2" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide">
            <!-- layer no. 1 -->
            <div class="tp-caption LandingPage-Title tp-resizeme"
                 id="slide-2-layer-1"
                 data-x="['left','center','center','center']" data-hoffset="none"
                 data-y="['top','top','top','top']" data-voffset="['170','50','70','45']"
                 data-fontsize="['60','60','45','35']"
                 data-lineheight="['85','85','55','40']"
                 data-letterspacing="4"
                 data-type="text"
                 data-responsive_offset="on"
                 data-frames='[{"from":"x:-50px;opacity:0;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                 data-textAlign="['left','center','center','center']"
                 data-fontweight="400"
                 style="z-index: 5; white-space: nowrap;">We Ensure That You <br> Will Be Satisfied</div>
            <!-- layer no. 2 -->
            <div class="tp-caption LandingPage-SubTitle   tp-resizeme"
                 id="slide-2-layer-2"
                 data-x="['left','center','center','center']" data-hoffset="none"
                 data-y="['top','top','top','top']" data-voffset="['355','240','215','140']"
                 data-fontsize="['25','25','17','17']"
                 data-lineheight="['30','30','25','25']"
                 data-width="['450','450','450','450']"
                 data-fontweight="500"
                 data-type="text"
                 data-responsive_offset="on"
                 data-frames='[{"from":"x:-50px;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                 data-textAlign="['left','left','center','center']"
                 style="z-index: 7;white-space: normal;font-style:normal;">Double Layer Garlic Sauce Burger
            </div>
            <!-- layer no. 3 -->
            <div class="tp-caption LandingPage-SubTitle tp-resizeme"
                 id="slide-2-layer-3"
                 data-x="['left','center','center','center']" data-hoffset="none"
                 data-y="['top','top','top','top']" data-voffset="['415','300','270','185']"
                 data-fontsize="['20','20','17','17']"
                 data-lineheight="['30','30','25','25']"
                 data-width="['380','380','380','380']"
                 data-height="none"
                 data-whitespace="normal"
                 data-type="text"
                 data-responsive_offset="on"
                 data-frames='[{"from":"x:-50px;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                 data-textAlign="['left','center','center','center']"
                 style="z-index: 7;white-space: normal;font-style:normal; display: flex;align-items: center; max-width: 300px;">
              <a href="shop-details.html" class="btn">Order Now <i class="flaticon-shopping-cart-black-shape"></i>
              </a>
              <p class="header-product-price color-white">$9.99 <del>$15.99</del></p>
            </div>
            <!-- layer no. 4 -->
            <div class="tp-caption tp-resizeme"
                 id="slide-2-layer-4"
                 data-x="['right','center','center','center']" data-hoffset="['0','0','0','0']"
                 data-y="['top','top','top','top']" data-voffset="['87','380','370','270']"
                 data-type="image"
                 data-responsive_offset="on"
                 data-frames='[{"from":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.75;sY:0.75;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                 style="z-index: 8;border-width:0px;"><img src="assets/images/header-carousel-2.png" alt="" data-ww="['550px','550px','550px','550px']" data-hh="['520px','520px','520px','520px']" width="650" height="615" data-no-retina> </div>
            <!-- layer no. 5 -->
            <div class="tp-caption tp-resizeme"
                 id="slide-2-layer-5"
                 data-x="['left','left','left','left']"
                 data-y="['top','top','top','top']" data-voffset="['30','30','30','30']"
                 data-type="image"
                 data-responsive_offset="on"
                 data-frames='[{"from":"x:-50px;rZ: -120deg;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                 style="z-index: 8;border-width:0px;"><img src="assets/images/header-shape-1.png" alt="" data-ww="['42px','42px','42px','42px']" data-hh="['43px','43px','43px','43px']" width="42" height="43" data-no-retina> </div>
            <!-- layer no. 6 -->
            <div class="tp-caption tp-resizeme"
                 id="slide-2-layer-6"
                 data-x="['center','center','center','center']"
                 data-y="['top','top','top','top']" data-voffset="['50','-10','10','-20']"
                 data-type="image"
                 data-responsive_offset="on"
                 data-frames='[{"from":"y:-50px;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                 style="z-index: 8;border-width:0px;"><img src="assets/images/header-shape-2.png" alt="" data-ww="['90px','90px','90px','90px']" data-hh="['81px','81px','81px','81px']" width="90" height="81" data-no-retina> </div>
            <!-- layer no. 7 -->
            <div class="tp-caption tp-resizeme"
                 id="slide-2-layer-7"
                 data-x="['right','right','right','right']"
                 data-y="['top','top','top','top']" data-voffset="['-45','-45','-45','-75']"
                 data-type="image"
                 data-responsive_offset="on"
                 data-frames='[{"from":"x:50px;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                 style="z-index: 8;border-width:0px;"><img src="assets/images/header-shape-3.png" alt="" data-ww="['110px','110px','110px','110px']" data-hh="['143px','143px','143px','143px']" width="110" height="143" data-no-retina> </div>
            <!-- layer no. 8 -->
            <div class="tp-caption tp-resizeme"
                 id="slide-2-layer-8"
                 data-x="['right','right','right','right']"
                 data-y="['top','top','top','top']" data-voffset="['150','150','150','150']"
                 data-type="image"
                 data-responsive_offset="on"
                 data-frames='[{"from":"x:-50px;rZ: -120deg;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                 style="z-index: 8;border-width:0px;"><img src="assets/images/header-shape-1.png" alt="" data-ww="['42px','42px','42px','42px']" data-hh="['43px','43px','43px','43px']" width="42" height="43" data-no-retina> </div>
            <!-- layer no. 9 -->
            <div class="tp-caption tp-resizeme"
                 id="slide-2-layer-9"
                 data-x="['center','center','center','center']"
                 data-y="['center','center','center','center']" data-voffset="['150','150','150','150']"
                 data-type="image"
                 data-responsive_offset="on"
                 data-frames='[{"from":"x:50px;rZ: -120deg;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                 style="z-index: 8;border-width:0px;"><img src="assets/images/header-shape-1.png" alt="" data-ww="['42px','42px','42px','42px']" data-hh="['43px','43px','43px','43px']" width="42" height="43" data-no-retina> </div>
            <!-- layer no. 10 -->
            <div class="tp-caption tp-resizeme"
                 id="slide-2-layer-10"
                 data-x="['left','left','left','left']"
                 data-y="['bottom','bottom','bottom','bottom']"
                 data-type="image"
                 data-responsive_offset="on"
                 data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                 style="z-index: 8;border-width:0px;"><img src="assets/images/header-shape-3.png" alt="" data-ww="['110px','110px','110px','110px']" data-hh="['143px','143px','143px','143px']" width="110" height="143" data-no-retina> </div>
            <!-- layer no. 11 -->
            <div class="tp-caption tp-resizeme"
                 id="slide-2-layer-11"
                 data-x="['right','right','right','right']"
                 data-y="['bottom','bottom','bottom','bottom']"
                 data-type="image"
                 data-responsive_offset="on"
                 data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                 style="z-index: 8;border-width:0px;"><img src="assets/images/header-shape-4.png" alt="" data-ww="['318px','318px','318px','318px']" data-hh="['209px','209px','209px','209px']" width="318" height="209" data-no-retina> </div>
          </li>
          <!-- slides item -->
          <li data-index="rs-3" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="300"  data-rotate="0"  data-saveperformance="off"  data-title="Slide">
            <!-- layer no. 1 -->
            <div class="tp-caption LandingPage-Title tp-resizeme"
                 id="slide-3-layer-1"
                 data-x="['left','center','center','center']" data-hoffset="none"
                 data-y="['top','top','top','top']" data-voffset="['170','50','70','45']"
                 data-fontsize="['60','60','45','35']"
                 data-lineheight="['85','85','55','40']"
                 data-letterspacing="4"
                 data-type="text"
                 data-responsive_offset="on"
                 data-frames='[{"from":"x:-50px;opacity:0;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                 data-textAlign="['left','center','center','center']"
                 data-fontweight="400"
                 style="z-index: 5; white-space: nowrap;">Best Combo Offer <br> For Your Satisfiction</div>
            <!-- layer no. 2 -->
            <div class="tp-caption LandingPage-SubTitle   tp-resizeme"
                 id="slide-3-layer-2"
                 data-x="['left','center','center','center']" data-hoffset="none"
                 data-y="['top','top','top','top']" data-voffset="['355','240','215','140']"
                 data-fontsize="['25','25','17','17']"
                 data-lineheight="['30','30','25','25']"
                 data-width="['450','450','450','450']"
                 data-fontweight="500"
                 data-type="text"
                 data-responsive_offset="on"
                 data-frames='[{"from":"x:-50px;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                 data-textAlign="['left','left','center','center']"
                 style="z-index: 7;white-space: normal;font-style:normal;">Burger + Chicken + Drinks
            </div>
            <!-- layer no. 3 -->
            <div class="tp-caption LandingPage-SubTitle tp-resizeme"
                 id="slide-3-layer-3"
                 data-x="['left','center','center','center']" data-hoffset="none"
                 data-y="['top','top','top','top']" data-voffset="['415','300','270','185']"
                 data-fontsize="['20','20','17','17']"
                 data-lineheight="['30','30','25','25']"
                 data-width="['380','380','380','380']"
                 data-height="none"
                 data-whitespace="normal"
                 data-type="text"
                 data-responsive_offset="on"
                 data-frames='[{"from":"x:-50px;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                 data-textAlign="['left','center','center','center']"
                 style="z-index: 7;white-space: normal;font-style:normal; display: flex;align-items: center; max-width: 300px;">
              <a href="shop-details.html" class="btn">Order Now <i class="flaticon-shopping-cart-black-shape"></i>
              </a>
              <p class="header-product-price color-white">$20.99 <del>$28.99</del></p>
            </div>
            <!-- layer no. 4 -->
            <div class="tp-caption tp-resizeme"
                 id="slide-3-layer-4"
                 data-x="['right','center','center','center']" data-hoffset="['0','0','0','0']"
                 data-y="['top','top','top','top']" data-voffset="['87','380','370','270']"
                 data-type="image"
                 data-responsive_offset="on"
                 data-frames='[{"from":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.75;sY:0.75;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                 style="z-index: 8;border-width:0px;"><img src="assets/images/header-carousel-3.png" alt="" data-ww="['550px','550px','550px','550px']" data-hh="['520px','520px','520px','520px']" width="650" height="615" data-no-retina> </div>
            <!-- layer no. 5 -->
            <div class="tp-caption tp-resizeme"
                 id="slide-3-layer-5"
                 data-x="['left','left','left','left']"
                 data-y="['top','top','top','top']" data-voffset="['30','30','30','30']"
                 data-type="image"
                 data-responsive_offset="on"
                 data-frames='[{"from":"x:-50px;rZ: -120deg;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                 style="z-index: 8;border-width:0px;"><img src="assets/images/header-shape-1.png" alt="" data-ww="['42px','42px','42px','42px']" data-hh="['43px','43px','43px','43px']" width="42" height="43" data-no-retina> </div>
            <!-- layer no. 6 -->
            <div class="tp-caption tp-resizeme"
                 id="slide-3-layer-6"
                 data-x="['center','center','center','center']"
                 data-y="['top','top','top','top']" data-voffset="['50','-10','10','-20']"
                 data-type="image"
                 data-responsive_offset="on"
                 data-frames='[{"from":"y:-50px;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                 style="z-index: 8;border-width:0px;"><img src="assets/images/header-shape-2.png" alt="" data-ww="['90px','90px','90px','90px']" data-hh="['81px','81px','81px','81px']" width="90" height="81" data-no-retina> </div>
            <!-- layer no. 7 -->
            <div class="tp-caption tp-resizeme"
                 id="slide-3-layer-7"
                 data-x="['right','right','right','right']"
                 data-y="['top','top','top','top']" data-voffset="['-45','-45','-45','-75']"
                 data-type="image"
                 data-responsive_offset="on"
                 data-frames='[{"from":"x:50px;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                 style="z-index: 8;border-width:0px;"><img src="assets/images/header-shape-3.png" alt="" data-ww="['110px','110px','110px','110px']" data-hh="['143px','143px','143px','143px']" width="110" height="143" data-no-retina> </div>
            <!-- layer no. 8 -->
            <div class="tp-caption tp-resizeme"
                 id="slide-3-layer-8"
                 data-x="['right','right','right','right']"
                 data-y="['top','top','top','top']" data-voffset="['150','150','150','150']"
                 data-type="image"
                 data-responsive_offset="on"
                 data-frames='[{"from":"x:-50px;rZ: -120deg;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                 style="z-index: 8;border-width:0px;"><img src="assets/images/header-shape-1.png" alt="" data-ww="['42px','42px','42px','42px']" data-hh="['43px','43px','43px','43px']" width="42" height="43" data-no-retina> </div>
            <!-- layer no. 9 -->
            <div class="tp-caption tp-resizeme"
                 id="slide-3-layer-9"
                 data-x="['center','center','center','center']"
                 data-y="['center','center','center','center']" data-voffset="['150','150','150','150']"
                 data-type="image"
                 data-responsive_offset="on"
                 data-frames='[{"from":"x:50px;rZ: -120deg;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                 style="z-index: 8;border-width:0px;"><img src="assets/images/header-shape-1.png" alt="" data-ww="['42px','42px','42px','42px']" data-hh="['43px','43px','43px','43px']" width="42" height="43" data-no-retina> </div>
            <!-- layer no. 10 -->
            <div class="tp-caption tp-resizeme"
                 id="slide-3-layer-10"
                 data-x="['left','left','left','left']"
                 data-y="['bottom','bottom','bottom','bottom']"
                 data-type="image"
                 data-responsive_offset="on"
                 data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                 style="z-index: 8;border-width:0px;"><img src="assets/images/header-shape-3.png" alt="" data-ww="['110px','110px','110px','110px']" data-hh="['143px','143px','143px','143px']" width="110" height="143" data-no-retina> </div>
            <!-- layer no. 11 -->
            <div class="tp-caption tp-resizeme"
                 id="slide-3-layer-11"
                 data-x="['right','right','right','right']"
                 data-y="['bottom','bottom','bottom','bottom']"
                 data-type="image"
                 data-responsive_offset="on"
                 data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
                 style="z-index: 8;border-width:0px;"><img src="assets/images/header-shape-4.png" alt="" data-ww="['318px','318px','318px','318px']" data-hh="['209px','209px','209px','209px']" width="318" height="209" data-no-retina> </div>
          </li>
        </ul><!-- END SLIDES LIST -->
        <!-- .end slides -->
      </div>
    </div>
  </div>
</div>
<!-- .end header-bg -->
