<div class="card">
    <div class="card-body">
      <div class="d-flex align-items-center justify-content-between m-b-15">
        <h4 class="m-b-0">Table List</h4>
        <div class="card-toolbar">
          <ul>
            <!-- <li>
              <a class="text-gray" href="javascript:void(0)">
                <i class="anticon anticon-reload font-size-20"></i>
              </a>
            </li>-->
            <li>
              <a class="text-gray" href="javascript:void(0)">
                <i class="anticon anticon-delete font-size-20"></i>
              </a>
            </li>
            <li>
              <a class="text-gray" [routerLink]="['detail']">
                <i class="anticon anticon-plus font-size-20"></i>
                Add New
              </a>
            </li>
          </ul>
        </div>
      </div>

      <p-table #dt1 [value]="tables" [responsive]="true" [paginator]="true" [rows]="10" [loading]="loading"
        [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10,25,50]" [globalFilterFields]="['tableId','tableSeats','area.areaName', 'tableOccupied']">
        <ng-template pTemplate="caption">
          <div class="p-d-flex">
            <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
              (click)="clear(dt1)"></button>
            <span class="p-input-icon-left p-ml-auto" style="float: right;">
              <i class="pi pi-search"></i>
              <input #search pInputText type="text" (input)="dt1.filterGlobal(search.value, 'contains')"
                placeholder="Search keyword" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="tableLabel">Label <p-sortIcon field="tableLabel"></p-sortIcon>
            </th>
            <th pSortableColumn="tableSeats">Seats <p-sortIcon field="tableSeats"></p-sortIcon>
            </th>
            <th pSortableColumn="tableOccupied">Occupied <p-sortIcon field="tableOccupied"></p-sortIcon>
            </th>
            <th pSortableColumn="area.areaName">Area <p-sortIcon field="areaName"></p-sortIcon>
            </th>
            <th pSortableColumn="createdAt">Created <p-sortIcon field="createdAt"></p-sortIcon>
            </th>
            <th pSortableColumn="updatedAt">Updated <p-sortIcon field="updatedAt"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-table>
          <tr>
            <td>
              <p-tableCheckbox [value]="tables"></p-tableCheckbox>
            </td>
            <td>
              <button class="btn btn-primary btn-tone m-r-5" [routerLink]="['detail']"
                [queryParams]="{ tableId: table.tableId }">T-{{table.tableLabel}}</button>
            </td>
            <td>{{table.tableSeats}}</td>
            <td><span *ngIf="table.tableOccupied === true"
                class="badge badge-danger">Yes</span>
              <span *ngIf="table.tableOccupied === false"
                class="badge badge-success">No</span>
            </td>
            <td>{{table.areaName}}</td>
            <td>{{table.createdAt}}</td>
            <td>{{table.updatedAt}}</td>

          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
          <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
          <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
      </p-table>

    </div>
  </div>
