<div class="card card-primary" xmlns="http://www.w3.org/1999/html">
    <div class="card-header">
        <div class="d-flex align-items-center justify-content-between m-v-15">
            <h3 class="card-title">Restaurant Details <span *ngIf="!newForm">{{restaurant.restaurantName}}</span></h3>
            <div class="card-toolbar">
                <div class="d-flex">
                    <button pButton pRipple type="button" label="Back" icon="pi pi-chevron-left" *ngIf="!editMode"
                        class="p-button-rounded p-button-success m-r-5 d-none d-sm-block"
                        [routerLink]="['../']"></button>

                    <button pButton pRipple type="button" icon="pi pi-chevron-left" *ngIf="!editMode"
                        class="p-button-rounded p-button-success m-r-5  d-sm-none" [routerLink]="['../']"></button>

                    <button pButton pRipple type="button" label="Delete" icon="pi pi-trash" *ngIf="editMode"
                         class="p-button-rounded p-button-danger m-r-5 d-none d-sm-block"></button>

                    <button pButton pRipple type="button" label="Cancel" icon="pi pi-times"
                        class="p-button-rounded m-r-5 d-none d-sm-block" *ngIf="editMode"
                        (click)="disableEdit()"></button>

                    <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded m-r-5  d-sm-none"
                        *ngIf="editMode" (click)="disableEdit()"></button>

                    <button pButton pRipple type="button" label="Edit" icon="pi pi-pencil"
                        class="p-button-rounded m-r-5 d-none d-sm-block" *ngIf="!editMode"
                        (click)="enableEdit()"></button>

                    <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded m-r-5  d-sm-none"
                        *ngIf="!editMode" (click)="enableEdit()"></button>

                    <button pButton pRipple type="button" label="Save" icon="pi pi-save" *ngIf="editMode"
                        class="p-button-rounded p-button-secondary m-r-5 d-none d-sm-block"
                        (click)="onSubmit()"></button>

                    <button pButton pRipple type="button" icon="pi pi-save" *ngIf="editMode"
                        class="p-button-rounded p-button-secondary m-r-5  d-sm-none" (click)="onSubmit()"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form [formGroup]="restaurantForm" (ngSubmit)="onSubmit()">
            <div class="p-fluid">
                <p-divider>
                    <div class="p-d-inline-flex p-ai-center">
                        <i class="pi pi-user p-mr-2 mr-2"></i>
                        <b>Identification</b>
                    </div>
                </p-divider>
                <div class="form-group">
                    <label for="form-restaurantName"
                        class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 font-weight-bold">Restaurant Name</label>
                    <input type="text" pInputText formControlName="restaurantName" id="form-restaurantName"
                        placeholder="Enter Name">
                </div>
                 <div class="form-group">
                    <label for="form-restaurantEmail" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 font-weight-bold">Restaurant Label</label>
                    <input pInputText type="text" formControlName="restaurantLabel" id="form-restaurantLabel"
                        placeholder="Enter Label">
                </div>
                <div class="form-group">
                    <label for="form-restaurantEmail" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 font-weight-bold">Restaurant Location</label>
                    <input pInputText type="text" formControlName="restaurantLocation" id="form-restaurantLocation"
                        placeholder="Enter Location">
                </div>
                <!-- <div class="form-group">
                    <label for="form-restaurantEmail" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 font-weight-bold">restaurant
                        Email</label>
                    <input pInputText type="email" formControlName="restaurantEmail" id="form-restaurantEmail"
                        placeholder="Enter Email">
                </div>
                <div class="form-group">
                    <label for="form-restaurantPhone" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 font-weight-bold">restaurant
                        Phone</label>
                    <input pInputText type="text" formControlName="restaurantPhone" id="form-restaurantPhone"
                        placeholder="Enter Phone">
                </div> -->
                <div class="form-group">
                    <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 font-weight-bold">Active</label>
                    <div class="p-col-12 p-md-10">
                        <p-toggleButton class="ml-2" formControlName="restaurantActive" id="form-restaurantActive"
                            onLabel="Enabled" offLabel="Disabled" onIcon="pi-check" offIcon="pi pi-times"
                            [style]="{'width': '10em'}"></p-toggleButton>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Action Processed</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Changes saved!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    [routerLink]="['../']">Close</button>
            </div>
        </div>
    </div>
</div>