<!-- shop-section -->
<section class="shop-section pt-100 pb-70 bg-black" id="p01">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9 pb-30">
        <div class="product-list-header">
          <div class="product-list-header-item">
            <div *ngIf="false" class="product-list-result">
              <!-- <p>Showing 1-6 Of 35 Results</p> -->
              <div class="around-border pr-5">
                <input type="text" class="form-control" placeholder="Message to Sofia" id="sofiaInput" #sofiaInput
                  (keyup.enter)="sendWSMessage(sofiaInput.value)">
              </div>
              <div class="sidebar-title">
                <p class="color-white"
                  style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                  {{sofiaMessage}}</p>
              </div>
            </div>
          </div>
          <div class="product-list-header-item">
            <div class="product-list-action">
              <div class="product-list-form">
                <form>
                  <select>
                    <option value="popularity">Sort By Popular</option>
                    <option value="lowtohigh">Sort By Price: Low To High</option>
                    <option value="hightolow">Sort By Price: High To Low</option>
                  </select>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="product-content" id="s01">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 pb-30" *ngFor="let product of filteredProducts">
              <div class="product-card product-card-dark" id="{{product.productId}}">
                <div class="product-card-thumb">
                  <div class="product-card-thumb-inner">
                    <img src="assets/images/product-1.png" alt="product">
                    <div class="product-card-button">
                      <a (click)="addToCart(product.productId)" class="btn btn-yellow">Add To
                        Cart</a>
                      <a class="btn">Add To Wishlist</a>
                    </div>
                  </div>
                </div>
                <div class="product-card-content">
                  <h3><a href="/product-detail/?productId={{product.productId}}">{{product.productName}}</a></h3>
                  <h4 class="product-price">${{product.productRate.standard}}</h4>
                </div>
              </div>
            </div>

          </div>
          <!-- <div class="page-pagination">
            <nav aria-label="pagination">
              <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                  <span class="page-link"><i class="flaticon-left-arrow-1"></i></span>
                </li>
                <li class="page-item active">
                  <span class="page-link">
                    1
                    <span class="sr-only">(current)</span>
                  </span>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#"><i class="flaticon-next"></i></a>
                </li>
              </ul>
            </nav>
          </div> -->
        </div>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 pb-30">
        <div class="sidebar-item around-border sidebar-search">
          <form>
            <div class="form-group">
              <input [formControl]="searchControl" class="form-control" id="productSearch" type="text" placeholder="Search">
              <button><i class="flaticon-loupe"></i></button>
            </div>
          </form>
        </div>
        <div class="sidebar-item mb-30">
          <div class="sidebar-title">
            <h3 class="color-white">Filter By Price</h3>
          </div>
          <div class="sidebar-content">
            <form class="price-range-content">
              <div class="price-range-bar" id="range-slider"></div>
              <div class="price-range-filter">
                <div class="price-range-filter-item price-range-filter-button order-2 order-xl-1">
                  <button class="btn btn-small">Filter</button>
                </div>
                <div class="price-range-filter-item d-flex align-items-center text-end order-1 order-xl-2">
                  <h4>Price:</h4>
                  <input type="text" id="price-amount" readonly>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="sidebar-item">
          <div class="sidebar-title">
            <h3 class="color-white">Categories</h3>
          </div>
          <ul class="sidebar-list">
            <li *ngFor="let category of categoryList" id="{{category.categoryId}}">
              <a href="javascript:void(0)" (click)="filterProducts(category.categoryId)">{{category.categoryName}}</a>
            </li>
          </ul>
        </div>
        <!-- <div class="sidebar-item">
          <div class="sidebar-title">
            <h3 class="color-white">Popular</h3>
          </div>
          <div class="sidebar-recent-post">
            <div class="sidebar-recent-item">
              <div class="sidebar-recent-thumb">
                <a href="#"><img src="assets/images/blog-nav-1.jpg" alt="blog"></a>
              </div>
              <div class="sidebar-recent-content">
                <h3><a href="#">Cheese Burger</a></h3>
                <h4 class="product-price">$ 12.50</h4>
              </div>
            </div>
            <div class="sidebar-recent-item">
              <div class="sidebar-recent-thumb">
                <a href="#"><img src="assets/images/blog-nav-4.jpg" alt="blog"></a>
              </div>
              <div class="sidebar-recent-content">
                <h3><a href="#">Omlette Pizza</a></h3>
                <h4 class="product-price">$ 10.12</h4>
              </div>
            </div>
            <div class="sidebar-recent-item">
              <div class="sidebar-recent-thumb">
                <a href="#"><img src="assets/images/blog-nav-3.jpg" alt="blog"></a>
              </div>
              <div class="sidebar-recent-content">
                <h3><a href="#">Pizza + Burger Combo</a></h3>
                <h4 class="product-price">$ 11.45</h4>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>
<!-- .end shop-section -->

<app-product-cart-modal></app-product-cart-modal>
