// a { cursor: pointer; color: blue; }
// a:hover,a.hover { text-decoration: underline; }

.active-category {
  color: #E7272D
}

.product-icons {
  .fa-cart-plus {
    color: #FFCC00;
    font-size: large;
    cursor: pointer;
  }

  .fa-heart {
    color: #E7272D;
    font-size: large;
    cursor: pointer;
  }
}

.error-product {
  text-align: center;
  color: #FFCC00;
  font-size: large;
  font-weight: bold;
}

.badge {
  display: inline-block;
  padding: 1em;
  margin-left: 4px;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  cursor: pointer;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.badge-danger {
  color: #fff;
  background-color: #dc3545;
}

.product-card-thumb-inner {
  img {
    width: 400px;
    height: 150px;
    border-radius: 10px;
  }
}

.product-customization-modal {
  .modal-dialog {
    .modal-content {
      .modal-body {
        padding: 0px;
        height: 500px;

        .main-grid {
          .left {
            border-right: 1px solid rgba(0, 0, 0, .2);
            height: auto;
            padding: 0px;
          }

          .customization {
            .item {
              .blog-card-slide {
                .blog-card-thumb {
                  height: 480px;
                  border: none;
                  padding: 12px;

                  img {
                    width: 100%;
                    height: 550px;
                  }
                }

                .blog-card-content {
                  top: 15%;

                  .blog-entry {
                    ul {
                      li {
                        font-size: xx-large !important;
                      }
                    }
                  }

                  .slide-button-group {
                    display: flex;
                    position: absolute;
                    z-index: 1;
                    justify-content: space-between;
                    width: 99%;
                    top: 45%;

                    .prev, .next {
                      background: #E7272D;
                      color: #fff;
                      border-radius: 50%;
                      width: 40px;
                      height: 40px;

                      .fas {
                        color: whitesmoke;
                      }
                    }

                    .prev {
                      margin-left: -40px;
                    }

                    .apply-left-margin {
                      margin-left: 430px;
                    }
                  }
                }
              }
            }
          }

          .right {
            padding: 0px;

            .product-details {
              .blog-feature-item {
                padding: 6px;

                .sidebar-item {
                  .title {
                    color: #212529;
                    font-weight: bold;
                    font-size: medium;
                    margin: 0.5rem;
                  }

                  .sidebar-recent-post {
                    .sidebar-recent-item {
                      .sidebar-recent-content {
                        h3 {
                          color: #212529;
                          font-weight: bold;
                          font-size: medium;
                          margin: 0.5rem;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

