<!-- shop-section -->
<section class="shop-section pt-100 pb-70 bg-black">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9 pb-30">
        <div class="product-list-header">
          <div class="product-list-header-item">
            <div class="product-list-result">
              <p>Showing 1-6 Of 35 Results</p>
            </div>
          </div>
          <div class="product-list-header-item">
            <div class="product-list-action">
              <div class="product-list-form">
                <form>
                  <select>
                    <option value="popularity">Sort By Popular</option>
                    <option value="lowtohigh">Sort By Price: Low To High</option>
                    <option value="hightolow">Sort By Price: High To Low</option>
                  </select>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="product-content">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 pb-30">
              <div class="product-card product-card-dark">
                <div class="product-card-thumb">
                  <div class="product-card-thumb-inner">
                    <img src="assets/img/chicken_zinger_burger.png" alt="product">
                    <div class="product-card-button">
                      <a href="#" class="btn btn-yellow">Add To Cart</a>
                      <a href="#" class="btn">Add To Wishlist</a>
                    </div>
                  </div>
                </div>
                <div class="product-card-content">
                  <h3><a href="shop-details.html">Crispy Chicken Burger</a></h3>
                  <h4 class="product-price">$ 4.50</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 pb-30">
              <div class="product-card product-card-dark">
                <div class="product-card-thumb">
                  <div class="product-card-thumb-inner">
                    <img src="assets/img/single_patty_burger.png" alt="product">
                    <div class="product-card-button">
                      <a href="#" class="btn btn-yellow">Add To Cart</a>
                      <a href="#" class="btn">Add To Wishlist</a>
                    </div>
                  </div>
                </div>
                <div class="product-card-content">
                  <h3><a href="shop-details.html">Cheese Chicken Burger</a></h3>
                  <h4 class="product-price">$ 3.50</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 pb-30">
              <div class="product-card product-card-dark">
                <div class="product-card-thumb">
                  <div class="product-card-thumb-inner">
                    <img src="assets/img/double_patty_burger.png" alt="product">
                    <div class="product-card-button">
                      <a href="#" class="btn btn-yellow">Add To Cart</a>
                      <a href="#" class="btn">Add To Wishlist</a>
                    </div>
                    <div class="product-status product-status-danger">New</div>
                  </div>
                </div>
                <div class="product-card-content">
                  <h3><a href="shop-details.html">Combo Steak Burger</a></h3>
                  <h4 class="product-price">$ 5.45</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 pb-30">
              <div class="product-card product-card-dark">
                <div class="product-card-thumb">
                  <div class="product-card-thumb-inner">
                    <img src="assets/img/chicken_fajita_pizza.png" alt="product">
                    <div class="product-card-button">
                      <a href="#" class="btn btn-yellow">Add To Cart</a>
                      <a href="#" class="btn">Add To Wishlist</a>
                    </div>
                  </div>
                </div>
                <div class="product-card-content">
                  <h3><a href="shop-details.html">Chicken Fajita Pizza</a></h3>
                  <h4 class="product-price">$ 7.45</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 pb-30">
              <div class="product-card product-card-dark">
                <div class="product-card-thumb">
                  <div class="product-card-thumb-inner">
                    <img src="assets/img/chicken_supreme_pizza.png" alt="product">
                    <div class="product-card-button">
                      <a href="#" class="btn btn-yellow">Add To Cart</a>
                      <a href="#" class="btn">Add To Wishlist</a>
                    </div>
                    <div class="product-status product-status-danger">New</div>
                  </div>
                </div>
                <div class="product-card-content">
                  <h3><a href="shop-details.html">Chicken Supreme Pizza</a></h3>
                  <h4 class="product-price">$ 8.12</h4>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 pb-30">
              <div class="product-card product-card-dark">
                <div class="product-card-thumb">
                  <div class="product-card-thumb-inner">
                    <img src="assets/img/chicken_tikka_pizza.png" alt="product">
                    <div class="product-card-button">
                      <a href="#" class="btn btn-yellow">Add To Cart</a>
                      <a href="#" class="btn">Add To Wishlist</a>
                    </div>
                    <div class="product-status product-status-warning">Sold</div>
                  </div>
                </div>
                <div class="product-card-content">
                  <h3><a href="shop-details.html">Chicken Tikka Pizza</a></h3>
                  <h4 class="product-price">$ 6.42</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="page-pagination">
            <nav aria-label="pagination">
              <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                  <span class="page-link"><i class="flaticon-left-arrow-1"></i></span>
                </li>
                <li class="page-item active">
                                        <span class="page-link">
                                          1
                                          <span class="sr-only">(current)</span>
                                        </span>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#"><i class="flaticon-next"></i></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 pb-30">
        <div class="sidebar-item around-border sidebar-search">
          <form>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
              <button><i class="flaticon-loupe"></i></button>
            </div>
          </form>
        </div>
        <div class="sidebar-item mb-30">
          <div class="sidebar-title">
            <h3 class="color-white">Filter By Price</h3>
          </div>
          <div class="sidebar-content">
            <form class="price-range-content">
              <div class="price-range-bar" id="range-slider"></div>
              <div class="price-range-filter">
                <div class="price-range-filter-item price-range-filter-button order-2 order-xl-1">
                  <button class="btn btn-small">Filter</button>
                </div>
                <div class="price-range-filter-item d-flex align-items-center text-end order-1 order-xl-2">
                  <h4>Price:</h4>
                  <input type="text" id="price-amount" readonly>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="sidebar-item">
          <div class="sidebar-title">
            <h3 class="color-white">Categories</h3>
          </div>
          <ul class="sidebar-list">
            <li>
              <a href="#">Commercial <span>(08)</span></a>
            </li>
            <li>
              <a href="#">Food Review <span>(04)</span></a>
            </li>
            <li>
              <a href="#">Burger Mania <span>(04)</span></a>
            </li>
            <li>
              <a href="#">Fast Food <span>(14)</span></a>
            </li>
            <li>
              <a href="#">Pizza <span>(10)</span></a>
            </li>
          </ul>
        </div>
        <div class="sidebar-item">
          <div class="sidebar-title">
            <h3 class="color-white">Popular</h3>
          </div>
          <div class="sidebar-recent-post">
            <div class="sidebar-recent-item">
              <div class="sidebar-recent-thumb">
                <a href="#"><img src="assets/img/club_sandwich.png" alt="blog"></a>
              </div>
              <div class="sidebar-recent-content">
                <h3><a href="#">Club Sandwich</a></h3>
                <h4 class="product-price">$ 12.50</h4>
              </div>
            </div>
            <div class="sidebar-recent-item">
              <div class="sidebar-recent-thumb">
                <a href="#"><img src="assets/img/chocolate_icecreme.png" alt="blog"></a>
              </div>
              <div class="sidebar-recent-content">
                <h3><a href="#">Chocolate Ice Cream</a></h3>
                <h4 class="product-price">$ 10.12</h4>
              </div>
            </div>
            <div class="sidebar-recent-item">
              <div class="sidebar-recent-thumb">
                <a href="#"><img src="assets/img/fresh_fruit_dessert.png" alt="blog"></a>
              </div>
              <div class="sidebar-recent-content">
                <h3><a href="#">Fresh Fruit Dessert</a></h3>
                <h4 class="product-price">$ 11.45</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- .end shop-section -->
