<!-- shop-section -->
<section class="shop-section pt-100 pb-70 bg-black" id="p01">
  <!-- Button trigger modal -->

  <!-- Dynamic product cartModal -->
  <div class="modal product-customization-modal fade" id="productCustomizeModal" tabindex="-1"
       aria-labelledby="productCustomizeModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row m-auto main-grid">
            <div class="left col-lg-12">
              <div class="customization">
                <div class="m-auto item">
                  <div class="blog-card-slide">
                    <div class="blog-card-thumb">
                      <img [src]="resolveImages(cartService.singleCustomProductObj)" alt="blog">
                    </div>
                    <div class="blog-card-content">
                      <div class="section p-2" *ngIf="slideToShow===0">
                        <h3 class="text-center">{{cartService.singleCustomProductObj.productName}}</h3>
                        <div class="main-selection-container">
                          <div class="list mb-2 d-flex justify-content-between">
                            <div class="d-flex left">
                              <h6>Serving Size</h6>
                            </div>
                            <div class="right">
                              <select (change)="selectProductRate()" [formControl]="cartService.selectProductRatesField"
                                      class="drop-down"
                                      id="exampleFormControlSelect1">
                                <option [value]="item" *ngFor="let item of cartService.productSizeList">{{item}}</option>
                              </select>
                            </div>
                          </div>
                          <hr>
                          <div
                            *ngIf="cartService.singleCustomProductObj.productOptions && cartService.singleCustomProductObj.productOptions.length"
                            class="container multi-select-list row">
                            <h6 class="mb-4">Product Options</h6>
                            <div *ngFor="let options of cartService.singleCustomProductObj.productOptions"
                                 (click)="selectProductOptions(options)" class="mb-3 col-lg-4">
                              <span *ngIf="options.selected"><i class="fas fa-check"></i></span>
                              <div [class.multi-selection]="options.selected"
                                   class="d-flex align-items-center justify-content-around ">
                                <img [src]="options.productImage"/>
                                <h6>{{options.productName}}</h6>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="section p-2" *ngIf="slideToShow===1">
                        <h3 class="text-center">Product Ingredients</h3>
                        <div class="main-selection-container">
                          <div
                            *ngIf="cartService.singleCustomProductObj.productIngredients && cartService.singleCustomProductObj.productIngredients.length"
                            class="container multi-select-list row">
                            <div *ngFor="let ingredients of cartService.singleCustomProductObj.productIngredients"
                                 (click)="selectIngredients(ingredients)" class="mb-3 col-lg-4">
                              <span *ngIf="ingredients.selected"><i class="fas fa-check"></i></span>
                              <div [class.multi-selection]="ingredients.selected"
                                   class="d-flex align-items-center justify-content-around ">
                                <img [src]="ingredients.productImage"/>
                                <h6>{{ingredients.productName}}</h6>
                              </div>
                            </div>
                          </div>
                          <hr>
                          <h6
                            style="letter-spacing: 1px;font-size: 17px;font-weight: 600;font-family: Abril Fatface, cursive"
                            class="text-center mb-4">Product Flavours</h6>
                          <div
                            *ngIf="cartService.singleCustomProductObj.productFlavors && cartService.singleCustomProductObj.productFlavors.length"
                            class="container multi-select-list row">
                            <div *ngFor="let flavor of cartService.singleCustomProductObj.productFlavors"
                                 (click)="selectFlavor(flavor)" class="mb-3 col-lg-4">
                              <span *ngIf="flavor.selected"><i class="fas fa-check"></i></span>
                              <div [class.multi-selection]="flavor.selected"
                                   class="d-flex align-items-center justify-content-around ">
                                <h6>{{flavor.flavorName}}</h6>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="section p-2" *ngIf="slideToShow===2">
                        <h3 class="text-center">Product Topping</h3>
                        <div
                          *ngIf="cartService.singleCustomProductObj.productToppings && cartService.singleCustomProductObj.productToppings.length"
                          class="main-selection-container">
                          <div *ngFor="let toppings of cartService.singleCustomProductObj.productToppings"
                               class="list mb-2 d-flex justify-content-between">
                            <div class="d-flex left">
                              <img [src]="toppings.productImage"/>
                              <h6>{{toppings.productName}}
                                <br>
                                <span class="mt-3">${{toppings.productPrice}}</span>
                              </h6>
                            </div>
                            <div class="counter-section">
                              <h6 class="text-center">${{toppings.productTotalPrice}}</h6>
                              <div class="btn-group">
                                <button style="padding: 4px 28px;" type="button"
                                        (click)="addToppingQuantity(toppings,'subtracting')"
                                        class="btn btn-secondary"><strong>-</strong></button>
                                <button
                                  style="width: 70px;padding: 4px 28px;border: 1px solid lightgray;background: whitesmoke;color: black"
                                  type="button" class="btn btn-secondary ml-1 mr-1">
                                  <strong>{{toppings.productQuantity}}</strong></button>
                                <button style="padding: 4px 28px;" type="button"
                                        (click)="addToppingQuantity(toppings,'adding')"
                                        class="btn btn-secondary"><strong>+</strong></button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="section p-2" *ngIf="slideToShow===3">
                        <h3 class="text-center">Addons</h3>
                        <div *ngIf="cartService.singleCustomProductObj.productAddons && cartService.singleCustomProductObj.productAddons.length"
                             class="main-selection-container">
                          <div *ngFor="let addons of cartService.singleCustomProductObj.productAddons"
                               class="list mb-2 d-flex justify-content-between">
                            <div class="d-flex left">
                              <img [src]="addons.productImage"/>
                              <h6>{{addons.productName}}
                                <br>
                                <span class="mt-3">${{addons.productPrice}}</span>
                              </h6>
                            </div>
                            <div class="counter-section">
                              <h6 class="text-center">${{addons.productTotalPrice}}</h6>
                              <div class="btn-group">
                                <button style="padding: 4px 28px;" type="button"
                                        (click)="addAddonQuantity(addons,'subtracting')"
                                        class="btn btn-grp btn-secondary"><strong>-</strong></button>
                                <button
                                  style="width: 70px;padding: 4px 28px;border: 1px solid lightgray;background: whitesmoke;color: black"
                                  type="button" class="btn ml-1 mr-1">
                                  <strong>{{addons.productQuantity}}</strong></button>
                                <button style="padding: 4px 28px;" type="button"
                                        (click)="addAddonQuantity(addons,'adding')"
                                        class="btn btn-secondary"><strong>+</strong></button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="section p-2" *ngIf="slideToShow===4">
                        <h3 class="text-center">Product Summary</h3>
                        <div class="d-flex mt-2 align-items-center justify-content-center">
                          <div class="btn-group">
                            <button style="padding: 4px 28px;" type="button"
                                    (click)="addProductQuantity(cartService.singleCustomProductObj,'subtracting')"
                                    class="btn btn-grp btn-secondary"><strong>-</strong></button>
                            <button style="width: 70px;padding: 4px 28px;border: 1px solid lightgray;background: whitesmoke;color: black" type="button" class="btn ml-1 mr-1">
                              <strong>{{cartService.singleCustomProductObj.productQuantity}}</strong></button>
                            <button style="padding: 4px 28px;" type="button"
                                    (click)="addProductQuantity(cartService.singleCustomProductObj,'adding')"
                                    class="btn btn-secondary"><strong>+</strong></button>
                          </div>
                        </div>
                        <div style="height: 286px;" class="main-selection-container">
                          <table class="table table-bordered">
                            <thead>
                            <tr>
                              <th style="width: 25%"></th>
                              <th style="width: 26%"></th>
                              <th style="width: 5%"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr style="height: 20%">
                              <td>Item Name</td>
                              <td>{{cartService.singleCustomProductObj.productName}}</td>
                              <td>${{cartService.singleCustomProductObj.productPrice}}</td>
                            </tr>
                            <tr>
                              <td>Options</td>
                              <td><span *ngFor="let opt of cartService.singleCustomProductObj.productOptions;let optIndex = index">
                                <span *ngIf="opt.selected">{{opt.productName }} </span>
                                <span *ngIf="checkCommas(cartService.singleCustomProductObj.productOptions,optIndex)"> , </span>
                              </span>
                              </td>
                              <td>--</td>
                            </tr>
                            <tr>
                              <td>Ingredients</td>
                              <td><span *ngFor="let ing of cartService.singleCustomProductObj.productIngredients;let ingIndex = index">
                                <span *ngIf="ing.selected">{{ing.productName }} </span>
                                <span *ngIf="checkCommas(cartService.singleCustomProductObj.productIngredients,ingIndex)"> , </span>
                              </span>
                              </td>
                              <td>--</td>
                            </tr>
                            <tr>
                              <td>Flavour</td>
                              <td><span *ngFor="let flav of cartService.singleCustomProductObj.productFlavors">
                                <span *ngIf="flav.selected">{{flav.flavorName }} </span>
                              </span>
                              </td>
                              <td>--</td>
                            </tr>
                            <tr>
                              <td>Toppings</td>
                              <td><span *ngFor="let top of cartService.singleCustomProductObj.productToppings;let topIndex = index">
                                <span *ngIf="top.productQuantity">{{top.productName }}  </span>
                                <span *ngIf="checkCommasWithQuantity(cartService.singleCustomProductObj.productToppings,topIndex)"> , </span>
                              </span>
                              </td>
                              <td>${{getTotalPrice(cartService.singleCustomProductObj.productToppings)}}</td>
                            </tr>
                            <tr>
                              <td>Addons</td>
                              <td><span *ngFor="let add of cartService.singleCustomProductObj.productAddons;let addIndex = index">
                                <span *ngIf="add.productQuantity">{{add.productName }}  </span>
                                <span *ngIf="checkCommasWithQuantity(cartService.singleCustomProductObj.productAddons,addIndex)"> , </span>
                              </span>
                              </td>
                              <td>${{getTotalPrice(cartService.singleCustomProductObj.productAddons)}}</td>
                            </tr>
                            <tr>
                              <td>Attributes</td>
                              <td><span *ngFor="let attr of cartService.singleCustomProductObj.productAttributes | keyvalue;let attrIndex = index">
                                <span *ngIf="attr.value">{{attr.key }} <br> </span>
                              </span></td>
                              <td>--</td>
                            </tr>
                            <tr>
                              <td>Nutrition</td>
                              <td><span *ngFor="let nut of cartService.singleCustomProductObj.productNutrition | keyvalue">
                                ({{nut.key}} : {{nut.value}}) <br>
                              </span></td>
                              <td>--</td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div class="total">
                        <h6 class="text-end">Total ${{cartService.singleCustomProductObj.productTotalPrice}}</h6>
                      </div>
                      <div class="d-flex justify-content-between button-group">
                        <button *ngIf="slideToShow!==0" (click)="previousSlide()" type="button" class="btn btn-yellow">
                          <i class="fas fa-arrow-left"></i> Back
                        </button>
                        <div [class.apply-left-margin]="slideToShow===0" class="d-flex">
                          <button data-bs-dismiss="modal" type="button" class="btn btn-yellow">Cancel</button>
                          <button *ngIf="slideToShow!==4" (click)="nextSlide()" type="button"
                                  class="btn ml-2 btn-primary">Next
                            <i class="fas fa-arrow-right"></i></button>
                          <button *ngIf="slideToShow==4 && !cartService.singleCustomProductObj.isEditable" (click)="addToCart()" type="button"
                                  data-bs-dismiss="modal" class="btn ml-2 btn-primary">Cart Item
                            <i class="fas ml-2 fa-cart-plus"></i></button>
                          <button *ngIf="slideToShow==4 && cartService.singleCustomProductObj.isEditable" (click)="editToCart()" type="button"
                                  data-bs-dismiss="modal" class="btn ml-2 btn-primary">Edit Cart Item
                            <i class="fas ml-2 fa-cart-plus"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-lg-9 pb-30">
        <div class="product-list-header">
          <!--          <div class="product-list-header-item">-->
          <!--            <div *ngIf="false" class="product-list-result">-->
          <!--              &lt;!&ndash; <p>Showing 1-6 Of 35 Results</p> &ndash;&gt;-->
          <!--              <div class="around-border pr-5">-->
          <!--                <input type="text" class="form-control" placeholder="Message to Sofia" id="sofiaInput" #sofiaInput-->
          <!--                       (keyup.enter)="sendWSMessage(sofiaInput.value)">-->
          <!--              </div>-->
          <!--              <div class="sidebar-title">-->
          <!--                <p class="color-white"-->
          <!--                   style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">-->
          <!--                  {{sofiaMessage}}</p>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </div>-->
          <div *ngIf="!searchList.length" class="product-list-header-item"></div>
          <div *ngIf="searchList && searchList.length" class="product-list-header-item">
            <a (click)="removeFilter(item,i)" *ngFor="let item of searchList;let i = index"
               class="badge badge-danger">{{item.name}} : ({{item.value}}) <span aria-hidden="true">&times;</span></a>
          </div>
          <div class="product-list-header-item">
            <div class="product-list-action">
              <div class="product-list-form">
                <form>
                  <select (click)="sortByPrice()" [formControl]="sortControl">
                    <option *ngFor="let item of sortList" [value]="item.value">{{item.name}}</option>
                  </select>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="product-content" id="s01">
          <app-spinner *ngIf="isLoading"></app-spinner>
          <div *ngIf="filteredProducts && filteredProducts.length" class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 pb-30" *ngFor="let product of filteredProducts">
              <div class="product-card product-card-dark" id="{{product.productId}}">
                <div class="product-card-thumb">
                  <div class="product-card-thumb-inner">
                    <a href="/product-detail/?productId={{product.productId}}"><img [src]="resolveImages(product)" alt="product"></a>
                    <div class="product-card-button">
                      <!--                      <a (click)="addToCart(product.productId)" class="btn btn-yellow">Add To-->
                      <!--                        Cart</a>-->
                      <!--                      <a class="btn">Add To Wishlist</a>-->
                    </div>
                  </div>
                  <div class="review-star mt-3">
                    <ul>
                      <li *ngFor="let item of resolveRating(product)" class="full-star"><i [class]="item.star"></i></li>
                    </ul>
                    <p>({{product.productRating}} Reviews)</p>
                  </div>
                </div>
                <div class="product-card-content">
                  <h3><a href="/product-detail/?productId={{product.productId}}">{{product.productName}}</a></h3>
                  <h4 class="product-price">${{product.productRate.standard}}</h4>
                  <div class="d-flex product-icons justify-content-around">
                    <a (click)="setProductCustomization(product)" data-bs-toggle="modal"
                       data-bs-target="#productCustomizeModal"><i class="fas fa-cart-plus"></i></a>
                    <a><i class="fas fa-heart"></i></a>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div *ngIf="!isLoading && filteredProducts && !filteredProducts.length" class="error-product">Sorry product
            not found!
          </div>
          <!-- <div class="page-pagination">
            <nav aria-label="pagination">
              <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                  <span class="page-link"><i class="flaticon-left-arrow-1"></i></span>
                </li>
                <li class="page-item active">
                  <span class="page-link">
                    1
                    <span class="sr-only">(current)</span>
                  </span>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#"><i class="flaticon-next"></i></a>
                </li>
              </ul>
            </nav>
          </div> -->
        </div>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-3 pb-30">
        <div class="sidebar-item around-border sidebar-search">
          <form>
            <div class="form-group">
              <input (change)="filterProductsByName($event)" class="form-control" id="productSearch" type="text"
                     placeholder="Search">
              <button><i class="flaticon-loupe"></i></button>
            </div>
          </form>
        </div>
        <div class="sidebar-item mb-30">
          <div class="sidebar-title">
            <h3 class="color-white">Filter By Price</h3>
          </div>
          <div class="sidebar-content">
            <form class="price-range-content">
              <div class="price-range-bar" id="range-slider"></div>
              <div class="price-range-filter">
                <div class="price-range-filter-item price-range-filter-button order-2 order-xl-1">
                  <button (click)="filterProductByPriceRange()" class="btn btn-small">Filter</button>
                </div>
                <div class="price-range-filter-item d-flex align-items-center text-end order-1 order-xl-2">
                  <h4>Price:</h4>
                  <input type="text" class="price-amount" id="price-amount" readonly>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="sidebar-item mb-30">
          <div class="sidebar-title">
            <h3 class="color-white">Filter By Rating</h3>
          </div>
          <div class="sidebar-content">
            <form class="price-range-content">
              <div class="price-range-bar" id="rating-slider"></div>
              <div class="price-range-filter">
                <div class="price-range-filter-item price-range-filter-button order-2 order-xl-1">
                  <button (click)="filterProductByRating()" class="btn btn-small">Filter</button>
                </div>
                <div class="price-range-filter-item d-flex align-items-center text-end order-1 order-xl-2">
                  <h4>Rating:</h4>
                  <input type="text" class="price-amount" id="rating-amount" readonly>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="sidebar-item">
          <div class="sidebar-title">
            <h3 class="color-white">Categories</h3>
          </div>
          <ul class="sidebar-list">
            <li *ngFor="let category of categoryList" id="{{category.categoryId}}">
              <a [class.active-category]="category.selected" href="javascript:void(0)"
                 (click)="filterProductsByCategory(category)">{{category.categoryName}}</a>
            </li>
          </ul>
        </div>
        <!-- <div class="sidebar-item">
          <div class="sidebar-title">
            <h3 class="color-white">Popular</h3>
          </div>
          <div class="sidebar-recent-post">
            <div class="sidebar-recent-item">
              <div class="sidebar-recent-thumb">
                <a href="#"><img src="assets/images/blog-nav-1.jpg" alt="blog"></a>
              </div>
              <div class="sidebar-recent-content">
                <h3><a href="#">Cheese Burger</a></h3>
                <h4 class="product-price">$ 12.50</h4>
              </div>
            </div>
            <div class="sidebar-recent-item">
              <div class="sidebar-recent-thumb">
                <a href="#"><img src="assets/images/blog-nav-4.jpg" alt="blog"></a>
              </div>
              <div class="sidebar-recent-content">
                <h3><a href="#">Omlette Pizza</a></h3>
                <h4 class="product-price">$ 10.12</h4>
              </div>
            </div>
            <div class="sidebar-recent-item">
              <div class="sidebar-recent-thumb">
                <a href="#"><img src="assets/images/blog-nav-3.jpg" alt="blog"></a>
              </div>
              <div class="sidebar-recent-content">
                <h3><a href="#">Pizza + Burger Combo</a></h3>
                <h4 class="product-price">$ 11.45</h4>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>
<!-- .end shop-section -->

<app-product-cart-modal></app-product-cart-modal>
