<div class="text-center mt-5" *ngIf="loading">
  <div class="spinner-border text-center text-primary" role="status"></div>
</div>
<div class="text-center mt-5" *ngIf="!loading  && !orders.length">
  <h6>No Orders Found!</h6>
</div>
<div *ngIf="orders && orders.length" class="row mt-4">
  <div *ngFor="let order of orders" class="col-lg-4">
    <div class="card order_card">
      <div class="card-body">
        <div class="head d-flex align-items-center justify-content-between">
          <h6>Order Id: {{(order.orderType === _helperService.computeOrderType('dine_in')) ? order.reservationLabel : order.orderLabel}} <br> Type</h6>
          <p style="cursor: pointer"><span [title]="_helperService.computeOrderMessages(order.orderStatus)" [classList]="_helperService.computeOrderStatusColor(order.orderStatus)">{{order.orderStatus}}</span> <br> {{order.orderType}}</p>
        </div>
        <hr style="margin-top: 0px;margin-bottom: 0px">
        <h6 class="mt-2">Items</h6>
        <div *ngFor="let cart of order.carts" class="cart_items d-flex align-items-center justify-content-between">
          <p class="mb-0">{{cart.product.productName}}</p>
          <p class="mb-0">Qty {{'(' + cart.productQuantity + ')'}}</p>
        </div>
        <hr style="margin-top: 0px;margin-bottom: 0px">
        <div class="cart_items mt-2 d-flex align-items-center justify-content-between">
          <p>Total</p>
          <p>{{order.orderTotal}}$</p>
        </div>
        <hr style="margin-top: 0px;margin-bottom: 0px">
        <div class="text-center">
          <button (click)="viewOrderDetail(order)" class="btn mt-2 btn-sm detial_btn btn-primary"><< view details >></button>
        </div>
      </div>
    </div>
  </div>
</div>

