autopep8==1.6.0
bidict==0.21.4
cachetools==4.2.4
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.0.3
colour==0.1.5
gevent==21.8.0
google-api-core==2.0.1
google-auth==2.3.2
google-cloud-speech==2.11.0
googleapis-common-protos==1.53.0
greenlet==1.1.2
grpcio==1.41.1
gTTS==2.2.3
idna==3.3
libcst==0.3.21
mypy-extensions==0.4.3
packaging==21.0
Pillow==8.4.0
proto-plus==1.19.7
protobuf==3.19.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.11
pycodestyle==2.8.0
pyparsing==3.0.3
python-engineio==4.3.0
python-socketio==5.4.1
PyYAML==6.0
requests==2.26.0
rsa==4.7.2
six==1.16.0
toml==0.10.2
typing-extensions==3.10.0.2
typing-inspect==0.7.1
urllib3==1.26.7
websocket-client==1.2.1
zope.event==4.5.0
zope.interface==5.4.0
