.navbar_top{
  z-index: -1;
}
.tap-view-place-order {
  a {
    width: 100%;

    i {
      margin-left: 10px;
    }
  }

}

#loginModal{
  .modal-dialog{
    .modal-content{
      background: #222222 !important;
    }
  }
}
