<!-- navbar -->
<div [class.navbar_top]="socketService.processing" class="fixed-top">
  <div class="navbar-area navbar-dark">
    <!-- mobile menu -->
    <div class="mobile-nav">
      <a href="home" class="mobile-brand">
        <img src="assets/images/logo/web-logo.png" alt="logo" class="blue-logo">
      </a>
      <!-- mobile navbar-option -->
      <div style="right: 22px" class="navbar-option d-flex align-items-center">
        <div class="navbar-option-item navbar-option-dots mobile-hide">
          <button class="dropdown-toggle" type="button" id="mobileOptionDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="flaticon-menu-1"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="mobileOptionDropdown">
            <div *ngIf="_botMeClientService.getCookie().isLoggedIn" class="navbar-option-item navbar-option-cart">
              <a id="entityId-show-cart" (click)="showCartModal()" class="productCart"><i class="flaticon-supermarket-basket"></i></a>
              <span class="option-badge">{{getCartProductCount()}}</span>
            </div>
            <div class="navbar-option-item navbar-option-order">
              <a id="entityId-show-cart" href="online-shop" class="btn text-nowrap">
                 <i class="flaticon-shopping-cart-black-shape"></i>
              </a>
            </div>
          </div>
        </div>


        <div class="navbar-option-item navbar-option-authentication">
          <button class="navbar-authentication-button" type="button" id="auth2" data-bs-toggle="dropdown" aria-haspopup="true" ><i class="fas fa-user"></i></button>
          <div class="authentication-box dropdown-menu" aria-labelledby="auth2">
            <div class="authentication-close"><i class="flaticon-cancel"></i></div>
            <div class="authentication-body">
              <h4 class="text-white text-center" *ngIf="!_botMeClientService.getCookie().isLoggedIn">Log In</h4>
              <h4 class="text-white text-center" *ngIf="_botMeClientService.getCookie().isLoggedIn">Dashboard</h4>
              <ul class="authentication-tab">
              </ul>
              <div class="authentication-details">
                <div *ngIf="!_botMeClientService.getCookie().isLoggedIn" class="authentication-details-item active" data-authentication-details="1">
                  <form [formGroup]="loginForm">
                    <div class="form-group mb-20">
                      <div class="input-group">
                        <input required type="text" formControlName="clientID" class="form-control" placeholder="Client Id" />
                      </div>
                    </div>
                    <div class="form-group mb-20">
                      <div class="input-group">
                        <input required type="password" formControlName="clientSecret" class="form-control" placeholder="Client Secret" />
                      </div>
                    </div>
                    <div class="form-group mb-20">
                      <div class="input-group">
                        <input required type="text" formControlName="clientDeviceId" class="form-control" placeholder="Device Id" />
                      </div>
                    </div>
                    <div class="authentication-btn">
                      <button (click)="login()" [disabled]="!loginForm.valid" class="btn full-width btn-border mb-20">Log In</button>
                    </div>
                  </form>
                </div>
                <div *ngIf="_botMeClientService.getCookie().isLoggedIn" class="authentication-details-item active" data-authentication-details="1">
                  <h6 class="mt-2 text-white">Device Id : {{_botMeClientService.getCookie().clientDeviceId}}</h6>
                  <h6 class="mt-2 text-white">Client Id : {{_botMeClientService.getCookie().clientID}}</h6>
                  <div class="mt-4 authentication-btn">
                    <button (click)="logout()" class="btn full-width btn-border mb-20">Logout</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex align-items-center navbar-option-item tap-view-place-order mobile-block navbar-option-order">
          <a *ngIf="_botMeClientService.getCookie().isLoggedIn" id="entityId-order-online" href="online-shop" style="padding: 10px 20px" class="btn">Place order
            <i class="flaticon-shopping-cart-black-shape"></i>
          </a>
          <div class="navbar-option-item navbar-option-order">
<!--            <app-sofia-bot></app-sofia-bot>-->
          </div>
        </div>
        <div *ngIf="_botMeClientService.getCookie().isLoggedIn" class="navbar-option-item navbar-option-cart mobile-block">
          <a (click)="showCartModal()"  id="entityId-show-cart" class="productCart"><i class="flaticon-supermarket-basket"></i></a>
          <span class="option-badge">{{getCartProductCount()}}</span>
        </div>
      </div>

    </div>
    <!-- desktop menu -->
    <div class="main-nav">
      <div class="container">
        <nav class="navbar navbar-expand-md navbar-light">
          <a class="navbar-brand" href="home">
            <img src="assets/images/logo/web-logo.png" alt="logo" class="logo">
          </a>
          <!-- nav-list -->
          <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a routerLink="home" id="entityId-home" class="nav-link dropdown-toggle" [class.active]="router.url=='/home'">HOME</a>
              </li>
              <li class="nav-item">
                <a routerLink="reservations" class="nav-link dropdown-toggle" [class.active]="router.url=='/reservations'">RESERVATION</a>
              </li>
              <li class="nav-item">
                <a routerLink="contact-us" id="entityId-contact-us" class="nav-link" [class.active]="router.url=='/contact-us'">CONTACT US</a>
              </li>
              <li class="nav-item">

              </li>
            </ul>
          </div>
          <!-- navbar-option -->
          <div class="navbar-option d-flex align-items-center">
            <div class="navbar-option-item navbar-option-authentication">
              <button *ngIf="!_botMeClientService.getCookie().isLoggedIn" class="navbar-authentication-button" type="button" id="auth1" data-bs-toggle="dropdown" aria-haspopup="true" >
                <i  style="font-size: x-large" class="fas fa-user"></i>
              </button>
              <button *ngIf="_botMeClientService.getCookie().isLoggedIn" class="navbar-authentication-button" type="button" id="auth1" data-bs-toggle="dropdown" aria-haspopup="true" >
              <i  style="font-size: x-large" class="fas fa-sign-out-alt"></i>
              </button>
              <div class="authentication-box dropdown-menu" aria-labelledby="auth1">
                <div class="authentication-close"><i class="flaticon-cancel"></i></div>
                <div class="authentication-body">
                  <h4 class="text-white text-center" *ngIf="!_botMeClientService.getCookie().isLoggedIn">Log In</h4>
                  <h4 class="text-white text-center" *ngIf="_botMeClientService.getCookie().isLoggedIn">Dashboard</h4>
                  <ul class="authentication-tab">

                  </ul>
                  <div class="authentication-details">
                    <div *ngIf="!_botMeClientService.getCookie().isLoggedIn" class="authentication-details-item active" data-authentication-details="1">
                      <form [formGroup]="loginForm">
                        <div class="form-group mb-20">
                          <div class="input-group">
                            <input required type="text" formControlName="clientID" class="form-control" placeholder="Client Id" />
                          </div>
                        </div>
                        <div class="form-group mb-20">
                          <div class="input-group">
                            <input required type="password" formControlName="clientSecret" class="form-control" placeholder="Client Secret" />
                          </div>
                        </div>
                        <div class="form-group mb-20">
                          <div class="input-group">
                            <input required type="text" formControlName="clientDeviceId" class="form-control" placeholder="Device Id" />
                          </div>
                        </div>
                        <div class="authentication-btn">
                          <button (click)="login()" [disabled]="!loginForm.valid" class="btn full-width btn-border mb-20">Log In</button>
                        </div>
                      </form>
                    </div>
                    <div *ngIf="_botMeClientService.getCookie().isLoggedIn" class="authentication-details-item active" data-authentication-details="1">
                      <h6 class="mt-2 text-white">Device Id : {{_botMeClientService.getCookie().clientDeviceId}}</h6>
                      <h6 class="mt-2 text-white">Client Id : {{_botMeClientService.getCookie().clientID}}</h6>
                      <div class="mt-4 authentication-btn">
                        <button (click)="logout()" class="btn full-width btn-border mb-20">Logout</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="_botMeClientService.getCookie().isLoggedIn" class="navbar-option-item navbar-option-cart">
              <a (click)="showCartModal()" id="entityId-show-cart" class="productCart"><i class="flaticon-supermarket-basket"></i></a>
              <span class="option-badge">{{getCartProductCount()}}</span>
            </div>
            <div class="navbar-option-item navbar-option-order">
              <a *ngIf="_botMeClientService.getCookie().isLoggedIn" id="entityId-order-online" href="online-shop" style="padding: 10px 20px" class="btn text-nowrap">
                Place Order <i class="flaticon-shopping-cart-black-shape"></i>
              </a>
            </div>
            <div class="navbar-option-item navbar-option-order">
<!--                <app-sofia-bot></app-sofia-bot>-->
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- .end navbar -->
