<!-- navbar -->
<div class="fixed-top">
  <div class="navbar-area navbar-dark">
    <!-- mobile menu -->
    <div class="mobile-nav">
      <a href="home" class="mobile-brand">
        <img src="assets/images/logo/web-logo.png" alt="logo" class="blue-logo">
      </a>
      <p *ngIf="['dine_in','pick_up','delivery'].includes(_helperService.getOrderTypeOnAuthBasis())" class="ml-2 mt-0 mb-0">{{getOrderType()}}</p>
    </div>

    <!-- desktop menu -->
    <div class="main-nav">
      <div class="container">
        <nav class="navbar navbar-expand-md navbar-light">
          <a class="navbar-brand" href="home">
            <img src="assets/images/logo/web-logo.png" alt="logo" class="logo">
          </a>
          <li style="width: 40%;padding-top:10px" class="d-flex align-items-center nav-item">
            <app-sofia-bot *ngIf="_botMeClientService.getCookie().isLoggedIn && _botMeClientService.getCookie().clientVoiceEnabled == 'yes'"> </app-sofia-bot>
            <p *ngIf="['dine_in','pick_up','delivery'].includes(_helperService.getOrderTypeOnAuthBasis())">{{getOrderType()}}</p>
          </li>
          <!-- nav-list -->
          <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto align-items-center">
              <li class="nav-item">
                <a routerLink="home" id="ctaId-home" class="nav-link" [class.active]="router.url=='/home'">HOME</a>
              </li>
<!--              <li class="nav-item">-->
<!--                <a *ngIf="_botMeClientService.getCookie().isLoggedIn && !['delivery','pick_up'].includes(_helperService.getOrderTypeOnAuthBasis())" routerLink="reservations" id="ctaId-reservation" class="nav-link"-->
<!--                  [class.active]="router.url=='/reservations'">RESERVATION</a>-->
<!--              </li>-->
              <li *ngIf="_botMeClientService.getCookie().isLoggedIn" class="nav-item">
                <a routerLink="product-suggestions" id="ctaId-product-suggestions" class="nav-link"
                   [class.active]="router.url=='/product-suggestions'">SUGGESTIONS</a>
              </li>
              <li class="nav-item">
                <a routerLink="contact-us" id="ctaId-contact-us" class="nav-link"
                  [class.active]="router.url=='/contact-us'">CONTACT US</a>
              </li>
              <li class="nav-item">
                <a [class.active]="router.url=='/online-shop'"
                  id="ctaId-order-online" routerLink="online-shop" class="nav-link">MENU</a>
              </li>
              <li class="nav-item">
                <a routerLink="/login" *ngIf="!_botMeClientService.getCookie().isLoggedIn" class="nav-link" type="button"><i style="font-size: x-large" class="flaticon-login"></i></a>
                <a routerLink="/profile" *ngIf="_botMeClientService.getCookie().isLoggedIn" class="nav-link" type="button">PROFILE
                </a>
              </li>
              <li>
                <a *ngIf="_botMeClientService.getCookie().clientDebug === 'yes'" data-bs-toggle="modal" data-bs-target="#voiceTest"
                  class="nav-link" type="button">VOICE TEST</a>
              </li>
              <li *ngIf="_botMeClientService.getCookie().isLoggedIn" class="nav-item">
                <a (click)="showCartModal()" id="ctaId-show-cart"
                  class="productCart"><i style="font-size: x-large" class="flaticon-supermarket-basket"></i>
                  <span
                    style="position: relative;background-color:#E7272D;border-radius: 10px;margin-top: -33px;margin-left: -8px;"
                    class="badge">{{getCartProductCount()}}</span>
                </a>
              </li>
            </ul>
          </div>
          <!-- navbar-option -->
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- .end navbar -->

<!-- Modal -->
<div  cdkDrag class="modal fade" id="voiceTest" tabindex="-1" aria-labelledby="bbb" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-white" id="bbb">Voice Test {{_botMeClientService.getCookieByKey('isDebug')}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <label class="text-white">User:</label>
        <textarea class="w-100" type="text" readonly [(ngModel)]="userVoice"></textarea>
        <label class="text-white">Bot:</label>
        <textarea class="w-100" type="text" readonly [(ngModel)]="botVoice"></textarea>
        <hr>
        <label class="text-white">Voice Engine:</label>
        <select class="w-100" [(ngModel)]="_voiceType" (change)="setVoiceType()" required>
          <option value="no-voice">Disabled</option>
          <option value="local-voice">Browser</option>
          <option value="cloud-voice">Google Cloud</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="reload()">Apply</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
