<!-- welcome-section -->
<section class="welcome-section bg-overlay-1 pt-100 pb-70 bg-black">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-12 col-md-5 col-lg-5 pb-30">
        <div class="section-title section-title-left text-center text-md-start m-0">
          <small>Welcome To BOTME</small>
          <h2 class="color-white">We don't do fast Burgers
            We do quality Burgers!</h2>
          <p>We are the country's no.1 Fast food retailer with 15+ years of reputation. Country's best burger and pizza
            are delivered by us. We gain the satisfaction of our customers with our delicate service and extreme high
            food quality.</p>
          <a class="btn product_suggestion_btn text-capitalize mt-3" routerLink="/product-search">product search &
            order</a>
          <a class="btn text-capitalize mt-3" routerLink="/online-shop">see menu</a>
        </div>
      </div>
      <div class="col-sm-12 col-md-7 col-lg-7">
        <img class="hero_section_img" src="../../../../assets/images/index/Mushroom Swiss Burger-min.jpg" alt="welcome">
      </div>
    </div>
  </div>
</section>
<!-- .end welcome-section -->
