<!-- combo-section -->
<section class="combo-section bg-black pt-100 pb-70">
  <div class="container">
    <div class="section-title">
      <small>Combos</small>
      <h2 class="color-white">Our Best Combos To Choose</h2>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 pb-30 wow animate__slideInUp" data-wow-duration="1s" data-wow-delay="0.1s">
        <div class="combo-box">
          <div class="combo-box-image">
            <img src="assets/images/combo-1.jpg" alt="combo">
          </div>
          <div class="combo-box-content">
            <h3>Combo 1</h3>
            <h4><span>2 Burgers</span> With French Fries</h4>
            <a href="shop-details.html" class="btn">
              Order Now
              <i class="flaticon-shopping-cart-black-shape"></i>
            </a>
          </div>
          <div class="combo-offer-shape">
            <div class="combo-shape-inner">
              <small>Only At</small>
              <p>$10.91</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 pb-30 wow animate__slideInUp" data-wow-duration="1s" data-wow-delay="0.3s">
        <div class="combo-box">
          <div class="combo-box-image">
            <img src="assets/images/combo-2.jpg" alt="combo">
          </div>
          <div class="combo-box-content">
            <h3>Combo 2</h3>
            <h4><span>3 Pizza</span> In 1 Combo Pack</h4>
            <a href="shop-details.html" class="btn">
              Order Now
              <i class="flaticon-shopping-cart-black-shape"></i>
            </a>
          </div>
          <div class="combo-offer-shape">
            <div class="combo-shape-inner">
              <small>Only At</small>
              <p>$30.91</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 pb-30 wow animate__slideInUp" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="combo-box">
          <div class="combo-box-image">
            <img src="assets/images/combo-3.jpg" alt="combo">
          </div>
          <div class="combo-box-content">
            <h3>Combo 3</h3>
            <h4><span>3 Burgers</span> With Cold Drinks</h4>
            <a href="shop-details.html" class="btn">
              Order Now
              <i class="flaticon-shopping-cart-black-shape"></i>
            </a>
          </div>
          <div class="combo-offer-shape">
            <div class="combo-shape-inner">
              <small>Only At</small>
              <p>$12.45</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 pb-30 wow animate__slideInUp" data-wow-duration="1s" data-wow-delay="0.7s">
        <div class="combo-box">
          <div class="combo-box-image">
            <img src="assets/images/combo-4.jpg" alt="combo">
          </div>
          <div class="combo-box-content">
            <h3>Combo 4</h3>
            <h4><span>3 Burgers</span> With Drinks & Salad</h4>
            <a href="shop-details.html" class="btn">
              Order Now
              <i class="flaticon-shopping-cart-black-shape"></i>
            </a>
          </div>
          <div class="combo-offer-shape">
            <div class="combo-shape-inner">
              <small>Only At</small>
              <p>$18.75</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- .end combo-section -->
