<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Product List</h2>
                        <button type="button" class="btn btn-primary float-right" [routerLink]="['detail']">Add New
              </button>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Price</th>
                                    <th>Category</th>
                                    <th>Updated</th>
                                    <th style="width: 40px">Active</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let product of products; let i = index" (click)="onSelect(product)" [class.selected]="product === selectedProduct">
                                    <button type="button" class="btn btn-default" [routerLink]="['detail']" [queryParams]="{ productId: product.productId}">View
                  </button>
                                    <td>{{product.productName}}</td>
                                    <td>{{product.productDesc}}</td>
                                    <td>{{product.productPrice}}</td>
                                    <td>{{product.category.categoryName}}</td>
                                    <td>{{product.updatedAt}}</td>
                                    <td><span *ngIf="product.productActive === true" class="badge bg-success">{{product.productActive}}</span>
                                        <span *ngIf="product.productActive === false" class="badge bg-danger">{{product.productActive}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer clearfix">
                        <ul class="pagination pagination-sm m-0 float-right">
                            <li class="page-item"><a class="page-link" href="#">«</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">»</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>