<div class="authentication-body container  p-5">
  <div class="contact-item">
    <div class="contact-item-title text-center mt-3 mb-2">
      <h3 class="color-white">Customer Log In</h3>
    </div>
    <ul class="authentication-tab">

    </ul>
    <div class="authentication-details">

      <!-- Login Form -->
      <div  class="authentication-details-item active"
            data-authentication-details="1">
        <form [formGroup]="loginForm">
          <div class="form-group mb-20">
            <div class="input-groups text-center">
              <input style="border-radius: 25px;"  required type="text" formControlName="clientID" class="form-control"
                     placeholder="Customer Id"/>
            </div>
            <span class="required"
                  *ngIf="!loginForm.controls['clientID'].valid && loginForm.controls['clientID'].touched">{{_helperService.getRequiredCheckError(loginForm, 'clientID', _helperService.fieldErrorsCheckTypes.required, ['Client Id is required.'])}}</span>
          </div>
          <div class="form-group mb-20">
            <div class="input-groups text-center ">
              <input style="border-radius: 25px;"  required type="password" formControlName="clientSecret" class="form-control"
                     placeholder="Customer Secret"/>
            </div>
            <span class="required"
                  *ngIf="!loginForm.controls['clientSecret'].valid && loginForm.controls['clientSecret'].touched">{{_helperService.getRequiredCheckError(loginForm, 'clientSecret', _helperService.fieldErrorsCheckTypes.required, ['Client Secret is required.'])}}</span>
          </div>

          <div class="authentication-btn">
            <button (click)="login()" class="btns">Log
              In
              <div *ngIf="loader" class="spinner-border spinner-border-sm ml-3 text-warning" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </button>
          </div>
          <p class="text-white text-center mt-3 mb-4">Don’t have an account? <a routerLink="/customer-signup" style="color:#E7272D;font-weight: bold;cursor: pointer">Customer Signup</a></p>
        </form>
      </div>

    </div>
  </div>
</div>
