<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center justify-content-between m-b-15">
            <h4 class="m-b-0 ml-0">Users List</h4>
            <div class="card-toolbar">
                <ul>
                    <!-- <li>
              <a class="text-gray" href="javascript:void(0)">
                <i class="anticon anticon-reload font-size-20"></i>
              </a>
                </li>-->

                    <li>
                        <a class="p-button p-button-icon-left" [routerLink]="['detail']" style="color: white;">
                            <i class="anticon anticon-plus font-size-20"></i>
                            Add New
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <p-table #dt1 [value]="users" [responsive]="true" [paginator]="true" [rows]="10" [loading]="loading"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[10,25,50]"
            [globalFilterFields]="['userName','userFullName', 'userComment','userEmail', 'userActive']">
            <ng-template pTemplate="caption">
                <div class="p-d-flex">
                    <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                        (click)="clear(dt1)"></button>
                    <span class="p-input-icon-left p-ml-auto" style="float: right;">
                        <i class="pi pi-search"></i>
                        <input #search pInputText type="text" (input)="dt1.filterGlobal(search.value, 'contains')"
                            placeholder="Search keyword" />
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 3rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>

                    <th pSortableColumn="userName">Name <p-sortIcon field="userName"></p-sortIcon>
                    </th>
                    <th pSortableColumn="userFullName">Full Name <p-sortIcon field="userFullName"></p-sortIcon>
                    </th>
                    <th pSortableColumn="userComment">Comment <p-sortIcon field="userComment"></p-sortIcon>
                    </th>
                    <th pSortableColumn="restaurantId">Restaurant ID <p-sortIcon field="restaurantId"></p-sortIcon>
                    </th>
                    <th pSortableColumn="userCreated">Created <p-sortIcon field="userCreated"></p-sortIcon>
                    </th>
                    <th pSortableColumn="userUpdated">Updated <p-sortIcon field="userUpdated"></p-sortIcon>
                    </th>
                    <th pSortableColumn="userActive">Active <p-sortIcon field="userActive"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-user>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="user"></p-tableCheckbox>
                    </td>
                    <td>
                        <button class="btn btn-primary btn-tone m-r-5" [routerLink]="['detail']"
                            [queryParams]="{ userId: user.userId }">{{user.userName}}</button>
                    </td>
                    <td>{{user.userFullName}}</td>
                    <td>{{user.userComment}}</td>
                    <td>{{user.restaurantId}}</td>
                    <td>{{user.userCreated}}</td>
                    <td>{{user.userUpdated}}</td>
                    <td><span *ngIf="user.userActive === true" class="badge badge-success">{{user.userActive}}</span>
                        <span *ngIf="user.userActive === false" class="badge badge-danger">{{user.userActive}}</span>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="paginatorleft">
                <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
            </ng-template>
            <ng-template pTemplate="paginatorright">
                <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
            </ng-template>
        </p-table>

    </div>
</div>