<div class="card card-primary" xmlns="http://www.w3.org/1999/html">
    <div class="card-header">
        <div class="d-flex align-items-center justify-content-between m-v-15">
            <h3 class="card-title">User Details: <span *ngIf="!newForm">{{user.userFullName}}</span></h3>
            <div class="card-toolbar">
                <div class="d-flex">
                    <button pButton pRipple type="button" label="Back" icon="pi pi-chevron-left" *ngIf="!editMode"
                        class="p-button-rounded p-button-success m-r-5 d-none d-sm-block"
                        [routerLink]="['../']"></button>

                    <button pButton pRipple type="button" icon="pi pi-chevron-left" *ngIf="!editMode"
                        class="p-button-rounded p-button-success m-r-5  d-sm-none" [routerLink]="['../']"></button>

                    <button pButton pRipple type="button" label="Delete" icon="pi pi-trash" *ngIf="editMode"
                         class="p-button-rounded p-button-danger m-r-5 d-none d-sm-block"></button>

                    <button pButton pRipple type="button" label="Cancel" icon="pi pi-times"
                        class="p-button-rounded m-r-5 d-none d-sm-block" *ngIf="editMode"
                        (click)="disableEdit()"></button>

                    <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded m-r-5  d-sm-none"
                        *ngIf="editMode" (click)="disableEdit()"></button>

                    <button pButton pRipple type="button" label="Edit" icon="pi pi-pencil"
                        class="p-button-rounded m-r-5 d-none d-sm-block" *ngIf="!editMode"
                        (click)="enableEdit()"></button>

                    <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded m-r-5  d-sm-none"
                        *ngIf="!editMode" (click)="enableEdit()"></button>

                    <button pButton pRipple type="button" label="Save" icon="pi pi-save" *ngIf="editMode"
                        class="p-button-rounded p-button-secondary m-r-5 d-none d-sm-block"
                        (click)="onSubmit()"></button>

                    <button pButton pRipple type="button" icon="pi pi-save" *ngIf="editMode"
                        class="p-button-rounded p-button-secondary m-r-5  d-sm-none" (click)="onSubmit()"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="p-fluid">
                <p-divider>
                    <div class="p-d-inline-flex p-ai-center">
                        <i class="pi pi-user p-mr-2 mr-2"></i>
                        <b>Identification</b>
                    </div>
                </p-divider>
                <div class="form-group">
                    <label for="form-userFullName" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 font-weight-bold">User
                        Full Name</label>
                    <input pInputText type="text" formControlName="userFullName" id="form-userFullName"
                        placeholder="Enter full name">
                </div>
                <div class="form-group">
                    <label for="form-userName" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 font-weight-bold">User
                        Name</label>
                    <input type="username" pInputText formControlName="userName" id="form-userName"
                        [ngClass]="{ 'is-invalid': f.userName.errors }" placeholder="Enter Name">
                </div>
                <div class="form-group">
                    <label for="form-userEmail" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 font-weight-bold">User
                        Email</label>
                    <input pInputText type="email" formControlName="userEmail" id="form-userEmail"
                        placeholder="Enter Email">
                </div>
                <div class="form-group">
                    <label for="form-userSecret" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 font-weight-bold">User
                        Password</label>
                    <input pInputText type="password" formControlName="userSecret" id="form-userSecret"
                        [ngClass]="{ 'is-invalid': f.userSecret.errors }" placeholder="Enter Password">
                </div>
                <div class="form-group">
                    <label for="form-userToken" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 font-weight-bold">User
                        Token</label>
                    <textarea rows="3" cols="30" formControlName="userToken" id="form-userToken"
                        pInputTextarea></textarea>

                </div>
                <div class="form-group">
                    <label for="form-userComment" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 font-weight-bold">User
                        Comment</label>
                    <input pInputText type="text" formControlName="userComment" id="form-userComment"
                        placeholder="Enter comment">
                </div>


                <div class="form-group">
                    <label for="form-userRole" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 font-weight-bold">User Roles
                    </label>
                    <p-dropdown [options]="roleList" placeholder="Select Role" optionLabel="label"
                        optionValue="value" [ngClass]="{ 'ng-invalid ng-dirty': f.restaurantId.errors }"
                        formControlName="userRole" id="form-userRole">
                    </p-dropdown>
                </div>


                <div class="form-group">
                    <label for="form-restaurantId" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 font-weight-bold">Restaurant
                    </label>
                    <!-- <input pInputText type="text" formControlName="restaurantId" id="form-restaurantId"
                        placeholder="Select Restaurant"> -->
                    <p-dropdown [options]="restaurantList" placeholder="Select Restaurant" optionLabel="restaurantName"
                        optionValue="restaurantId" [ngClass]="{ 'ng-invalid ng-dirty': f.restaurantId.errors }"
                        formControlName="restaurantId" id="form-restaurantId">
                    </p-dropdown>
                </div>
                <div class="form-group">
                    <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 font-weight-bold">Active</label>
                    <div class="p-col-12 p-md-10">
                        <p-toggleButton class="ml-2" formControlName="userActive" id="form-userActive" onLabel="Enabled"
                            offLabel="Disabled" onIcon= "pi-check" offIcon="pi pi-times" [style]="{'width': '10em'}">
                        </p-toggleButton>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>