<div class="card card-primary" xmlns="http://www.w3.org/1999/html">
    <div class="card-header">
        <h3 class="card-title">Product Details</h3>
    </div>

    <div class="card-body">
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
            <div class="p-fluid">
                <div class="p-field p-grid">
                    <label for="form-productName" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"> Product Name: </label>
                    <div class="p-col-12 p-md-10">
                        <input type="text" pInputText formControlName="productName" id="form-productName"
                            placeholder="Enter Name">
                    </div>
                </div>
                <div class="p-field p-grid">
                    <label for="form-productDesc" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"> Product Description:
                    </label>
                    <div class="p-col-12 p-md-10">
                        <input type="text" pInputText formControlName="productDesc" id="form-productDesc"
                            placeholder="Enter Description">
                    </div>
                </div>
                <div class="p-field p-grid">
                    <label for="form-productPrice" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"> Product Price: </label>
                    <div class="p-col-12 p-md-10">
                        <p-inputNumber type="text" formControlName="productPrice" id="form-productPrice"
                            placeholder="Enter Price" inputId="minmaxfraction" mode="decimal" [minFractionDigits]="2"
                            [maxFractionDigits]="5">
                        </p-inputNumber>
                    </div>
                </div>
                <div class="p-field p-grid">
                    <label for="form-category" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"> Product Category:
                    </label>
                    <div class="p-col-12 p-md-10">
                        <p-dropdown id="form-category" [options]="categories" formControlName="category"
                            optionLabel="categoryName" optionValue="_id"></p-dropdown>
                    </div>
                </div>
                <div class="p-field p-grid">
                    <label for="form-productAddon" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"> Product Addon:
                    </label>
                    <div class="p-col-12 p-md-10">
                        <p-multiSelect id="form-productAddon" [options]="addons" formControlName="productAddon"
                            defaultLabel="Select an Addon" optionLabel="productName" display="chip" optionValue="_id">
                        </p-multiSelect>
                    </div>
                </div>
                <div class="p-field p-grid" *ngIf="formMode === 'update'">
                    <label for="form-productVariant" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"> Product Variant:
                    </label>
                    <div class="p-col-12 p-md-10">
                        <p-multiSelect id="form-productVariant" [options]="variants" formControlName="productVariant"
                            defaultLabel="Add a Variant" optionLabel="productName" display="chip" optionValue="_id">
                        </p-multiSelect>
                    </div>
                </div>
                <div class="p-field p-grid">
                    <label for="form-productActive" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"> Product Active:
                    </label>
                    <div class="p-col-12 p-md-10">
                        <p-toggleButton id="form-productActive" formControlName="productActive" onLabel="Enabled"
                            offLabel="Disabled" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width': '10em'}">
                        </p-toggleButton>
                    </div>
                </div>
            </div>


            <div class="card-footer">
                <button type="button" class="btn btn-secondary" [routerLink]="['../']">Cancel</button>
                <button type="submit" class="btn btn-primary float-right" data-toggle="modal"
                    data-target="#exampleModal">
                    Save
                </button>
            </div>
        </form>
    </div>
</div>

<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Action Processed</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Changes saved!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                    [routerLink]="['../']">Close</button>
            </div>
        </div>
    </div>
</div>