<!-- contact-us-section -->
<div class="contact-us-section pt-100 pb-70 bg-black">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 pb-30">
        <div class="contact-item">
          <div class="contact-item-title text-center">
            <h3 class="color-white">Main Head Office</h3>
          </div>
          <div class="contact-item-info">
            <div class="contact-info-list">
              <h3>Email</h3>
              <p>info@matacs.com</p>
            </div>
            <div class="contact-info-list">
              <h3>Phone</h3>
              <p>+1 (902) 292-8333</p>
            </div>
            <div class="contact-info-list">
              <h3>Address</h3>
              <p>878 Howard Ave #1, Windsor, ON N9A 1S2, Canada</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12 order-5 order-lg-0 pb-30">
        <div class="contact-item comment-area">
          <div class="sub-section-title">
            <h3 class="color-white">Leave A Message</h3>
            <p>Your email address will not be published. Required fields are marked *</p>
          </div>
          <div class="comment-form mt-30">
            <form id="contactForm">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <div class="form-group mb-20">
                    <div class="input-group">
                      <input type="text" name="name" id="name" class="form-control" required data-error="Please enter your name" placeholder="Name*" />
                    </div>
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <div class="form-group mb-20">
                    <div class="input-group">
                      <input type="email" name="email" id="email" class="form-control" required data-error="Please enter your email" placeholder="Email*" />
                    </div>
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <div class="form-group mb-20">
                    <div class="input-group">
                      <input type="text" name="phone_number" id="phone_number" required data-error="Please enter your phone number" class="form-control" placeholder="Phone*" />
                    </div>
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <div class="form-group mb-20">
                    <div class="input-group">
                      <input type="text" name="msg_subject" id="msg_subject" class="form-control" required data-error="Please enter your subject" placeholder="Subject*" />
                    </div>
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-12">
                  <div class="form-group mb-20">
                    <div class="input-group">
                      <textarea name="message" class="form-control" id="message" rows="8" placeholder="Your Message*"></textarea>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="custom-control custom-checkbox mb-20">
                    <input type="checkbox" class="custom-control-input" id="contact1">
                    <label class="custom-control-label" for="contact1">Accept <a href="terms-conditions.html">Terms & Conditions</a> and <a href="privacy-policy">Privacy Policy</a></label>
                  </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                  <button class="btn full-width" type="submit">
                    Send A Message
                  </button>
                  <div id="msgSubmit"></div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- .end contact-us-section -->
