<div class="card card-primary" xmlns="http://www.w3.org/1999/html">
  <div class="card-header">
    <h3 class="card-title">Customer Details</h3>
  </div>

  <div class="card-body">
    <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="form-customerName">Customer Name: </label>
        <input type="text" class="form-control form-control-border" formControlName="customerName"
          id="form-customerName" placeholder="Enter Name">
      </div>
      <div class="form-group">
        <label for="form-customerEmail">Customer Email: </label>
        <input type="email" class="form-control form-control-border" formControlName="customerEmail"
          id="form-customerEmail" placeholder="Enter Email">
      </div>
      <div class="form-group">
        <label for="form-customerPhone">Customer Phone: </label>
        <input type="text" class="form-control form-control-border" formControlName="customerPhone"
          id="form-customerPhone" placeholder="Enter Phone">
      </div>
      <div class="form-group">
        <p-toggleButton formControlName="customerActive" id="form-customerActive" onLabel="Enabled" offLabel="Disabled"
          onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width': '10em'}"></p-toggleButton>

      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-secondary" [routerLink]="['../']">Cancel</button>
        <button type="submit" class="btn btn-primary float-right" data-toggle="modal" data-target="#exampleModal">
          Save
        </button>
      </div>
    </form>
  </div>
</div>

<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Action Processed</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Changes saved!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" [routerLink]="['../']">Close</button>
      </div>
    </div>
  </div>
</div>