<div id="pageId-home">
  <app-topbanner></app-topbanner>
  <app-customize-product-modal></app-customize-product-modal>
  <app-welcome-section></app-welcome-section>
  <app-order-section></app-order-section>
  <app-sugestion-section></app-sugestion-section>
  <!--<app-menu-section></app-menu-section>-->
  <!--<app-steps-section></app-steps-section>-->
  <!--<app-special-section></app-special-section>-->
  <!--<app-combo-section></app-combo-section>-->
  <!--<app-download-section></app-download-section>-->
  <!--<app-testimonial-section></app-testimonial-section>-->
  <!--<app-video-section></app-video-section>-->
  <!--<app-blog-section></app-blog-section>-->
  <!--<app-subscribe-section></app-subscribe-section>-->
</div>
