<app-customize-product-modal></app-customize-product-modal>
<div id="sectionId-product-suggestions" *ngIf="_clientService.getCookie().isLoggedIn"
     class="contact-us-section pt-100 pb-70 bg-black">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 pb-30">
        <div class="contact-item">
          <div class="contact-item-title text-center">
            <h3 class="color-white">SEARCH PRODUCT</h3>
            <div *ngIf="!isVoiceToggleOn()">
              <div class="form-group mt-3 mb-20">
                <div class="input-group w-50 p-2 m-auto">
                  <input [formControl]="suggestionControl" type="text" name="name" id="name" class=" form-control"
                         required
                         data-error="Please enter your name" placeholder="Please enter here what you want to order"/>
                </div>
                <div class="help-block with-errors"></div>
              </div>
              <button (click)="sendSuggestion()" class="btn mt-3" type="button">
                Enter
              </button>
            </div>
          </div>
          <div class="container order-types-main">
            <app-spinner *ngIf="_productSuggestionService.loader"></app-spinner>


            <div *ngIf="!_productSuggestionService.loader" class="d-flex flex-wrap justify-content-center">
              <div *ngFor="let item of _productSuggestionService.keywords | keyvalue" class="mb-2"
                   style="margin-right: 8px;border-radius: 20px;padding:5px;color:white;background-color: #E7272D">
                <strong class="text-capitalize">{{item.key}} : {{item.value}}</strong></div>
            </div>

            <div *ngIf="suggestionControl.value && !_productSuggestionService.loader && !_productSuggestionService.suggestedProductList.length" class="d-flex flex-wrap justify-content-center">
              <div class="text-white">
                <strong>No suggestion found please retry!</strong></div>
            </div>


            <div class="receipe-grid mt-4 receipe-grid-three">
              <div *ngFor="let item of _productSuggestionService.suggestedProductList"
                   class="receipe-item receipe-item-black pb-30">
                <div class="receipe-item-inner">
                  <div class="receipe-image">
                    <img [src]="_helperService.resolveProductImage(item)"
                         style="width:100px;height: 100px;border-radius: 10px" alt="receipe">
                  </div>
                  <div class="receipe-content">
                    <div class="receipe-info">
                      <h4>{{item.productName}} : ${{item.productRate.standard}}</h4>
                      <p class="text-white mb-0 mt-1">Size: {{_helperService.getServingSize(item.productServingSize).serving_size_name}}</p>
                      <p *ngIf="_helperService.getProductOptions(item.productOptions).length" class="mb-0 text-white">Options: {{_helperService.getProductOptions(item.productOptions)}}</p>
                      <p *ngIf="_helperService.getProductAddons(item.productAddons).length" class="mb-0 text-white">Addons: {{_helperService.getProductAddons(item.productAddons)}}</p>
                      <p *ngIf="_helperService.getProductTopping(item.productToppings).length" class="mb-0 text-white">Toppings: {{_helperService.getProductTopping(item.productToppings)}}</p>
                      <p class="text-white">Quantity: {{item.productQuantity}}</p>
                    </div>
                    <div class="receipe-cart receipe-cart-main">
                      <a (click)="editFromCart(item)">
                        <i style="font-size: x-large"  class="fas fa-cart-plus"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
