<div *ngIf="_clientService.getCookie().isLoggedIn" class="contact-us-section pt-100 pb-70 bg-black">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 pb-30">
        <div class="contact-item">
          <div class="contact-item-title text-center">
            <h3 class="color-white">Product Suggestions</h3>
            <div *ngIf="!isVoiceToggleOn()">
              <div class="form-group mt-3 mb-20">
                <div class="input-group w-50 p-2 m-auto">
                  <input [formControl]="suggestionControl" type="text" name="name" id="name" class=" form-control"
                         required
                         data-error="Please enter your name" placeholder="Enter your suggestions"/>
                </div>
                <div class="help-block with-errors"></div>
              </div>
              <button (click)="sendSuggestion()" class="btn mt-3" type="submit">
                Enter
              </button>
            </div>
          </div>
          <div class="container order-types-main">
            <app-spinner *ngIf="_productSuggestionService.loader"></app-spinner>


            <div class="d-flex flex-wrap justify-content-center">
              <div *ngFor="let item of _productSuggestionService.keywords"
                   style="margin-right: 8px;border-radius: 20px;padding:5px;color:white;background-color: #E7272D">
                <strong>{{item}}</strong></div>
            </div>


            <div class="receipe-grid mt-4 receipe-grid-three">
              <div *ngFor="let item of _productSuggestionService.suggestedProductList"
                   class="receipe-item receipe-item-black pb-30">
                <div class="receipe-item-inner">
                  <div class="receipe-image">
                    <img [src]="_helperService.resolveProductImage(item)"
                         style="width:100px;height: 100px;border-radius: 10px" alt="receipe">
                  </div>
                  <div class="receipe-content">
                    <div class="receipe-info">
                      <h3><a href="/product-detail/?productId={{item.productId}}">{{item.productName}}</a></h3>
                      <h4>${{item.productRate.standard}}</h4>
                    </div>
                    <div class="receipe-cart receipe-cart-main">
                      <a>
                        <i class="flaticon-supermarket-basket"></i>
                        <i class="flaticon-supermarket-basket"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
