<!-- subscribe-section -->
<section *ngIf="botMeClientService.getCookie().clientName !== 'robot'" class="subscribe-section mural-bg pt-100 pb-70 bg-main">
  <div class="container">
    <div class="subscribe-grid">
      <div class="subscribe-item">
        <div class="section-title text-center text-lg-start m-0">
          <h2 class="color-white">Subscribe Our Newsletter</h2>
          <p>Don't miss any upcoming event & Get your coupon via email.</p>
        </div>
      </div>
      <div class="subscribe-item">
        <div class="subscribe-form">
          <form class="newsletter-form newsletter-form-white" data-bs-toggle="validator">
            <div class="form-group">
              <div class="input-group">
                <input type="email" id="emails" class="form-control" placeholder="Enter Email Address*" name="EMAIL" required autocomplete="off">
              </div>
              <button class="btn btn-yellow" type="submit">Subscribe <i class="flaticon-right-arrow-sketch-1"></i></button>
            </div>
            <div id="validator-newsletter" class="form-result color-white"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- .end subscribe-section -->
