<!-- header-bg-page -->
<div class="header-bg header-bg-page">
  <div class="header-padding position-relative">
    <div class="header-page-shape">
      <div class="header-page-shape-item">
        <img src="assets/images/header-shape-1.png" alt="shape">
      </div>
      <div class="header-page-shape-item">
        <img src="assets/images/header-shape-2.png" alt="shape">
      </div>
      <div class="header-page-shape-item">
        <img src="assets/images/header-shape-3.png" alt="shape">
      </div>
      <div class="header-page-shape-item">
        <img src="assets/images/header-shape-1.png" alt="shape">
      </div>
      <div class="header-page-shape-item">
        <img src="assets/images/header-shape-4.png" alt="shape">
      </div>
      <div class="header-page-shape-item">
        <img src="assets/images/header-shape-1.png" alt="shape">
      </div>
      <div class="header-page-shape-item">
        <img src="assets/images/header-shape-3.png" alt="shape">
      </div>
    </div>
    <div class="container">
      <div class="header-page-content">
        <h1>{{currentRoute | titlecase}}</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{currentRoute | titlecase}}</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- .end header-bg-page -->
