<!-- topbar -->
<div class="topbar bg-main">
  <div class="container">
    <div class="topbar-inner">
      <div class="topbar-item">
        <a href=""><img class="img-fluid matacs-logo" width="50" src="assets/images/logo/logo.png"/></a>
      </div>
      <div class="topbar-item">
        <div class="topbar-right d-flex flex-wrap topbar-right justify-content-center justify-content-md-start full-height">
          <div class="topbar-right-item topbar-padding color-white">
            <i class="flaticon-clock"></i>
            Friday Closed
          </div>
          <div class="topbar-right-item topbar-padding color-white">
            <i class="flaticon-placeholder-1"></i>
            12 Poor Street, New York.
          </div>
          <div class="topbar-right-item topbar-padding color-white">
            <i class="flaticon-smartphone-call"></i>
            <a href="tel:001-964-565-87652" class="color-white">+1 964 565 87652</a>
          </div>
          <div class="topbar-right-item topbar-padding language-button language-option"> <!-- "language-option" class is used for language switcher -->
            <button class="dropdown-toggle color-white lang-compo" type="button" id="language1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <!-- "lang-compo" class is used for language switcher -->
              <img src="assets/images/uk.png" alt="flag">
              English
            </button>
            <div class="dropdown-menu language-dropdown-menu" aria-labelledby="language1"> <!-- "language-dropdown-menu" class is used for language switcher -->
              <a class="dropdown-item" href="#">
                <img src="assets/images/uk.png" alt="flag">
                English
              </a>
              <a class="dropdown-item" href="#">
                <img src="assets/images/germany.png" alt="flag">
                Deutsch
              </a>
              <a class="dropdown-item" href="#">
                <img src="assets/images/china.png" alt="flag">
                简体中文
              </a>
              <a class="dropdown-item" href="#">
                <img src="assets/images/arab.png" alt="flag">
                العربيّة
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- .end topbar -->
