<div class="card">
  <div class="card-body">
    <div class="d-flex align-items-center justify-content-between m-b-15">
      <h4 class="m-b-0">Reservation List</h4>
      <div class="card-toolbar">
        <ul>
          <!-- <li>
            <a class="text-gray" href="javascript:void(0)">
              <i class="anticon anticon-reload font-size-20"></i>
            </a>
          </li>-->
          <li>
            <a class="text-gray" href="javascript:void(0)">
              <i class="anticon anticon-delete font-size-20"></i>
            </a>
          </li>
          <li>
            <a class="text-gray" [routerLink]="['detail']">
              <i class="anticon anticon-plus font-size-20"></i>
              Add New
            </a>
          </li>
        </ul>
      </div>
    </div>
    <p-table #dt1 [value]="reservations" [responsive]="true" [paginator]="true" [rows]="10" [loading]="loading"
      [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[10,25,50]"
      [globalFilterFields]="['customer.customerName', 'reservationSeats','table.tableId','reservationType','reservationSource']">
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
            (click)="clear(dt1)"></button>
          <span class="p-input-icon-left p-ml-auto" style="float: right;">
            <i class="pi pi-search"></i>
            <input #search pInputText type="text" (input)="dt1.filterGlobal(search.value, 'contains')"
              placeholder="Search keyword" />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="reservationId">ID <p-sortIcon field="reservationId"></p-sortIcon>
          </th>
          <th pSortableColumn="customer.customerName">Customer <p-sortIcon field="customer.customerName"></p-sortIcon>
          </th>
          <th pSortableColumn="reservationSeats">Seats <p-sortIcon field="reservationSeats"></p-sortIcon>
          </th>
          <th pSortableColumn="table.tableId">Table <p-sortIcon field="table.tableId"></p-sortIcon>
          </th>
          <th pSortableColumn="reservationType">Type <p-sortIcon field="reservationType"></p-sortIcon>
          </th>
          <th pSortableColumn="reservationSource">Source <p-sortIcon field="reservationSource"></p-sortIcon>
          </th>
          <th pSortableColumn="createdAt">DateTime <p-sortIcon field="createdAt"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
     
      <ng-template pTemplate="body" let-reservation>
        <tr>
          <td>
            <p-tableCheckbox [value]="reservation"></p-tableCheckbox>
          </td>
          <td><button class="btn btn-primary btn-tone m-r-5" [routerLink]="['detail']"
              [queryParams]="{ reservationId: reservation.reservationId}">
              {{reservation.reservationId}}</button></td>
          <td>{{reservation.customer.customerName}}</td>
          <td>{{reservation.reservationSeats}}</td>
          <td>{{reservation.table.tableId}}</td>
          <td>{{reservation.reservationType}}</td>
          <td>{{reservation.reservationSource}}</td>
          <td>{{reservation.createdAt}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
        <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
      </ng-template>
      <ng-template pTemplate="paginatorright">
        <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
      </ng-template>
    </p-table>
  </div>
</div>