[Unit]
Description=Nodejs Websocket Server
After=network.target

[Service]
ExecStart=/usr/bin/npm start
Restart=on-failure
User=ec2-user
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=ec2-user
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
Environment=CIENTS_API='http://localhost:3000/client/'
Environment=WS_PORT=6380
WorkingDirectory=/home/ec2-user/AWS-Training/nodejs-ws-server

[Install]
WantedBy=multi-user.target