<!-- <div class="card chat-bot" [class.d-none]="closeChatModal" style="width: 18rem;">
    <div class="card-header">
        <h6 class="card-title d-inline">Sofia Bot</h6>
        <button type="button" class="btn-close float-end" (click)="close()" data-bs-dismiss="modal"
            aria-label="Close"></button>
    </div>
    <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">Sofia reply :<small> Good evening...</small></h6>
    </div>
</div> -->
<!-- <div cdkDrag>
    <a type="button" (click)="startRecording()" class="sofia-bot-button"><img [class.bot-animation]="isRecording"
            src="../../../../assets/images/logo/logo.png"></a>
</div> -->
<!-- <audio controls autoplay>
    <source src="voice" type="audio/mpeg">
    Your browser does not support the audio element.
</audio> -->

<!-- <select class="form-select" aria-label="Interaction Mode">
    <option selected value="voice">Voice</option>
    <option value="touch">Touch Only</option>

</select> -->
<div class="interaction">
    <h2 class="i-heading align">Interaction Mode:</h2>
    <div class="btn-group-sm align" role="group" aria-label="Interaction Mode" (change)="updateInteractionState()">
        <input type="radio" class="btn-check" id="touch" autocomplete="off" [value]="false"
            [(ngModel)]="speechEnabled" />
        <label class="btn btn-outline-primary" for="touch">Touch Only 👆</label>

        <input type="radio" class="btn-check" id="voice" autocomplete="off" [value]="true"
            [(ngModel)]="speechEnabled" />
        <label class="btn btn-outline-primary align" for="voice">Voice 🎙️</label>
    </div>
</div>