<!-- product-cart -->
<div class="cart-modal-wrapper">
  <div class="cart-modal modal-item">
    <div class="cart-modal-header">
      <h3 class="color-white">Cart</h3>
      <div class="cart-modal-close">
        <i class="flaticon-cancel"></i>
      </div>
    </div>
    <div class="cart-modal-body">
      <h2 class="color-white">My Order</h2>
      <div class="cart-modal-product" *ngFor="let product of cartProducts">
        <div class="cart-modal-thumb">
          <a href="/product-detail/?productId={{product.productId}}">
            <img [src]="resolveImages(product)" alt="product">
          </a>
        </div>
        <div class="cart-modal-content">
          <h4><a href="javascript:void(0)">{{product.productName}}</a></h4>
          <div class="cart-modal-action">
            <div class="cart-modal-action-item">
              <div class="cart-modal-quantity">
                <p class="cart-quantity-price">
                  <span *ngFor="let top of product.productToppings"><span *ngIf="top.productQuantity">{{top.productName }}( ${{top.productTotalPrice}})<br></span></span></p>
              </div>
              <div class="cart-modal-quantity">
                <p class="cart-quantity-price">
                  <span *ngFor="let addon of product.productAddons"><span *ngIf="addon.productQuantity">{{addon.productName }}( ${{addon.productTotalPrice}})<br> </span></span></p>
              </div>
              <div class="mt-2 cart-modal-quantity">
                <p class="cart-quantity-price"><strong>Sub Total</strong> : ${{product.productTotalPrice}}
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-between mt-2 cart-modal-action-item">
            <div class="cart-modal-delete">
              <a href="javascript:void(0)" (click)="removeFromCart(product.productId)"><i
                class="icofont-ui-delete"></i></a>
            </div>
            <div class="cart-modal-delete">
              <a href="javascript:void(0)" (click)="editFromCart(product)">
                <i class="fas fa-edit"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="cart-modal-total">
        <p>Total</p>
        <h3>${{totalCartPrice()}}</h3>
      </div>
      <div class="cart-modal-button">
        <button [disabled]="cartProducts && !cartProducts.length" routerLink="/checkout" class="btn full-width">Proceed To Checkout</button>
        <button [disabled]="cartProducts && !cartProducts.length" routerLink="/cart" class="btn btn-yellow full-width">View Shopping Cart</button>
      </div>
      <!-- The commented content in below is currently used "display: none". If no data is in the modal, just add "active" class with it and hide rest of the data. -->
      <!-- <div class="modal-no-data">
          <img src="assets/images/empty-shopping-basket.png" alt="empty">
          <h3>No Data Available</h3>
      </div> -->
    </div>
  </div>
</div>
<!-- .end product-cart -->
