<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">Client Details</h3>
  </div>
  <!-- /.card-header -->
  <div class="card-body">

    <h4 *ngIf="client">{{client.clientName }}</h4>

    <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="form-client-id">Client Name: </label>
        <input type="text" class="form-control form-control-border " id="form-client-name"
          formControlName="formclientname">
      </div>
      <div class="form-group">
        <label for="form-client-id">Client Email: </label>
        <input type="text" class="form-control form-control-border " id="form-client-name"
               formControlName="clientEmail">
      </div>
      <div class="form-group">
        <label for="form-client-id">Client ID: </label>
        <input *ngIf="formMode==='new'" type="text" class="form-control form-control-border " id="form-client-id"
          formControlName="formclientid">
        <input *ngIf="formMode==='update'" type="text" class="form-control form-control-border " id="form-client-id"
          formControlName="formclientid" readonly>
      </div>
      <div class="form-group">
        
        <div><label for="form-clientdeviceid" >Client Device ID: </label></div>
        <p-dropdown [options]="deviceList" placeholder="Select device" optionLabel="deviceName"
          optionValue="deviceId" id="form-client-device-id" formControlName="formclientdeviceid" [style]="{'width':'100%'}"></p-dropdown>
        <!-- <input type="text" class="form-control form-control-border" id="form-client-device-id"
          formControlName="formclientdeviceid"> -->
      </div>
      <div class="form-group">
        <label for="form-client-secret">Client Secret: </label>
        <input type="password" class="form-control form-control-border" id="form-client-secret" [feedback]="false"
          formControlName="formclientsecret" pPassword>
      </div>
      <div class="form-group">
        <label for="form-client-id">client Secret Hint: </label>
        <input type="text" class="form-control form-control-border " id="form-client-name"
               formControlName="clientSecretHint">
      </div>
      <div class="form-group">
        <label for="form-restaurant-id">Restaurant: {{restaurantObj.restaurantName}}</label>
<!--        <select class="form-control" formControlName="formrestaurantid">-->
<!--          <option [value]="obj.restaurantName" *ngFor="let obj of restaurantList">{{obj.restaurantName}}</option>-->
<!--        </select>-->
      </div>
      <div class="form-group">
        <label for="form-client-voice-timeout">Client Voice Timeout (ms): </label>
        <input type="number" mode="decimal" class="form-control form-control-border" id="form-client-voice-timeout"
          formControlName="formclientvoicetimeout">
      </div>
      <div *ngIf="formMode==='update'" class="form-group">
        <label for="form-client-created">Created: </label>
        <input type="text" class="form-control form-control-border" id="form-client-created"
          value="{{client.clientCreated}}" readonly="readonly">
      </div>
      <div *ngIf="formMode==='update'" class="form-group">
        <label for="form-client-updated">Updated: </label>
        <input type="text" class="form-control form-control-border" id="form-client-updated"
          value="{{client.clientUpdated}}" readonly="readonly">
      </div>

      <div class="form-group">
        <label for="form-client-comment">Comment: </label>
        <input type="text" class="form-control form-control-border" id="form-client-comment"
          formControlName="formclientcomment">
      </div>

      <div class="p-col-12 p-md-10">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label for="formclientactive" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 ">
                Active
              </label>
              <div class="p-col-12 p-md-10">
                <p-toggleButton id="form-client-active" formControlName="formclientactive" onLabel="Enabled"
                  offLabel="Disabled" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width': '10em'}">
                </p-toggleButton>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="formclientdebug" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 ">
                Debug
              </label>
              <div class="p-col-12 p-md-10">
                <p-toggleButton id="form-client-active" formControlName="formclientdebug" onLabel="Enabled"
                  offLabel="Disabled" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width': '10em'}">
                </p-toggleButton>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="formclientvoice" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0 ">
                Voice
              </label>
              <div class="p-col-12 p-md-10">
                <p-toggleButton id="form-client-active" formControlName="formclientvoice" onLabel="Enabled"
                  offLabel="Disabled" onIcon="pi pi-check" offIcon="pi pi-times" [style]="{'width': '10em'}">
                </p-toggleButton>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-secondary" [routerLink]="['../']">Cancel</button>
        <button type="submit" class="btn btn-primary float-right" data-toggle="modal" data-target="#exampleModal">
          Save
        </button>
      </div>
    </form>
  </div>
</div>

