<!-- download-section -->
<section class="download-section building-shape pt-100 pb-70 bg-overlay-2">
  <div class="container position-relative">
    <div class="row align-items-center">
      <div class="col-sm-12 col-lg-7 pb-30">
        <div class="download-image-grid">
          <div class="download-image-mobile wow animate__slideInLeft" data-wow-duration="1.3s" data-wow-delay="0.1s">
            <div class="download-image-mobile-item">
              <img src="assets/images/mobile-shape-1.png" alt="mobile">
            </div>
            <div class="download-image-mobile-item">
              <img src="assets/images/mobile-shape-2.png" alt="mobile">
            </div>
          </div>
          <div class="download-image-rider wow animate__slideInLeft" data-wow-duration="2s" data-wow-delay="0.4s">
            <img src="assets/images/rider.png" alt="rider">
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-5 pb-30 wow animate__slideInUp" data-wow-duration="1s" data-wow-delay="0.3s">
        <div class="about-content section-title text-center text-lg-end m-0">
          <h2 class="color-white">Download Our App & Order Online To Get Free Delivery</h2>
          <p>We are the country's no.1 Fast food retailer with 15+ years of reputation. Country's best burger and pizza are delivered by us. We gain the satisfaction of our customers with our delicate service and extreme high food quality.</p>
          <ul class="button-list justify-content-center justify-content-lg-end">
            <li>
              <a href="#" class="btn">
                Download From
                <i class="flaticon-playstore"></i>
              </a>
            </li>
            <li>
              <a href="#" class="btn">
                Download From
                <i class="icofont-brand-appstore"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- .end download-section -->
